In [24]:
import matplotlib.pyplot as plt
import pandas as pd

# Replace 'path_to_your_file.csv' with the actual path to your file
data = pd.read_csv('/Users/pragyatyagi/PycharmProjects/mood-prediction/data/raw/dataset_mood_smartphone.csv')

In [25]:
df = pd.DataFrame(data)
print(len(data))

376912

In [26]:
import math

#TODO  trying to clean up the missing values
mood_value_list = data['value'].tolist()
missing_value = [value for value in mood_value_list if value is None or math.isnan(value)]

#drop all the nan values as it was very less in numbers (202)
df_missing = pd.DataFrame(missing_value)
df_missing.dropna(inplace=True) 
print(len(df_missing))
print(len(data))

0
376912

In [72]:
rows_for_id = df[(df['id'] == 'AS14.01') & (df['variable'] == 'mood')]


# Print the filtered rows
print(rows_for_id.head())

   Unnamed: 0       id                     time variable  value
0           1  AS14.01  2014-02-26 13:00:00.000     mood    6.0
1           2  AS14.01  2014-02-26 15:00:00.000     mood    6.0
2           3  AS14.01  2014-02-26 18:00:00.000     mood    6.0
3           4  AS14.01  2014-02-26 21:00:00.000     mood    7.0
4           5  AS14.01  2014-02-27 09:00:00.000     mood    6.0

In [47]:
# fetching all rows with variable mood
all_rows = df[df['variable'] == 'mood']

# all the userid list
ids_list = all_rows['id'].tolist()
ids = set()

# Iterate through each dictionary in the list
for item in ids_list:
    # Add the ID to the set
    ids.add(item)

# Convert the set to a list
print(sorted(ids))

['AS14.01', 'AS14.02', 'AS14.03', 'AS14.05', 'AS14.06', 'AS14.07', 'AS14.08', 'AS14.09', 'AS14.12', 'AS14.13', 'AS14.14', 'AS14.15', 'AS14.16', 'AS14.17', 'AS14.19', 'AS14.20', 'AS14.23', 'AS14.24', 'AS14.25', 'AS14.26', 'AS14.27', 'AS14.28', 'AS14.29', 'AS14.30', 'AS14.31', 'AS14.32', 'AS14.33']

In [13]:
# trying to write data in the new dataset
import csv

file = "/Users/pragyatyagi/PycharmProjects/mood-prediction/data/raw/mood-dataset-new.csv"
df['time'] = pd.to_datetime(df['time'])

    
# Open the CSV file in write mode
with open(file, 'w', newline='') as csvfile:
    csvwriter = csv.writer(csvfile)
    csvwriter.writerow(['userid', 'date', 'mood'])

    for id_val in ids:
        filtered_df = df[(df['id'] == id_val) & (df['variable'] == 'mood')]

        average_df = round(df.groupby(filtered_df['time'].dt.date)['value'].mean())
        time_index = average_df.index

        date = time_index.astype(str).tolist()
        mood = average_df.tolist()
        userid = [id_val] * len(date)

        data = zip(userid, date, mood)

        # Write each tuple (date, value) to the CSV file
        csvwriter.writerows(data)

In [49]:
# average arousal value per day
for id_val in ids:
    filtered_df = df[(df['id'] == id_val) & (df['variable'] == 'circumplex.arousal')]

    # # Group by 'time' and calculate the average of 'value'
    average_df = round(df.groupby(filtered_df['time'].dt.date)['value'].mean())

    print(average_df)

time
2014-03-21    1.0
2014-03-22   -1.0
2014-03-23   -1.0
2014-03-24   -0.0
2014-03-25   -1.0
2014-03-26   -1.0
2014-03-27    0.0
2014-03-28   -1.0
2014-03-29    0.0
2014-03-30   -0.0
2014-03-31   -0.0
2014-04-01    0.0
2014-04-02   -0.0
2014-04-03    0.0
2014-04-04   -0.0
2014-04-05   -1.0
2014-04-06   -1.0
2014-04-07   -1.0
2014-04-08   -0.0
2014-04-09   -0.0
2014-04-10   -0.0
2014-04-11   -1.0
2014-04-12    0.0
2014-04-13   -1.0
2014-04-14    0.0
2014-04-15   -1.0
2014-04-16   -1.0
2014-04-17   -1.0
2014-04-18   -1.0
2014-04-19   -0.0
2014-04-20    0.0
2014-04-21   -0.0
2014-04-22    1.0
2014-04-23   -1.0
2014-04-24   -1.0
2014-04-25   -1.0
2014-04-26    1.0
2014-04-27   -2.0
2014-04-28    0.0
2014-04-29    0.0
2014-04-30    0.0
2014-05-01   -0.0
2014-05-02    0.0
2014-05-03    0.0
2014-05-04   -0.0
2014-05-05    0.0
Name: value, dtype: float64
time
2014-04-08    0.0
2014-04-09    0.0
2014-04-10    0.0
2014-04-11   -0.0
2014-04-12   -0.0
2014-04-13   -0.0
2014-04-14    1.0
2014-04-15   -0.0
2014-04-16    0.0
2014-04-17    0.0
2014-04-18   -0.0
2014-04-19   -1.0
2014-04-20    0.0
2014-04-21   -0.0
2014-04-22    0.0
2014-04-23   -0.0
2014-04-24   -1.0
2014-04-25   -0.0
2014-04-26    0.0
2014-04-27    0.0
2014-04-28    0.0
2014-04-29   -1.0
2014-04-30    1.0
2014-05-01   -1.0
2014-05-02   -1.0
2014-05-03   -0.0
2014-05-04    1.0
2014-05-05   -1.0
2014-05-07   -0.0
2014-05-08    0.0
Name: value, dtype: float64
time
2014-04-14    1.0
2014-04-15   -1.0
2014-04-16   -0.0
2014-04-17   -2.0
2014-04-18    0.0
2014-04-19    0.0
2014-04-20    1.0
2014-04-21    0.0
2014-04-22    0.0
2014-04-23   -0.0
2014-04-24   -0.0
2014-04-25    0.0
2014-04-26    1.0
2014-04-27   -1.0
2014-04-28    0.0
2014-04-29    1.0
2014-04-30    0.0
2014-05-01   -1.0
2014-05-02   -1.0
2014-05-03   -1.0
2014-05-04   -0.0
2014-05-05   -1.0
2014-05-07    1.0
2014-05-08    0.0
2014-05-09   -1.0
2014-05-10   -0.0
2014-05-11   -1.0
2014-05-12   -1.0
2014-05-13   -0.0
2014-05-14   -1.0
2014-05-15    0.0
2014-05-16    0.0
2014-05-17   -0.0
2014-05-18   -0.0
2014-05-19    0.0
2014-05-20    0.0
2014-05-21    0.0
2014-05-22    1.0
2014-05-23   -0.0
2014-05-24    0.0
2014-05-25    0.0
2014-05-26    1.0
2014-05-27    0.0
2014-05-28    0.0
2014-05-29   -0.0
2014-05-30    0.0
2014-05-31    1.0
2014-06-01   -1.0
2014-06-02    0.0
2014-06-03    0.0
2014-06-04    0.0
2014-06-05    0.0
2014-06-06    0.0
2014-06-07   -1.0
2014-06-08   -2.0
Name: value, dtype: float64
time
2014-04-02    0.0
2014-04-03    1.0
2014-04-04    0.0
2014-04-05    1.0
2014-04-06    0.0
2014-04-07    0.0
2014-04-08    1.0
2014-04-09    0.0
2014-04-10    0.0
2014-04-11    1.0
2014-04-12    1.0
2014-04-13   -1.0
2014-04-14   -1.0
2014-04-15    0.0
2014-04-16    0.0
2014-04-17    1.0
2014-04-18    0.0
2014-04-19    1.0
2014-04-20    1.0
2014-04-21    0.0
2014-04-22    0.0
2014-04-23    1.0
2014-04-24    0.0
2014-04-25    1.0
2014-04-26    0.0
2014-04-27    1.0
2014-04-28    1.0
2014-04-29    0.0
2014-04-30    0.0
2014-05-01    1.0
2014-05-02    1.0
2014-05-03    1.0
2014-05-04    1.0
2014-05-05    1.0
2014-05-07    0.0
2014-05-08    1.0
2014-05-09    1.0
2014-05-10    1.0
2014-05-11    0.0
2014-05-12    1.0
2014-05-13    1.0
2014-05-14    1.0
2014-05-15    0.0
Name: value, dtype: float64
time
2014-03-13   -2.0
2014-03-14    0.0
2014-03-15    0.0
2014-03-16   -1.0
2014-03-17    0.0
2014-03-18   -0.0
2014-03-19   -0.0
2014-03-20    1.0
2014-03-21    1.0
2014-03-22    1.0
2014-03-23    2.0
2014-03-24    1.0
2014-03-25    1.0
2014-03-26   -1.0
2014-03-27   -1.0
2014-03-28   -1.0
2014-03-29   -2.0
2014-03-30   -1.0
2014-03-31   -1.0
2014-04-01   -2.0
2014-04-02   -1.0
2014-04-03   -1.0
2014-04-04   -1.0
2014-04-05    0.0
2014-04-06    0.0
2014-04-07   -0.0
2014-04-08    1.0
2014-04-09   -0.0
2014-04-10    1.0
2014-04-11    1.0
2014-04-12    1.0
2014-04-13    0.0
2014-04-14   -1.0
2014-04-15   -1.0
2014-04-16   -0.0
2014-04-17   -1.0
2014-04-18   -1.0
2014-04-19   -1.0
2014-04-20   -2.0
2014-04-21   -1.0
2014-04-22   -1.0
2014-04-23   -1.0
2014-04-24    1.0
2014-04-25   -0.0
2014-04-26   -2.0
2014-04-27   -0.0
2014-04-28   -2.0
2014-04-29   -1.0
2014-04-30   -1.0
2014-05-01   -1.0
2014-05-02   -1.0
2014-05-03   -1.0
2014-05-04   -1.0
Name: value, dtype: float64
time
2014-03-23    0.0
2014-03-24   -0.0
2014-03-25   -0.0
2014-03-26    1.0
2014-03-27   -0.0
             ...
2014-05-26    0.0
2014-05-27    0.0
2014-05-28    1.0
2014-05-29    0.0
2014-05-30   -0.0
Name: value, Length: 68, dtype: float64
time
2014-03-31    0.0
2014-04-01    0.0
2014-04-02   -0.0
2014-04-03    0.0
2014-04-04   -0.0
2014-04-05   -1.0
2014-04-06   -1.0
2014-04-07    0.0
2014-04-08   -0.0
2014-04-09   -1.0
2014-04-10   -1.0
2014-04-11   -1.0
2014-04-12   -1.0
2014-04-13   -1.0
2014-04-14   -1.0
2014-04-15   -0.0
2014-04-16    1.0
2014-04-17   -0.0
2014-04-18   -0.0
2014-04-19   -0.0
2014-04-20   -0.0
2014-04-21   -0.0
2014-04-22   -1.0
2014-04-23    0.0
2014-04-24   -0.0
2014-04-25   -0.0
2014-04-26    0.0
2014-04-27    0.0
2014-04-28   -0.0
2014-04-29   -0.0
2014-04-30   -0.0
2014-05-01   -1.0
2014-05-02   -0.0
2014-05-03    0.0
2014-05-04   -0.0
2014-05-05    0.0
2014-05-07    0.0
2014-05-08    0.0
Name: value, dtype: float64
time
2014-04-02    0.0
2014-04-03   -1.0
2014-04-04   -1.0
2014-04-05    1.0
2014-04-06    0.0
2014-04-07   -1.0
2014-04-08   -1.0
2014-04-09    0.0
2014-04-10    0.0
2014-04-11    0.0
2014-04-12    1.0
2014-04-13    0.0
2014-04-14   -1.0
2014-04-15   -0.0
2014-04-16    0.0
2014-04-17    1.0
2014-04-18   -0.0
2014-04-19   -1.0
2014-04-20   -0.0
2014-04-21    0.0
2014-04-22   -0.0
2014-04-23    1.0
2014-04-24    0.0
2014-04-25    0.0
2014-04-26    0.0
2014-04-27   -1.0
2014-04-28   -0.0
2014-04-29    0.0
2014-04-30   -0.0
2014-05-01    0.0
2014-05-03    1.0
2014-05-04   -1.0
2014-05-05   -0.0
2014-05-07   -0.0
2014-05-08    0.0
2014-05-09   -0.0
2014-05-10   -0.0
2014-05-11   -1.0
2014-05-12   -0.0
2014-05-13    1.0
2014-05-14    0.0
2014-05-15   -0.0
Name: value, dtype: float64
time
2014-03-20   -1.0
2014-03-21    0.0
2014-03-22    1.0
2014-03-23    1.0
2014-03-24   -0.0
2014-03-25   -1.0
2014-03-26    0.0
2014-03-27    0.0
2014-03-28    0.0
2014-03-29    1.0
2014-03-30    1.0
2014-03-31    1.0
2014-04-01    0.0
2014-04-02    0.0
2014-04-03    0.0
2014-04-04    1.0
2014-04-05    0.0
2014-04-06    1.0
2014-04-07    1.0
2014-04-08    0.0
2014-04-09    0.0
2014-04-10    0.0
2014-04-11    0.0
2014-04-12    0.0
2014-04-13    0.0
2014-04-14    0.0
2014-04-15    0.0
2014-04-16    0.0
2014-04-17   -0.0
2014-04-18    0.0
2014-04-19    0.0
2014-04-20   -0.0
2014-04-21    0.0
2014-04-22    0.0
2014-04-23   -0.0
2014-04-24   -0.0
2014-04-25    0.0
2014-04-26    0.0
2014-04-27    0.0
2014-04-28    0.0
2014-04-29    0.0
2014-04-30    0.0
2014-05-01    0.0
2014-05-02    0.0
2014-05-03    0.0
2014-05-04    0.0
2014-05-05    0.0
Name: value, dtype: float64
time
2014-04-03   -0.0
2014-04-04    1.0
2014-04-05   -0.0
2014-04-06   -1.0
2014-04-07    1.0
2014-04-08   -1.0
2014-04-09    0.0
2014-04-10   -0.0
2014-04-11    0.0
2014-04-12    0.0
2014-04-13    0.0
2014-04-14   -1.0
2014-04-15   -1.0
2014-04-16   -1.0
2014-04-17    0.0
2014-04-18    0.0
2014-04-19   -0.0
2014-04-20   -0.0
2014-04-21    0.0
2014-04-22   -1.0
2014-04-23    0.0
2014-04-24    1.0
2014-04-25    1.0
2014-04-26    1.0
2014-04-27    0.0
2014-04-28    0.0
2014-04-29   -1.0
2014-04-30    1.0
2014-05-01    0.0
2014-05-02   -1.0
2014-05-03    1.0
2014-05-04   -0.0
2014-05-05    0.0
2014-05-07    1.0
2014-05-08    1.0
2014-05-09    1.0
2014-05-10    1.0
2014-05-11    1.0
2014-05-12    0.0
2014-05-13    1.0
2014-05-14    1.0
2014-05-15    2.0
Name: value, dtype: float64
time
2014-02-26   -0.0
2014-02-27    0.0
2014-03-21    0.0
2014-03-22    1.0
2014-03-23    0.0
2014-03-24    1.0
2014-03-25    0.0
2014-03-26   -0.0
2014-03-27    0.0
2014-03-28   -1.0
2014-03-29    0.0
2014-03-30   -0.0
2014-03-31    0.0
2014-04-01    0.0
2014-04-02    0.0
2014-04-03   -1.0
2014-04-04    0.0
2014-04-05   -0.0
2014-04-06   -1.0
2014-04-07   -1.0
2014-04-08   -0.0
2014-04-09   -1.0
2014-04-10   -0.0
2014-04-11   -1.0
2014-04-12   -1.0
2014-04-13   -1.0
2014-04-14   -1.0
2014-04-15    0.0
2014-04-16    1.0
2014-04-17   -0.0
2014-04-18   -1.0
2014-04-19   -0.0
2014-04-20   -0.0
2014-04-21   -0.0
2014-04-22    0.0
2014-04-23    0.0
2014-04-24   -0.0
2014-04-25   -0.0
2014-04-26   -0.0
2014-04-27    0.0
2014-04-28   -1.0
2014-04-29   -0.0
2014-04-30   -0.0
2014-05-01   -0.0
2014-05-02   -0.0
2014-05-03   -0.0
2014-05-04   -0.0
Name: value, dtype: float64
time
2014-04-16    0.0
2014-04-17   -1.0
2014-04-18   -1.0
2014-04-19    0.0
2014-04-20    0.0
2014-04-21    0.0
2014-04-22   -1.0
2014-04-23   -0.0
2014-04-24   -0.0
2014-04-25    1.0
2014-04-26    0.0
2014-04-27   -1.0
2014-04-28   -1.0
2014-04-29   -0.0
2014-04-30   -1.0
2014-05-01   -1.0
2014-05-04    0.0
2014-05-05   -2.0
2014-05-07   -0.0
2014-05-08   -1.0
2014-05-09    0.0
2014-05-10   -0.0
2014-05-11    0.0
2014-05-12   -1.0
2014-05-13    0.0
2014-05-14   -0.0
2014-05-15    0.0
2014-05-16    0.0
2014-05-17    0.0
2014-05-18   -1.0
2014-05-19   -0.0
2014-05-20   -0.0
2014-05-21   -1.0
2014-05-22    0.0
2014-05-23   -1.0
2014-05-24   -1.0
2014-05-25   -1.0
2014-05-26   -0.0
2014-05-27   -1.0
2014-05-28    0.0
2014-05-29   -1.0
2014-05-30   -1.0
2014-05-31   -2.0
Name: value, dtype: float64
time
2014-03-24   -1.0
2014-03-25   -0.0
2014-03-26    0.0
2014-03-27    0.0
2014-03-28   -0.0
2014-03-29    0.0
2014-03-30    0.0
2014-03-31   -0.0
2014-04-01    0.0
2014-04-02   -1.0
2014-04-03    0.0
2014-04-04   -0.0
2014-04-05   -0.0
2014-04-06   -1.0
2014-04-07   -1.0
2014-04-08   -0.0
2014-04-09    0.0
2014-04-10   -0.0
2014-04-11   -0.0
2014-04-12    0.0
2014-04-13   -2.0
2014-04-14   -0.0
2014-04-15   -0.0
2014-04-16    0.0
2014-04-17    0.0
2014-04-18   -1.0
2014-04-19    0.0
2014-04-20    1.0
2014-04-21    0.0
2014-04-22   -0.0
2014-04-23    0.0
2014-04-24   -0.0
2014-04-25   -1.0
2014-04-26    0.0
2014-04-27   -1.0
2014-04-28   -0.0
2014-04-29    0.0
2014-04-30   -1.0
2014-05-01    0.0
2014-05-02   -1.0
2014-05-03   -1.0
2014-05-04   -1.0
2014-05-05   -1.0
2014-05-07   -0.0
2014-05-08   -1.0
Name: value, dtype: float64
time
2014-03-20    0.0
2014-03-21   -1.0
2014-03-22   -1.0
2014-03-23   -1.0
2014-03-24   -1.0
2014-03-25   -0.0
2014-03-26   -0.0
2014-03-27   -1.0
2014-03-28   -0.0
2014-03-29   -0.0
2014-03-30   -1.0
2014-03-31   -0.0
2014-04-01    0.0
2014-04-02   -1.0
2014-04-03   -0.0
2014-04-04   -1.0
2014-04-05   -2.0
2014-04-06   -1.0
2014-04-07   -0.0
2014-04-08   -0.0
2014-04-09    0.0
2014-04-10   -0.0
2014-04-11    1.0
2014-04-12    0.0
2014-04-14    0.0
2014-04-15   -1.0
2014-04-16    0.0
2014-04-17    0.0
2014-04-18   -1.0
2014-04-19    0.0
2014-04-20   -1.0
2014-04-21    0.0
2014-04-22   -0.0
2014-04-23   -1.0
2014-04-24    0.0
2014-04-25    1.0
2014-04-26   -1.0
2014-04-27    0.0
2014-04-30    1.0
2014-05-01    0.0
2014-05-02    0.0
2014-05-03    0.0
2014-05-04    0.0
2014-05-05   -1.0
Name: value, dtype: float64
time
2014-03-14   -0.0
2014-03-15    1.0
2014-03-16   -1.0
2014-03-17    0.0
2014-03-18    0.0
2014-03-19    0.0
2014-03-20    1.0
2014-03-21    0.0
2014-03-22   -0.0
2014-03-23    0.0
2014-03-24    1.0
2014-03-25    1.0
2014-03-26    1.0
2014-03-27    1.0
2014-03-28    1.0
2014-03-29   -1.0
2014-03-30   -1.0
2014-03-31    0.0
2014-04-01    1.0
2014-04-02    1.0
2014-04-03    1.0
2014-04-04    1.0
2014-04-05    1.0
2014-04-06   -0.0
2014-04-07    0.0
2014-04-08    0.0
2014-04-09    0.0
2014-04-10    0.0
2014-04-11    0.0
2014-04-12    1.0
2014-04-13    2.0
2014-04-14    1.0
2014-04-15   -0.0
2014-04-16    0.0
2014-04-17    0.0
2014-04-18   -0.0
2014-04-19   -0.0
2014-04-20    0.0
2014-04-21   -0.0
2014-04-22    0.0
2014-04-23    1.0
2014-04-24    2.0
2014-04-25    1.0
2014-04-26   -0.0
2014-04-27    1.0
2014-04-28    1.0
2014-04-29    1.0
2014-04-30    1.0
2014-05-01   -0.0
2014-05-02    0.0
2014-05-03    0.0
2014-05-04   -0.0
2014-05-05    1.0
2014-05-07    0.0
2014-05-08    0.0
Name: value, dtype: float64

time
2014-03-20    0.0
2014-03-21   -0.0
2014-03-22   -1.0
2014-03-23   -1.0
2014-03-24   -0.0
2014-03-25   -0.0
2014-03-26    0.0
2014-03-27   -1.0
2014-03-28    0.0
2014-03-29   -1.0
2014-03-30   -1.0
2014-03-31   -1.0
2014-04-01   -1.0
2014-04-02   -1.0
2014-04-03    0.0
2014-04-04   -1.0
2014-04-05   -1.0
2014-04-06   -1.0
2014-04-07    0.0
2014-04-08   -1.0
2014-04-09   -0.0
2014-04-10   -1.0
2014-04-11   -1.0
2014-04-12   -1.0
2014-04-13   -2.0
2014-04-14   -0.0
2014-04-15   -1.0
2014-04-16   -0.0
2014-04-17   -1.0
2014-04-18   -1.0
2014-04-19   -1.0
2014-04-20   -1.0
2014-04-21   -2.0
2014-04-22   -1.0
2014-04-23   -1.0
2014-04-24   -1.0
2014-04-25   -1.0
2014-04-26   -1.0
2014-04-27   -1.0
2014-04-28   -1.0
2014-04-29   -1.0
2014-04-30   -1.0
2014-05-01   -1.0
2014-05-02   -1.0
2014-05-03   -1.0
2014-05-04   -1.0
2014-05-05   -1.0
Name: value, dtype: float64
time
2014-03-15    0.0
2014-03-27   -0.0
2014-03-28    0.0
2014-03-29    1.0
2014-03-30   -0.0
2014-03-31    0.0
2014-04-01    0.0
2014-04-02   -0.0
2014-04-03    0.0
2014-04-04    1.0
2014-04-05    0.0
2014-04-06    0.0
2014-04-07    0.0
2014-04-08    0.0
2014-04-09    0.0
2014-04-10    0.0
2014-04-11   -0.0
2014-04-12    0.0
2014-04-13    1.0
2014-04-14   -0.0
2014-04-15    0.0
2014-04-16    0.0
2014-04-17   -1.0
2014-04-18   -1.0
2014-04-19    0.0
2014-04-20    0.0
2014-04-21   -0.0
2014-04-22    0.0
2014-04-23    0.0
2014-04-24   -1.0
2014-04-25    0.0
2014-04-26    0.0
2014-04-27    0.0
2014-04-28   -1.0
2014-04-29   -0.0
2014-04-30   -0.0
2014-05-01   -0.0
2014-05-02    0.0
2014-05-03   -0.0
2014-05-04   -1.0
2014-05-05    0.0
Name: value, dtype: float64
time
2014-03-21    1.0
2014-03-22    1.0
2014-03-23   -0.0
2014-03-24   -1.0
2014-03-25   -0.0
2014-03-26    0.0
2014-03-27    0.0
2014-03-28   -0.0
2014-03-29   -0.0
2014-03-30   -0.0
2014-03-31    0.0
2014-04-01    0.0
2014-04-02    0.0
2014-04-03    0.0
2014-04-04    0.0
2014-04-05    1.0
2014-04-06    0.0
2014-04-07    0.0
2014-04-08    0.0
2014-04-09    1.0
2014-04-10    0.0
2014-04-11    0.0
2014-04-12    0.0
2014-04-13    0.0
2014-04-14    0.0
2014-04-15    0.0
2014-04-16    1.0
2014-04-17    0.0
2014-04-18    0.0
2014-04-19    1.0
2014-04-20    0.0
2014-04-21    0.0
2014-04-22    0.0
2014-04-23    1.0
2014-04-24   -0.0
2014-04-25   -1.0
2014-04-26   -0.0
2014-04-27   -1.0
2014-04-28   -1.0
2014-04-29   -1.0
2014-04-30   -1.0
2014-05-01   -1.0
2014-05-02   -1.0
2014-05-03   -0.0
2014-05-04   -1.0
2014-05-05   -1.0
2014-05-07   -1.0
Name: value, dtype: float64
time
2014-03-04    0.0
2014-03-05    1.0
2014-03-06    0.0
2014-03-07    1.0
2014-03-08    0.0
2014-03-09    1.0
2014-03-10    1.0
2014-03-11    0.0
2014-03-12    0.0
2014-03-13    1.0
2014-03-14    1.0
2014-03-21    1.0
2014-03-22    0.0
2014-03-23    1.0
2014-03-24    1.0
2014-03-25    0.0
2014-03-26    0.0
2014-03-27    0.0
2014-03-28    1.0
2014-03-29    1.0
2014-03-30    1.0
2014-03-31    0.0
2014-04-01    1.0
2014-04-02    0.0
2014-04-03    0.0
2014-04-04   -1.0
2014-04-05    0.0
2014-04-06    0.0
2014-04-07    1.0
2014-04-08    0.0
2014-04-09    0.0
2014-04-10    1.0
2014-04-11    0.0
2014-04-12    0.0
2014-04-13   -0.0
2014-04-14    1.0
2014-04-15    0.0
2014-04-16    1.0
2014-04-17    0.0
2014-04-18    1.0
2014-04-19    1.0
2014-04-20    0.0
2014-04-21    0.0
2014-04-22    1.0
2014-04-23    1.0
2014-04-24    1.0
2014-04-25    0.0
2014-04-26    1.0
2014-04-27    1.0
2014-04-28    1.0
2014-04-29    1.0
2014-04-30    1.0
2014-05-01    1.0
2014-05-02    1.0
2014-05-03   -1.0
2014-05-05    1.0
Name: value, dtype: float64
time
2014-03-16    0.0
2014-03-17    0.0
2014-03-18    1.0
2014-03-19    0.0
2014-03-20   -0.0
2014-03-21   -1.0
2014-03-22   -1.0
2014-03-23   -1.0
2014-03-24    0.0
2014-03-25   -1.0
2014-03-26   -1.0
2014-03-27    0.0
2014-03-28   -1.0
2014-03-29   -1.0
2014-03-30   -1.0
2014-03-31   -1.0
2014-04-01   -0.0
2014-04-02   -1.0
2014-04-03   -0.0
2014-04-04   -1.0
2014-04-05    0.0
2014-04-06   -1.0
2014-04-07    0.0
2014-04-08   -0.0
2014-04-09   -0.0
2014-04-10    0.0
2014-04-11   -0.0
2014-04-12   -2.0
2014-04-13   -1.0
2014-04-14    1.0
2014-04-15   -0.0
2014-04-16   -0.0
2014-04-17    0.0
2014-04-18    0.0
2014-04-19   -1.0
2014-04-20   -1.0
2014-04-21   -0.0
2014-04-22   -1.0
2014-04-23    0.0
2014-04-24   -0.0
2014-04-25   -1.0
Name: value, dtype: float64
time
2014-03-19   -1.0
2014-03-20   -1.0
2014-03-21    0.0
2014-03-22   -0.0
2014-03-23    0.0
2014-03-24    0.0
2014-03-25   -0.0
2014-03-26    0.0
2014-03-27    0.0
2014-03-28    0.0
2014-03-29    0.0
2014-03-30    0.0
2014-03-31   -1.0
2014-04-01   -1.0
2014-04-02   -1.0
2014-04-03   -0.0
2014-04-04   -1.0
2014-04-05    0.0
2014-04-06   -1.0
2014-04-07   -1.0
2014-04-08   -0.0
2014-04-09   -1.0
2014-04-10    0.0
2014-04-11    0.0
2014-04-12    0.0
2014-04-13   -0.0
2014-04-14   -0.0
2014-04-15   -1.0
2014-04-16   -1.0
2014-04-17   -1.0
2014-04-18   -1.0
2014-04-19    0.0
2014-04-20   -2.0
2014-04-21   -0.0
2014-04-22   -0.0
2014-04-23   -1.0
2014-04-24   -1.0
2014-04-25    0.0
2014-04-26   -0.0
2014-04-27   -1.0
2014-04-28    0.0
2014-04-29   -2.0
2014-04-30   -2.0
2014-05-01   -2.0
2014-05-02   -1.0
2014-05-03   -1.0
2014-05-04   -1.0
2014-05-05   -2.0
Name: value, dtype: float64
time
2014-03-05    0.0
2014-03-06   -1.0
2014-03-07    1.0
2014-03-08    0.0
2014-03-09   -1.0
             ...
2014-05-01    0.0
2014-05-02   -0.0
2014-05-03    0.0
2014-05-04   -0.0
2014-05-05   -1.0
Name: value, Length: 62, dtype: float64
time
2014-04-01   -1.0
2014-04-02    0.0
2014-04-03   -0.0
2014-04-04   -0.0
2014-04-05    1.0
2014-04-06   -1.0
2014-04-07   -0.0
2014-04-08    0.0
2014-04-09    0.0
2014-04-10    0.0
2014-04-11    0.0
2014-04-12    0.0
2014-04-13   -2.0
2014-04-14    0.0
2014-04-15    0.0
2014-04-16    1.0
2014-04-17    0.0
2014-04-18   -1.0
2014-04-21   -2.0
2014-04-23   -0.0
2014-04-24    0.0
2014-04-25    0.0
2014-04-27   -0.0
2014-04-28    0.0
2014-04-29    1.0
2014-04-30    0.0
2014-05-01   -1.0
2014-05-02   -0.0
2014-05-03   -1.0
2014-05-04    0.0
2014-05-05   -0.0
2014-05-07   -1.0
2014-05-08   -1.0
2014-05-09   -0.0
2014-05-10   -1.0
2014-05-11   -1.0
2014-05-12   -1.0
Name: value, dtype: float64
time
2014-03-14   -1.0
2014-03-15    0.0
2014-03-16   -1.0
2014-03-17   -0.0
2014-03-18    0.0
2014-03-19    1.0
2014-03-20    1.0
2014-03-21    0.0
2014-03-22   -2.0
2014-03-23   -1.0
2014-03-24   -2.0
2014-03-25   -1.0
2014-03-26   -0.0
2014-03-27   -1.0
2014-03-28    0.0
2014-03-29   -0.0
2014-03-30   -1.0
2014-03-31   -0.0
2014-04-01    0.0
2014-04-02   -0.0
2014-04-03   -1.0
2014-04-04   -1.0
2014-04-05    0.0
2014-04-06   -0.0
2014-04-07   -0.0
2014-04-08    0.0
2014-04-09    0.0
2014-04-10    1.0
2014-04-11    0.0
2014-04-12   -1.0
2014-04-13    0.0
2014-04-14   -1.0
2014-04-15    0.0
2014-04-16   -1.0
2014-04-17    0.0
2014-04-18    0.0
2014-04-19   -1.0
2014-04-20   -1.0
2014-04-21   -1.0
2014-04-22    0.0
2014-04-23   -1.0
2014-04-24   -1.0
2014-04-25   -1.0
2014-04-26   -1.0
2014-04-27   -1.0
2014-04-28   -1.0
2014-04-29    0.0
2014-04-30   -1.0
2014-05-01   -0.0
2014-05-02   -0.0
2014-05-03    0.0
2014-05-04    0.0
2014-05-05   -0.0
Name: value, dtype: float64
time
2014-03-21    0.0
2014-03-22    0.0
2014-03-23    1.0
2014-03-24    0.0
2014-03-25    0.0
2014-03-26    0.0
2014-03-27   -0.0
2014-03-28   -0.0
2014-03-29   -0.0
2014-03-30   -1.0
2014-03-31   -0.0
2014-04-01    0.0
2014-04-02    0.0
2014-04-03    0.0
2014-04-04   -1.0
2014-04-05    0.0
2014-04-06   -0.0
2014-04-07   -0.0
2014-04-08    0.0
2014-04-09    0.0
2014-04-10    1.0
2014-04-11    0.0
2014-04-12    0.0
2014-04-13   -1.0
2014-04-14   -0.0
2014-04-15    0.0
2014-04-16   -0.0
2014-04-17    0.0
2014-04-18   -1.0
2014-04-19    0.0
2014-04-20    0.0
2014-04-21   -1.0
2014-04-22   -0.0
2014-04-23   -0.0
2014-04-24    0.0
2014-04-25    0.0
2014-04-26    0.0
2014-04-27   -1.0
2014-04-28    0.0
2014-04-29   -0.0
2014-04-30   -0.0
2014-05-01   -0.0
2014-05-02    0.0
2014-05-03    0.0
2014-05-04    0.0
2014-05-05   -1.0
Name: value, dtype: float64
time
2014-03-22    0.0
2014-03-23   -0.0
2014-03-24   -0.0
2014-03-25   -0.0
2014-03-26   -0.0
2014-03-27    1.0
2014-03-28    1.0
2014-03-29    0.0
2014-03-30    0.0
2014-03-31   -0.0
2014-04-01    0.0
2014-04-02    0.0
2014-04-03    0.0
2014-04-04    1.0
2014-04-05    1.0
2014-04-06    0.0
2014-04-07   -0.0
2014-04-08    0.0
2014-04-09   -0.0
2014-04-10    0.0
2014-04-11    0.0
2014-04-12   -0.0
2014-04-13    1.0
2014-04-15    0.0
2014-04-16    0.0
2014-04-17    1.0
2014-04-18    0.0
2014-04-19    0.0
2014-04-20    0.0
2014-04-21   -0.0
2014-04-22    0.0
2014-04-23    0.0
2014-04-24    0.0
2014-04-25   -0.0
2014-04-26   -0.0
2014-04-27   -0.0
2014-04-28   -0.0
2014-04-29   -0.0
2014-04-30   -1.0
Name: value, dtype: float64
time
2014-03-13   -0.0
2014-03-14   -0.0
2014-03-15    0.0
2014-03-16   -1.0
2014-03-17   -1.0
2014-03-18    0.0
2014-03-19    0.0
2014-03-20    1.0
2014-03-21    1.0
2014-03-22    0.0
2014-03-23    0.0
2014-03-24    0.0
2014-03-25    1.0
2014-03-26    0.0
2014-03-27    0.0
2014-03-28   -1.0
2014-03-29   -0.0
2014-03-30    0.0
2014-03-31   -0.0
2014-04-01   -0.0
2014-04-02   -0.0
2014-04-03   -0.0
2014-04-04   -0.0
2014-04-05    0.0
2014-04-06   -1.0
2014-04-07   -0.0
2014-04-08    0.0
2014-04-09   -0.0
2014-04-10    0.0
2014-04-11    1.0
2014-04-12    1.0
2014-04-13    0.0
2014-04-14    1.0
2014-04-15    1.0
2014-04-16    1.0
2014-04-17   -1.0
2014-04-18    0.0
2014-04-19    2.0
2014-04-20    1.0
2014-04-21    1.0
2014-04-22    1.0
2014-04-23    1.0
2014-04-24   -0.0
2014-04-25    1.0
2014-04-26    0.0
2014-04-27   -0.0
2014-04-28    1.0
2014-04-29   -0.0
2014-04-30    0.0
2014-05-01    0.0
2014-05-02    2.0
2014-05-04    0.0
2014-05-05    2.0
Name: value, dtype: float64

In [28]:
# average valence value per day
for id_val in ids:
    filtered_df = df[(df['id'] == id_val) & (df['variable'] == 'circumplex.valence')]

    # # Group by 'time' and calculate the average of 'value'
    average_df = round(df.groupby(filtered_df['time'].dt.date)['value'].mean())

    print(average_df)

time
2014-04-08    1.0
2014-04-09    0.0
2014-04-10    0.0
2014-04-11    0.0
2014-04-12    1.0
2014-04-13    0.0
2014-04-14    0.0
2014-04-15    0.0
2014-04-16    1.0
2014-04-17    0.0
2014-04-18    0.0
2014-04-19    0.0
2014-04-20    0.0
2014-04-21    1.0
2014-04-22    1.0
2014-04-23    0.0
2014-04-24    0.0
2014-04-25   -0.0
2014-04-26    1.0
2014-04-27    1.0
2014-04-28    0.0
2014-04-29   -1.0
2014-04-30   -0.0
2014-05-01    0.0
2014-05-02    0.0
2014-05-03    0.0
2014-05-04    1.0
2014-05-05    0.0
2014-05-07    0.0
2014-05-08    0.0
Name: value, dtype: float64
time
2014-03-20    1.0
2014-03-21    0.0
2014-03-22    0.0
2014-03-23    0.0
2014-03-24    0.0
2014-03-25    0.0
2014-03-26    1.0
2014-03-27    1.0
2014-03-28    1.0
2014-03-29    1.0
2014-03-30    1.0
2014-03-31    1.0
2014-04-01    0.0
2014-04-02    1.0
2014-04-03    1.0
2014-04-04    1.0
2014-04-05    1.0
2014-04-06    1.0
2014-04-07    1.0
2014-04-08    1.0
2014-04-09    1.0
2014-04-10    1.0
2014-04-11    1.0
2014-04-12    1.0
2014-04-14    1.0
2014-04-15    0.0
2014-04-16    0.0
2014-04-17    0.0
2014-04-18    0.0
2014-04-19    1.0
2014-04-20    0.0
2014-04-21    1.0
2014-04-22    1.0
2014-04-23    0.0
2014-04-24    1.0
2014-04-25    1.0
2014-04-26    1.0
2014-04-27    1.0
2014-04-30    1.0
2014-05-01    0.0
2014-05-02    1.0
2014-05-03    1.0
2014-05-04    1.0
2014-05-05    1.0
Name: value, dtype: float64
time
2014-03-16    0.0
2014-03-17    0.0
2014-03-18    1.0
2014-03-19    0.0
2014-03-20    1.0
2014-03-21    1.0
2014-03-22   -0.0
2014-03-23    0.0
2014-03-24   -0.0
2014-03-25    1.0
2014-03-26    0.0
2014-03-27    0.0
2014-03-28    1.0
2014-03-29    0.0
2014-03-30    1.0
2014-03-31    0.0
2014-04-01    1.0
2014-04-02   -0.0
2014-04-03    0.0
2014-04-04    0.0
2014-04-05    1.0
2014-04-06   -1.0
2014-04-07    1.0
2014-04-08    0.0
2014-04-09    0.0
2014-04-10    1.0
2014-04-11    0.0
2014-04-12   -1.0
2014-04-13    0.0
2014-04-14    1.0
2014-04-15    0.0
2014-04-16    0.0
2014-04-17    0.0
2014-04-18    0.0
2014-04-19   -0.0
2014-04-20    0.0
2014-04-21   -0.0
2014-04-22   -0.0
2014-04-23    0.0
2014-04-24   -0.0
2014-04-25    1.0
Name: value, dtype: float64
time
2014-03-15   -0.0
2014-03-27    1.0
2014-03-28    1.0
2014-03-29    1.0
2014-03-30    0.0
2014-03-31    0.0
2014-04-01    1.0
2014-04-02    0.0
2014-04-03    0.0
2014-04-04    1.0
2014-04-05    0.0
2014-04-06    1.0
2014-04-07    1.0
2014-04-08    0.0
2014-04-09   -0.0
2014-04-10    1.0
2014-04-11    1.0
2014-04-12    1.0
2014-04-13    0.0
2014-04-14    1.0
2014-04-15    1.0
2014-04-16    1.0
2014-04-17    1.0
2014-04-18    1.0
2014-04-19    0.0
2014-04-20    1.0
2014-04-21    1.0
2014-04-22    1.0
2014-04-23    1.0
2014-04-24    1.0
2014-04-25    0.0
2014-04-26    1.0
2014-04-27    1.0
2014-04-28    1.0
2014-04-29    1.0
2014-04-30    1.0
2014-05-01    0.0
2014-05-02    0.0
2014-05-03    0.0
2014-05-04   -0.0
2014-05-05    0.0
Name: value, dtype: float64
time
2014-03-05    0.0
2014-03-06    1.0
2014-03-07    1.0
2014-03-08    1.0
2014-03-09    1.0
             ...
2014-05-01    1.0
2014-05-02    1.0
2014-05-03    1.0
2014-05-04    1.0
2014-05-05    1.0
Name: value, Length: 62, dtype: float64
time
2014-03-20    1.0
2014-03-21    0.0
2014-03-22    0.0
2014-03-23    1.0
2014-03-24    0.0
2014-03-25   -0.0
2014-03-26    0.0
2014-03-27    1.0
2014-03-28    0.0
2014-03-29    1.0
2014-03-30    1.0
2014-03-31    1.0
2014-04-01    0.0
2014-04-02    0.0
2014-04-03    0.0
2014-04-04    0.0
2014-04-05    1.0
2014-04-06    1.0
2014-04-07    1.0
2014-04-08    1.0
2014-04-09    1.0
2014-04-10    0.0
2014-04-11    1.0
2014-04-12    1.0
2014-04-13    1.0
2014-04-14    0.0
2014-04-15    1.0
2014-04-16    1.0
2014-04-17    0.0
2014-04-18    0.0
2014-04-19    1.0
2014-04-20    1.0
2014-04-21    1.0
2014-04-22    0.0
2014-04-23    0.0
2014-04-24    0.0
2014-04-25    0.0
2014-04-26    1.0
2014-04-27    0.0
2014-04-28    0.0
2014-04-29    1.0
2014-04-30    1.0
2014-05-01    0.0
2014-05-02    0.0
2014-05-03    0.0
2014-05-04    1.0
2014-05-05    0.0
Name: value, dtype: float64
time
2014-03-13    2.0
2014-03-14    1.0
2014-03-15    1.0
2014-03-16    0.0
2014-03-17    1.0
2014-03-18    1.0
2014-03-19    1.0
2014-03-20    0.0
2014-03-21    1.0
2014-03-22    1.0
2014-03-23    1.0
2014-03-24    1.0
2014-03-25    1.0
2014-03-26    0.0
2014-03-27    0.0
2014-03-28    1.0
2014-03-29    0.0
2014-03-30    1.0
2014-03-31    0.0
2014-04-01    1.0
2014-04-02    1.0
2014-04-03    0.0
2014-04-04    1.0
2014-04-05    1.0
2014-04-06    1.0
2014-04-07    1.0
2014-04-08    1.0
2014-04-09    1.0
2014-04-10    1.0
2014-04-11    1.0
2014-04-12    1.0
2014-04-13    0.0
2014-04-14    1.0
2014-04-15    0.0
2014-04-16    1.0
2014-04-17    1.0
2014-04-18    1.0
2014-04-19    1.0
2014-04-20    1.0
2014-04-21    1.0
2014-04-22    1.0
2014-04-23    1.0
2014-04-24   -0.0
2014-04-25    1.0
2014-04-26    1.0
2014-04-27    1.0
2014-04-28    1.0
2014-04-29    1.0
2014-04-30    1.0
2014-05-01    1.0
2014-05-02    1.0
2014-05-04    1.0
2014-05-05    1.0
Name: value, dtype: float64
time
2014-03-24    0.0
2014-03-25    1.0
2014-03-26    2.0
2014-03-27    0.0
2014-03-28    1.0
2014-03-29    1.0
2014-03-30    1.0
2014-03-31    0.0
2014-04-01    1.0
2014-04-02    0.0
2014-04-03    0.0
2014-04-04    0.0
2014-04-05    1.0
2014-04-06    0.0
2014-04-07    0.0
2014-04-08    0.0
2014-04-09    1.0
2014-04-10    1.0
2014-04-11    1.0
2014-04-12    1.0
2014-04-13    0.0
2014-04-14    1.0
2014-04-15    1.0
2014-04-16    0.0
2014-04-17    1.0
2014-04-18    0.0
2014-04-19    1.0
2014-04-20    1.0
2014-04-21    1.0
2014-04-22    1.0
2014-04-23    1.0
2014-04-24    1.0
2014-04-25    0.0
2014-04-26    1.0
2014-04-27    1.0
2014-04-28    0.0
2014-04-29    1.0
2014-04-30    1.0
2014-05-01    1.0
2014-05-02    1.0
2014-05-03    0.0
2014-05-04    1.0
2014-05-05    1.0
2014-05-07    0.0
2014-05-08    1.0
Name: value, dtype: float64
time
2014-03-13    1.0
2014-03-14    1.0
2014-03-15    0.0
2014-03-16    0.0
2014-03-17    1.0
2014-03-18    1.0
2014-03-19    1.0
2014-03-20    0.0
2014-03-21    1.0
2014-03-22    2.0
2014-03-23    1.0
2014-03-24    2.0
2014-03-25    2.0
2014-03-26    1.0
2014-03-27    1.0
2014-03-28    1.0
2014-03-29    1.0
2014-03-30    1.0
2014-03-31    1.0
2014-04-01    1.0
2014-04-02    1.0
2014-04-03    1.0
2014-04-04    1.0
2014-04-05    1.0
2014-04-06    1.0
2014-04-07    1.0
2014-04-08    1.0
2014-04-09    1.0
2014-04-10    1.0
2014-04-11    1.0
2014-04-12    1.0
2014-04-13    1.0
2014-04-14    1.0
2014-04-15    0.0
2014-04-16    1.0
2014-04-17    1.0
2014-04-18   -1.0
2014-04-19    1.0
2014-04-20    1.0
2014-04-21    1.0
2014-04-22    1.0
2014-04-23    1.0
2014-04-24    1.0
2014-04-25    1.0
2014-04-26    2.0
2014-04-27    2.0
2014-04-28    1.0
2014-04-29    1.0
2014-04-30    1.0
2014-05-01    2.0
2014-05-02    1.0
2014-05-03    1.0
2014-05-04    1.0
Name: value, dtype: float64
time
2014-04-02    2.0
2014-04-03    0.0
2014-04-04    1.0
2014-04-05    1.0
2014-04-06    1.0
2014-04-07    0.0
2014-04-08    1.0
2014-04-09    0.0
2014-04-10    1.0
2014-04-11    1.0
2014-04-12    1.0
2014-04-13    1.0
2014-04-14    1.0
2014-04-15    1.0
2014-04-16    1.0
2014-04-17    1.0
2014-04-18    0.0
2014-04-19    0.0
2014-04-20    1.0
2014-04-21    0.0
2014-04-22    0.0
2014-04-23    1.0
2014-04-24    1.0
2014-04-25    1.0
2014-04-26    0.0
2014-04-27    0.0
2014-04-28    0.0
2014-04-29    1.0
2014-04-30    0.0
2014-05-01    0.0
2014-05-03    1.0
2014-05-04    1.0
2014-05-05    1.0
2014-05-07    1.0
2014-05-08    1.0
2014-05-09    1.0
2014-05-10    0.0
2014-05-11    0.0
2014-05-12    1.0
2014-05-13    1.0
2014-05-14    0.0
2014-05-15    0.0
Name: value, dtype: float64
time
2014-03-19    1.0
2014-03-20   -0.0
2014-03-21    1.0
2014-03-22    0.0
2014-03-23    2.0
2014-03-24    1.0
2014-03-25    1.0
2014-03-26    1.0
2014-03-27    0.0
2014-03-28    2.0
2014-03-29    1.0
2014-03-30    0.0
2014-03-31    0.0
2014-04-01    1.0
2014-04-02    0.0
2014-04-03    0.0
2014-04-04    0.0
2014-04-05    1.0
2014-04-06    1.0
2014-04-07    0.0
2014-04-08    1.0
2014-04-09    1.0
2014-04-10    0.0
2014-04-11   -1.0
2014-04-12    1.0
2014-04-13    1.0
2014-04-14    0.0
2014-04-15    0.0
2014-04-16    0.0
2014-04-17   -0.0
2014-04-18   -0.0
2014-04-19    1.0
2014-04-20   -1.0
2014-04-21    1.0
2014-04-22    0.0
2014-04-23    0.0
2014-04-24    0.0
2014-04-25   -1.0
2014-04-26   -0.0
2014-04-27    0.0
2014-04-28    1.0
2014-04-29    0.0
2014-04-30    0.0
2014-05-01   -0.0
2014-05-02    1.0
2014-05-03    0.0
2014-05-04    1.0
2014-05-05    0.0
Name: value, dtype: float64
time
2014-04-01    2.0
2014-04-02    0.0
2014-04-03    0.0
2014-04-04    0.0
2014-04-05    1.0
2014-04-06    0.0
2014-04-07   -0.0
2014-04-08    0.0
2014-04-09    0.0
2014-04-10    1.0
2014-04-11    0.0
2014-04-12    1.0
2014-04-13    1.0
2014-04-14    0.0
2014-04-15    0.0
2014-04-16    1.0
2014-04-17    0.0
2014-04-18    1.0
2014-04-21   -0.0
2014-04-23    0.0
2014-04-24    0.0
2014-04-25    1.0
2014-04-27    0.0
2014-04-28    0.0
2014-04-29    1.0
2014-04-30    1.0
2014-05-01    0.0
2014-05-02    0.0
2014-05-03    0.0
2014-05-04    1.0
2014-05-05    0.0
2014-05-07   -0.0
2014-05-08   -0.0
2014-05-09    1.0
2014-05-10    0.0
2014-05-11    0.0
2014-05-12    0.0
Name: value, dtype: float64
time
2014-03-21    1.0
2014-03-22    1.0
2014-03-23    0.0
2014-03-24    0.0
2014-03-25   -0.0
2014-03-26    1.0
2014-03-27    1.0
2014-03-28    1.0
2014-03-29    1.0
2014-03-30    1.0
2014-03-31    0.0
2014-04-01    1.0
2014-04-02    0.0
2014-04-03    1.0
2014-04-04    1.0
2014-04-05    1.0
2014-04-06    1.0
2014-04-07    0.0
2014-04-08    1.0
2014-04-09    0.0
2014-04-10    0.0
2014-04-11    1.0
2014-04-12    1.0
2014-04-13    0.0
2014-04-14   -0.0
2014-04-15    0.0
2014-04-16   -0.0
2014-04-17    1.0
2014-04-18    1.0
2014-04-19    1.0
2014-04-20    0.0
2014-04-21    0.0
2014-04-22    0.0
2014-04-23    0.0
2014-04-24    1.0
2014-04-25    1.0
2014-04-26    1.0
2014-04-27    0.0
2014-04-28    1.0
2014-04-29    0.0
2014-04-30    1.0
2014-05-01    1.0
2014-05-02    1.0
2014-05-03    1.0
2014-05-04    0.0
2014-05-05    0.0
Name: value, dtype: float64
time
2014-03-20    1.0
2014-03-21    1.0
2014-03-22    1.0
2014-03-23    1.0
2014-03-24    1.0
2014-03-25    1.0
2014-03-26    1.0
2014-03-27    1.0
2014-03-28    1.0
2014-03-29    1.0
2014-03-30    1.0
2014-03-31    1.0
2014-04-01    1.0
2014-04-02    1.0
2014-04-03    1.0
2014-04-04    1.0
2014-04-05    1.0
2014-04-06    1.0
2014-04-07    1.0
2014-04-08    1.0
2014-04-09    1.0
2014-04-10    1.0
2014-04-11    1.0
2014-04-12    1.0
2014-04-13    1.0
2014-04-14    1.0
2014-04-15    1.0
2014-04-16    1.0
2014-04-17    1.0
2014-04-18    1.0
2014-04-19    1.0
2014-04-20    1.0
2014-04-21    1.0
2014-04-22    1.0
2014-04-23    1.0
2014-04-24    1.0
2014-04-25    1.0
2014-04-26    1.0
2014-04-27    1.0
2014-04-28    1.0
2014-04-29    1.0
2014-04-30    1.0
2014-05-01    1.0
2014-05-02    1.0
2014-05-03    1.0
2014-05-04    1.0
2014-05-05    1.0
Name: value, dtype: float64
time
2014-04-02    1.0
2014-04-03    1.0
2014-04-04    0.0
2014-04-05    1.0
2014-04-06    0.0
2014-04-07    0.0
2014-04-08    1.0
2014-04-09    1.0
2014-04-10    1.0
2014-04-11    1.0
2014-04-12    1.0
2014-04-13    1.0
2014-04-14    0.0
2014-04-15    1.0
2014-04-16    0.0
2014-04-17    1.0
2014-04-18    1.0
2014-04-19    1.0
2014-04-20    2.0
2014-04-21    0.0
2014-04-22    1.0
2014-04-23    1.0
2014-04-24    1.0
2014-04-25    1.0
2014-04-26    1.0
2014-04-27    1.0
2014-04-28    1.0
2014-04-29    1.0
2014-04-30    1.0
2014-05-01    1.0
2014-05-02    1.0
2014-05-03    1.0
2014-05-04    1.0
2014-05-05    1.0
2014-05-07    1.0
2014-05-08    1.0
2014-05-09    1.0
2014-05-10    1.0
2014-05-11    1.0
2014-05-12    1.0
2014-05-13    1.0
2014-05-14    1.0
2014-05-15    1.0
Name: value, dtype: float64

time
2014-02-26    1.0
2014-02-27    0.0
2014-03-21    0.0
2014-03-22    0.0
2014-03-23    1.0
2014-03-24    0.0
2014-03-25    0.0
2014-03-26    1.0
2014-03-27    1.0
2014-03-28    1.0
2014-03-29    1.0
2014-03-30    1.0
2014-03-31    1.0
2014-04-01    0.0
2014-04-02    1.0
2014-04-03    0.0
2014-04-04    0.0
2014-04-05    1.0
2014-04-06    0.0
2014-04-07    0.0
2014-04-08    0.0
2014-04-09    1.0
2014-04-10    1.0
2014-04-11    1.0
2014-04-12    1.0
2014-04-13    1.0
2014-04-14    1.0
2014-04-15    1.0
2014-04-16    0.0
2014-04-17    1.0
2014-04-18    1.0
2014-04-19    1.0
2014-04-20    1.0
2014-04-21    1.0
2014-04-22    1.0
2014-04-23    1.0
2014-04-24    1.0
2014-04-25    1.0
2014-04-26    1.0
2014-04-27    1.0
2014-04-28    1.0
2014-04-29    1.0
2014-04-30    1.0
2014-05-01    1.0
2014-05-02    1.0
2014-05-03    1.0
2014-05-04    1.0
Name: value, dtype: float64
time
2014-03-22    1.0
2014-03-23    1.0
2014-03-24   -0.0
2014-03-25    1.0
2014-03-26    1.0
2014-03-27    1.0
2014-03-28    1.0
2014-03-29    2.0
2014-03-30    1.0
2014-03-31    2.0
2014-04-01    2.0
2014-04-02    1.0
2014-04-03    1.0
2014-04-04    1.0
2014-04-05    1.0
2014-04-06    1.0
2014-04-07    0.0
2014-04-08    1.0
2014-04-09    1.0
2014-04-10    1.0
2014-04-11    1.0
2014-04-12    1.0
2014-04-13    1.0
2014-04-15    1.0
2014-04-16    1.0
2014-04-17    1.0
2014-04-18    1.0
2014-04-19    1.0
2014-04-20    1.0
2014-04-21    1.0
2014-04-22    0.0
2014-04-23    1.0
2014-04-24    1.0
2014-04-25    1.0
2014-04-26    1.0
2014-04-27    1.0
2014-04-28    1.0
2014-04-29    1.0
2014-04-30    1.0
Name: value, dtype: float64
time
2014-03-14    0.0
2014-03-15    0.0
2014-03-16    0.0
2014-03-17    0.0
2014-03-18    1.0
2014-03-19    1.0
2014-03-20    1.0
2014-03-21    1.0
2014-03-22    1.0
2014-03-23    1.0
2014-03-24    1.0
2014-03-25    1.0
2014-03-26    1.0
2014-03-27    1.0
2014-03-28    1.0
2014-03-29    1.0
2014-03-30    1.0
2014-03-31    1.0
2014-04-01    1.0
2014-04-02    1.0
2014-04-03    1.0
2014-04-04    1.0
2014-04-05    1.0
2014-04-06    0.0
2014-04-07    0.0
2014-04-08    1.0
2014-04-09    1.0
2014-04-10    1.0
2014-04-11    1.0
2014-04-12    1.0
2014-04-13    1.0
2014-04-14    1.0
2014-04-15    1.0
2014-04-16    1.0
2014-04-17    0.0
2014-04-18    0.0
2014-04-19    1.0
2014-04-20    1.0
2014-04-21    1.0
2014-04-22    1.0
2014-04-23    1.0
2014-04-24    1.0
2014-04-25    1.0
2014-04-26    0.0
2014-04-27    1.0
2014-04-28    0.0
2014-04-29    0.0
2014-04-30   -0.0
2014-05-01    0.0
2014-05-02    0.0
2014-05-03    0.0
2014-05-04    1.0
2014-05-05    1.0
2014-05-07    1.0
2014-05-08    1.0
Name: value, dtype: float64
time
2014-03-14    2.0
2014-03-15    0.0
2014-03-16    0.0
2014-03-17    0.0
2014-03-18    1.0
2014-03-19    1.0
2014-03-20    1.0
2014-03-21    1.0
2014-03-22   -1.0
2014-03-23   -1.0
2014-03-24   -1.0
2014-03-25    0.0
2014-03-26    0.0
2014-03-27    0.0
2014-03-28    1.0
2014-03-29    1.0
2014-03-30    1.0
2014-03-31    1.0
2014-04-01    1.0
2014-04-02    1.0
2014-04-03    1.0
2014-04-04    1.0
2014-04-05    1.0
2014-04-06    1.0
2014-04-07    1.0
2014-04-08    0.0
2014-04-09    1.0
2014-04-10    1.0
2014-04-11    1.0
2014-04-12    1.0
2014-04-13    1.0
2014-04-14    0.0
2014-04-15    1.0
2014-04-16    1.0
2014-04-17    1.0
2014-04-18    1.0
2014-04-19    1.0
2014-04-20    1.0
2014-04-21    1.0
2014-04-22    1.0
2014-04-23    1.0
2014-04-24    1.0
2014-04-25    1.0
2014-04-26    1.0
2014-04-27    1.0
2014-04-28    1.0
2014-04-29    1.0
2014-04-30    1.0
2014-05-01    1.0
2014-05-02    1.0
2014-05-03    1.0
2014-05-04    1.0
2014-05-05    1.0
Name: value, dtype: float64
time
2014-04-03    1.0
2014-04-04    0.0
2014-04-05    1.0
2014-04-06    0.0
2014-04-07    1.0
2014-04-08    1.0
2014-04-09    1.0
2014-04-10    0.0
2014-04-11   -1.0
2014-04-12    0.0
2014-04-13    2.0
2014-04-14    1.0
2014-04-15    1.0
2014-04-16    1.0
2014-04-17    1.0
2014-04-18    1.0
2014-04-19    0.0
2014-04-20    1.0
2014-04-21    0.0
2014-04-22    1.0
2014-04-23    1.0
2014-04-24    1.0
2014-04-25    1.0
2014-04-26    2.0
2014-04-27    1.0
2014-04-28    1.0
2014-04-29    0.0
2014-04-30    0.0
2014-05-01    1.0
2014-05-02    1.0
2014-05-03    0.0
2014-05-04    1.0
2014-05-05    1.0
2014-05-07    1.0
2014-05-08    0.0
2014-05-09   -0.0
2014-05-10    0.0
2014-05-11    0.0
2014-05-12    1.0
2014-05-13    0.0
2014-05-14    1.0
2014-05-15    0.0
Name: value, dtype: float64
time
2014-03-21    1.0
2014-03-22    0.0
2014-03-23    1.0
2014-03-24    0.0
2014-03-25    0.0
2014-03-26    0.0
2014-03-27    1.0
2014-03-28    1.0
2014-03-29    1.0
2014-03-30    1.0
2014-03-31    1.0
2014-04-01    0.0
2014-04-02    1.0
2014-04-03    1.0
2014-04-04    0.0
2014-04-05    1.0
2014-04-06    1.0
2014-04-07    1.0
2014-04-08    1.0
2014-04-09    1.0
2014-04-10    1.0
2014-04-11    1.0
2014-04-12    1.0
2014-04-13    1.0
2014-04-14    1.0
2014-04-15    1.0
2014-04-16    1.0
2014-04-17    1.0
2014-04-18    1.0
2014-04-19    1.0
2014-04-20    1.0
2014-04-21    1.0
2014-04-22    1.0
2014-04-23    1.0
2014-04-24    1.0
2014-04-25    1.0
2014-04-26    2.0
2014-04-27    1.0
2014-04-28    1.0
2014-04-29    1.0
2014-04-30    1.0
2014-05-01    1.0
2014-05-02    1.0
2014-05-03    1.0
2014-05-04    1.0
2014-05-05    1.0
Name: value, dtype: float64
time
2014-03-31    0.0
2014-04-01    0.0
2014-04-02    0.0
2014-04-03    1.0
2014-04-04    0.0
2014-04-05    1.0
2014-04-06    1.0
2014-04-07    1.0
2014-04-08    1.0
2014-04-09    1.0
2014-04-10    0.0
2014-04-11    0.0
2014-04-12    1.0
2014-04-13    1.0
2014-04-14    0.0
2014-04-15    0.0
2014-04-16   -0.0
2014-04-17    1.0
2014-04-18    0.0
2014-04-19    0.0
2014-04-20    1.0
2014-04-21    1.0
2014-04-22    1.0
2014-04-23    1.0
2014-04-24    1.0
2014-04-25    1.0
2014-04-26    1.0
2014-04-27    0.0
2014-04-28    1.0
2014-04-29    1.0
2014-04-30    0.0
2014-05-01    0.0
2014-05-02    1.0
2014-05-03    1.0
2014-05-04    1.0
2014-05-05    1.0
2014-05-07   -0.0
2014-05-08    0.0
Name: value, dtype: float64
time
2014-03-21    2.0
2014-03-22    1.0
2014-03-23    1.0
2014-03-24    1.0
2014-03-25    1.0
2014-03-26    1.0
2014-03-27    0.0
2014-03-28    2.0
2014-03-29    2.0
2014-03-30    1.0
2014-03-31    1.0
2014-04-01    0.0
2014-04-02    1.0
2014-04-03    1.0
2014-04-04    1.0
2014-04-05    1.0
2014-04-06    1.0
2014-04-07    1.0
2014-04-08    1.0
2014-04-09    1.0
2014-04-10    1.0
2014-04-11    1.0
2014-04-12    1.0
2014-04-13    1.0
2014-04-14    1.0
2014-04-15    1.0
2014-04-16    1.0
2014-04-17    1.0
2014-04-18    1.0
2014-04-19    1.0
2014-04-20    1.0
2014-04-21    1.0
2014-04-22    1.0
2014-04-23    1.0
2014-04-24    1.0
2014-04-25    1.0
2014-04-26    1.0
2014-04-27    1.0
2014-04-28    1.0
2014-04-29    1.0
2014-04-30    1.0
2014-05-01    1.0
2014-05-02    1.0
2014-05-03    1.0
2014-05-04    1.0
2014-05-05    1.0
2014-05-07    1.0
Name: value, dtype: float64
time
2014-03-04    2.0
2014-03-05    1.0
2014-03-06    1.0
2014-03-07    1.0
2014-03-08    1.0
2014-03-09    1.0
2014-03-10    1.0
2014-03-11    0.0
2014-03-12    0.0
2014-03-13    1.0
2014-03-14    1.0
2014-03-21    1.0
2014-03-22    1.0
2014-03-23    1.0
2014-03-24    1.0
2014-03-25    1.0
2014-03-26    1.0
2014-03-27    1.0
2014-03-28    1.0
2014-03-29    1.0
2014-03-30    1.0
2014-03-31    1.0
2014-04-01    1.0
2014-04-02    1.0
2014-04-03    1.0
2014-04-04    1.0
2014-04-05    1.0
2014-04-06    1.0
2014-04-07    1.0
2014-04-08    1.0
2014-04-09    1.0
2014-04-10    1.0
2014-04-11    1.0
2014-04-12    1.0
2014-04-13    1.0
2014-04-14    1.0
2014-04-15    1.0
2014-04-16    1.0
2014-04-17    1.0
2014-04-18    1.0
2014-04-19    1.0
2014-04-20    1.0
2014-04-21    1.0
2014-04-22    1.0
2014-04-23    1.0
2014-04-24    1.0
2014-04-25    1.0
2014-04-26    1.0
2014-04-27    1.0
2014-04-28    0.0
2014-04-29    1.0
2014-04-30    1.0
2014-05-01    1.0
2014-05-02    1.0
2014-05-03    1.0
2014-05-05    1.0
Name: value, dtype: float64
time
2014-04-14    1.0
2014-04-15    1.0
2014-04-16    0.0
2014-04-17    0.0
2014-04-18    1.0
2014-04-19    1.0
2014-04-20    1.0
2014-04-21    1.0
2014-04-22    1.0
2014-04-23    1.0
2014-04-24    0.0
2014-04-25    0.0
2014-04-26    1.0
2014-04-27    1.0
2014-04-28    1.0
2014-04-29    0.0
2014-04-30    1.0
2014-05-01    1.0
2014-05-02    1.0
2014-05-03    1.0
2014-05-04    1.0
2014-05-05    0.0
2014-05-07    1.0
2014-05-08    1.0
2014-05-09    1.0
2014-05-10    NaN
2014-05-11    1.0
2014-05-12    1.0
2014-05-13    1.0
2014-05-14   -0.0
2014-05-15    0.0
2014-05-16    1.0
2014-05-17    1.0
2014-05-18    1.0
2014-05-19    1.0
2014-05-20    1.0
2014-05-21    0.0
2014-05-22    1.0
2014-05-23    1.0
2014-05-24    1.0
2014-05-25    1.0
2014-05-26    1.0
2014-05-27    1.0
2014-05-28    0.0
2014-05-29    1.0
2014-05-30    1.0
2014-05-31    1.0
2014-06-01    1.0
2014-06-02    1.0
2014-06-03    1.0
2014-06-04    1.0
2014-06-05    1.0
2014-06-06    1.0
2014-06-07    NaN
2014-06-08    1.0
Name: value, dtype: float64

time
2014-03-23    1.0
2014-03-24    0.0
2014-03-25    0.0
2014-03-26    0.0
2014-03-27    0.0
             ...
2014-05-26    1.0
2014-05-27   -0.0
2014-05-28   -0.0
2014-05-29    1.0
2014-05-30    0.0
Name: value, Length: 68, dtype: float64
time
2014-04-16    0.0
2014-04-17    1.0
2014-04-18    1.0
2014-04-19    1.0
2014-04-20    1.0
2014-04-21    1.0
2014-04-22   -0.0
2014-04-23   -1.0
2014-04-24    1.0
2014-04-25    1.0
2014-04-26    1.0
2014-04-27    0.0
2014-04-28    1.0
2014-04-29    0.0
2014-04-30    0.0
2014-05-01    0.0
2014-05-04    1.0
2014-05-05    1.0
2014-05-07   -0.0
2014-05-08    0.0
2014-05-09   -0.0
2014-05-10    1.0
2014-05-11    0.0
2014-05-12    0.0
2014-05-13    0.0
2014-05-14    0.0
2014-05-15    0.0
2014-05-16    1.0
2014-05-17    0.0
2014-05-18    0.0
2014-05-19    0.0
2014-05-20    0.0
2014-05-21   -0.0
2014-05-22    0.0
2014-05-23    0.0
2014-05-24    0.0
2014-05-25    0.0
2014-05-26    0.0
2014-05-27    0.0
2014-05-28    1.0
2014-05-29    1.0
2014-05-30   -0.0
2014-05-31    1.0
Name: value, dtype: float64

In [31]:
# calculate screen time
for id_val in ids:
    filtered_df = df[(df['id'] == id_val) & (df['variable'] == 'screen')]

    # # Group by 'time' and calculate the average of 'value'
    average_df = round(df.groupby(filtered_df['time'].dt.date)['value'].sum())
    print(average_df)

time
2014-03-21    6933.0
2014-03-22    4756.0
2014-03-23     996.0
2014-03-24    2143.0
2014-03-25    4789.0
2014-03-26    4413.0
2014-03-27    3595.0
2014-03-28    2731.0
2014-03-29    1753.0
2014-03-30    1025.0
2014-03-31    6192.0
2014-04-01    3570.0
2014-04-02    1855.0
2014-04-03    3131.0
2014-04-04    3949.0
2014-04-05    2214.0
2014-04-06    2472.0
2014-04-07    3835.0
2014-04-08    2903.0
2014-04-09    3052.0
2014-04-10    1047.0
2014-04-11    2775.0
2014-04-12    1844.0
2014-04-13    1506.0
2014-04-14    5002.0
2014-04-15    4283.0
2014-04-16    1872.0
2014-04-17    4766.0
2014-04-18    3309.0
2014-04-19    1114.0
2014-04-20    1733.0
2014-04-21    1736.0
2014-04-22    4883.0
2014-04-23    3101.0
2014-04-24    2966.0
2014-04-25    2672.0
2014-04-26    1375.0
2014-04-27    3029.0
2014-04-28    2972.0
2014-04-29    2259.0
2014-04-30    3133.0
2014-05-01    3143.0
2014-05-02    1433.0
2014-05-03    3198.0
2014-05-04    2679.0
2014-05-05       6.0
Name: value, dtype: float64
time
2014-04-08     8059.0
2014-04-09     9829.0
2014-04-10     6601.0
2014-04-11     6473.0
2014-04-12     1215.0
2014-04-13     5777.0
2014-04-14     7803.0
2014-04-15     4466.0
2014-04-16     7551.0
2014-04-17    17583.0
2014-04-18    11758.0
2014-04-19     6101.0
2014-04-20     6041.0
2014-04-21     9379.0
2014-04-22    11492.0
2014-04-23     8629.0
2014-04-24     9903.0
2014-04-25     7664.0
2014-04-26     7434.0
2014-04-27     3358.0
2014-04-28    13320.0
2014-04-29    10995.0
2014-04-30    13424.0
2014-05-01    11765.0
2014-05-02     6310.0
2014-05-03    11466.0
2014-05-04     8047.0
2014-05-05     7311.0
2014-05-06    14171.0
2014-05-07     9919.0
2014-05-08     2925.0
Name: value, dtype: float64
time
2014-04-14     1140.0
2014-04-15     2460.0
2014-04-16     4514.0
2014-04-17     5463.0
2014-04-18     7769.0
2014-04-19     4176.0
2014-04-20     3863.0
2014-04-21     3926.0
2014-04-22     3076.0
2014-04-23     1906.0
2014-04-24     6372.0
2014-04-25     2518.0
2014-04-26     1157.0
2014-04-27     1103.0
2014-04-28     6150.0
2014-04-29     4965.0
2014-04-30     7848.0
2014-05-01     4160.0
2014-05-02     2125.0
2014-05-03     3696.0
2014-05-04     4252.0
2014-05-05     3597.0
2014-05-06     3244.0
2014-05-07     5929.0
2014-05-08     3936.0
2014-05-09     3468.0
2014-05-10     7138.0
2014-05-11     2924.0
2014-05-12    10977.0
2014-05-13     5407.0
2014-05-14     6068.0
2014-05-15     8699.0
2014-05-16     4696.0
2014-05-17     5039.0
2014-05-18     5945.0
2014-05-19     2917.0
2014-05-20     2972.0
2014-05-21     2280.0
2014-05-22     2992.0
2014-05-23     3744.0
2014-05-24     1552.0
2014-05-25     6860.0
2014-05-26     2362.0
2014-05-27     3876.0
2014-05-28    10057.0
2014-05-29     4196.0
2014-05-30     5725.0
2014-05-31     1705.0
2014-06-01     5013.0
2014-06-02     4469.0
2014-06-03     6519.0
2014-06-04     5224.0
2014-06-05     2372.0
2014-06-06     2733.0
2014-06-07     5530.0
2014-06-08     1131.0
Name: value, dtype: float64
time
2014-04-01     2495.0
2014-04-02    13322.0
2014-04-03    13374.0
2014-04-04     2560.0
2014-04-05     5775.0
2014-04-06     7647.0
2014-04-07     5538.0
2014-04-08     3233.0
2014-04-09     4000.0
2014-04-10    13377.0
2014-04-11    13752.0
2014-04-12     8203.0
2014-04-13     8278.0
2014-04-14     7151.0
2014-04-15     2314.0
2014-04-16     4660.0
2014-04-17     3587.0
2014-04-18    10604.0
2014-04-19     2350.0
2014-04-20     5679.0
2014-04-21     8969.0
2014-04-22     9639.0
2014-04-23     6572.0
2014-04-24     5701.0
2014-04-25     7997.0
2014-04-26     9395.0
2014-04-27     4124.0
2014-04-28     5360.0
2014-04-29     4310.0
2014-04-30     6614.0
2014-05-01     4078.0
2014-05-02    14021.0
2014-05-03     2062.0
2014-05-04      182.0
2014-05-05      322.0
2014-05-07      109.0
2014-05-17      166.0
Name: value, dtype: float64
time
2014-03-13     1252.0
2014-03-14     7292.0
2014-03-15     4635.0
2014-03-16     4921.0
2014-03-17     3147.0
2014-03-18     2749.0
2014-03-19    15164.0
2014-03-20     8615.0
2014-03-21    12928.0
2014-03-22    12328.0
2014-03-23     6527.0
2014-03-24     4688.0
2014-03-25     5027.0
2014-03-26     9065.0
2014-03-27     8565.0
2014-03-28    12150.0
2014-03-29     5618.0
2014-03-30     9520.0
2014-03-31     5456.0
2014-04-01     7494.0
2014-04-02     9195.0
2014-04-03    11380.0
2014-04-04     8051.0
2014-04-05    12458.0
2014-04-06     8326.0
2014-04-07    10618.0
2014-04-08    10385.0
2014-04-09    14230.0
2014-04-10     8855.0
2014-04-11     3541.0
2014-04-12     7624.0
2014-04-13     8206.0
2014-04-14     4943.0
2014-04-15     8591.0
2014-04-16     6137.0
2014-04-17    11643.0
2014-04-18     1018.0
2014-04-19     9012.0
2014-04-20     2916.0
2014-04-21    10265.0
2014-04-22     7340.0
2014-04-23     3923.0
2014-04-24    13762.0
2014-04-25     5651.0
2014-04-26     7379.0
2014-04-27    13700.0
2014-04-28     7873.0
2014-04-29     8018.0
2014-04-30     7365.0
2014-05-01     6441.0
2014-05-02     8167.0
2014-05-03       69.0
Name: value, dtype: float64
time
2014-04-13     6150.0
2014-04-14     6125.0
2014-04-15     8624.0
2014-04-16     3527.0
2014-04-17     6102.0
2014-04-18    10463.0
2014-04-19     3190.0
2014-04-20     7130.0
2014-04-21     7717.0
2014-04-22     7584.0
2014-04-23     6572.0
2014-04-24     7454.0
2014-04-25     9746.0
2014-04-26     6004.0
2014-04-27     2349.0
2014-04-28     5660.0
2014-04-29     4525.0
2014-04-30     7556.0
2014-05-01     5537.0
2014-05-02     4745.0
2014-05-03     3910.0
2014-05-04     4422.0
2014-05-05     4019.0
2014-05-06     6861.0
2014-05-07     2568.0
2014-05-08     9095.0
2014-05-09     8174.0
2014-05-10     5995.0
2014-05-11     5423.0
2014-05-12     8348.0
2014-05-13     7441.0
2014-05-14     4245.0
2014-05-15    13098.0
2014-05-16     9174.0
2014-05-17     4837.0
2014-05-18     6905.0
2014-05-19     5977.0
2014-05-20    10832.0
2014-05-21     4180.0
2014-05-22     7371.0
2014-05-23     5323.0
2014-05-24     7954.0
2014-05-25     8242.0
2014-05-26     7007.0
2014-05-27     8511.0
2014-05-28    10891.0
2014-05-29      195.0
Name: value, dtype: float64
time
2014-03-31     1870.0
2014-04-01     8600.0
2014-04-02    11887.0
2014-04-03     9165.0
2014-04-04    13760.0
2014-04-05     7930.0
2014-04-06     5942.0
2014-04-07    11464.0
2014-04-08     7366.0
2014-04-09    12252.0
2014-04-10     8174.0
2014-04-11    25291.0
2014-04-12    11483.0
2014-04-13     9759.0
2014-04-14    10882.0
2014-04-15     9849.0
2014-04-16    10166.0
2014-04-17     9491.0
2014-04-18    10499.0
2014-04-19     6235.0
2014-04-20     5530.0
2014-04-21     4832.0
2014-04-22    15713.0
2014-04-23     9311.0
2014-04-24    11310.0
2014-04-25     4424.0
2014-04-26     4114.0
2014-04-27    13994.0
2014-04-28     2570.0
2014-04-30     1370.0
2014-05-01     8454.0
2014-05-02     8815.0
2014-05-03     7979.0
2014-05-04     8414.0
2014-05-05     6217.0
2014-05-06     6755.0
2014-05-07     6894.0
2014-05-08     2670.0
Name: value, dtype: float64
time
2014-04-02     2728.0
2014-04-03     3939.0
2014-04-04     3967.0
2014-04-05     6806.0
2014-04-06     9532.0
2014-04-07    11192.0
2014-04-08    14873.0
2014-04-09     5617.0
2014-04-10     7311.0
2014-04-11     6887.0
2014-04-12     2666.0
2014-04-13    11176.0
2014-04-14     7843.0
2014-04-15     9206.0
2014-04-16    11912.0
2014-04-17     6325.0
2014-04-18     9005.0
2014-04-19     7506.0
2014-04-20     3085.0
2014-04-21     3747.0
2014-04-22    12948.0
2014-04-23    12023.0
2014-04-24     9601.0
2014-04-25     3920.0
2014-04-26    10479.0
2014-04-27     7078.0
2014-04-28     7496.0
2014-04-29    11915.0
2014-04-30     9186.0
2014-05-01     6110.0
2014-05-02     3315.0
2014-05-03     1832.0
2014-05-04     3148.0
2014-05-05     5539.0
2014-05-06    14082.0
2014-05-07     2764.0
2014-05-08     9284.0
2014-05-09    12396.0
2014-05-10    16022.0
2014-05-11     9005.0
2014-05-12    13648.0
2014-05-13    13084.0
2014-05-14        7.0
Name: value, dtype: float64
time
2014-03-20     369.0
2014-03-21      30.0
2014-03-22    1565.0
2014-03-23     691.0
2014-03-24    2393.0
2014-03-25    2658.0
2014-03-26     748.0
2014-03-27    1264.0
2014-03-28     461.0
2014-03-29     761.0
2014-03-30     835.0
2014-03-31      21.0
2014-04-01      30.0
2014-04-02    2277.0
2014-04-03      55.0
2014-04-04    2066.0
2014-04-05     808.0
2014-04-06    3924.0
2014-04-07     290.0
2014-04-08     602.0
2014-04-09    1533.0
2014-04-10    1213.0
2014-04-11     169.0
2014-04-12    3952.0
2014-04-13       5.0
2014-04-15     700.0
2014-04-16      11.0
2014-04-17    1704.0
2014-04-18      94.0
2014-04-19    2849.0
2014-04-20     759.0
2014-04-21     720.0
2014-04-23     318.0
2014-04-24    1479.0
2014-04-25     707.0
2014-04-26    1291.0
2014-04-27    1501.0
2014-04-28    2973.0
2014-04-29     420.0
Name: value, dtype: float64
time
2014-04-02     293.0
2014-04-03    3269.0
2014-04-04    2669.0
2014-04-05    5888.0
2014-04-06    4061.0
2014-04-07    4269.0
2014-04-08    2996.0
2014-04-09    5063.0
2014-04-10    3915.0
2014-04-11    2745.0
2014-04-12    3724.0
2014-04-13    2255.0
2014-04-14    1172.0
2014-04-15    4385.0
2014-04-16    6688.0
2014-04-17    5559.0
2014-04-18    2629.0
2014-04-19    3840.0
2014-04-20    5282.0
2014-04-21    3559.0
2014-04-22    4649.0
2014-04-23    2928.0
2014-04-24    3963.0
2014-04-25    3675.0
2014-04-26    5012.0
2014-04-27    7318.0
2014-04-28    4951.0
2014-04-29    3787.0
2014-04-30    7175.0
2014-05-01    4822.0
2014-05-02    3540.0
2014-05-03    4976.0
2014-05-04    5895.0
2014-05-05    6068.0
2014-05-06    4865.0
2014-05-07    3210.0
2014-05-08    4072.0
2014-05-09    5273.0
2014-05-10    4957.0
2014-05-11    9192.0
2014-05-12    3443.0
2014-05-13    4064.0
2014-05-14    2113.0
Name: value, dtype: float64
time
2014-03-20     2276.0
2014-03-21    17979.0
2014-03-22     6142.0
2014-03-23     6774.0
2014-03-24    15047.0
2014-03-25    21475.0
2014-03-26    16424.0
2014-03-27    17442.0
2014-03-28     4923.0
2014-03-29     8323.0
2014-03-30     4523.0
2014-03-31    11837.0
2014-04-01    17174.0
2014-04-02    21359.0
2014-04-03    21402.0
2014-04-04    12379.0
2014-04-05     3340.0
2014-04-06     7467.0
2014-04-07     9846.0
2014-04-08    15101.0
2014-04-09    13558.0
2014-04-10     9296.0
2014-04-11    10527.0
2014-04-12    11751.0
2014-04-13     2006.0
2014-04-14    17985.0
2014-04-15    13585.0
2014-04-16    12522.0
2014-04-17    15018.0
2014-04-18    13491.0
2014-04-19    13293.0
2014-04-20     8344.0
2014-04-21     3833.0
2014-04-22    15490.0
2014-04-23    14535.0
2014-04-24    22086.0
2014-04-25    13974.0
2014-04-26    15482.0
2014-04-27     5701.0
2014-04-28    10808.0
2014-04-29     7873.0
2014-04-30     9176.0
2014-05-01    15517.0
2014-05-02    15089.0
2014-05-03     8186.0
2014-05-04     5889.0
2014-05-05     1789.0
Name: value, dtype: float64
time
2014-04-16     4945.0
2014-04-17    18856.0
2014-04-18    11030.0
2014-04-19    10003.0
2014-04-20    10896.0
2014-04-21    10136.0
2014-04-22    20484.0
2014-04-23     6824.0
2014-04-24     8704.0
2014-04-25     9947.0
2014-04-26     7285.0
2014-04-27    19399.0
2014-04-28    22754.0
2014-04-29    16451.0
2014-04-30     8104.0
2014-05-01    12834.0
2014-05-02      863.0
2014-05-03     2491.0
2014-05-04     6943.0
2014-05-05    12217.0
2014-05-06    17911.0
2014-05-07     3169.0
2014-05-08    12633.0
2014-05-09    12136.0
2014-05-10    17084.0
2014-05-11     5336.0
2014-05-12    15522.0
2014-05-13    18801.0
2014-05-14     4149.0
2014-05-15    15883.0
2014-05-16     5390.0
2014-05-17     9751.0
2014-05-18    18270.0
2014-05-19     5053.0
2014-05-20     7907.0
2014-05-21     9771.0
2014-05-22     4429.0
2014-05-23     6840.0
2014-05-24    10875.0
2014-05-25     7342.0
2014-05-26    18925.0
2014-05-27     4090.0
2014-05-28    14321.0
2014-05-29     3569.0
2014-05-30     9498.0
Name: value, dtype: float64

time
2014-03-24     2508.0
2014-03-25     7730.0
2014-03-26     7893.0
2014-03-27     8167.0
2014-03-28     6929.0
2014-03-29     3907.0
2014-03-30     8934.0
2014-03-31     7504.0
2014-04-01     8371.0
2014-04-02     9184.0
2014-04-03     7131.0
2014-04-04     9346.0
2014-04-05     4098.0
2014-04-06     5301.0
2014-04-07     6208.0
2014-04-08     8080.0
2014-04-09     9690.0
2014-04-10     7552.0
2014-04-11     6817.0
2014-04-12     4206.0
2014-04-13     7660.0
2014-04-14     4463.0
2014-04-15     6740.0
2014-04-16    15930.0
2014-04-17    12333.0
2014-04-18     7052.0
2014-04-19     5235.0
2014-04-20     5498.0
2014-04-21     7144.0
2014-04-22    15079.0
2014-04-23     9756.0
2014-04-24     7187.0
2014-04-25     8179.0
2014-04-26     6389.0
2014-04-27     1710.0
2014-04-28     6545.0
2014-04-29     8530.0
2014-04-30     8637.0
2014-05-01     3277.0
2014-05-02     6840.0
2014-05-03     1447.0
2014-05-04     3883.0
2014-05-05     5317.0
2014-05-06     8129.0
2014-05-07     9290.0
Name: value, dtype: float64
time
2014-03-21    10507.0
2014-03-22    12238.0
2014-03-23     8890.0
2014-03-24    12546.0
2014-03-25    13155.0
2014-03-26    10785.0
2014-03-27    12552.0
2014-03-28    11751.0
2014-03-29     4675.0
2014-03-30     2666.0
2014-03-31     3093.0
2014-04-01      431.0
2014-04-02      780.0
2014-04-03     2373.0
2014-04-04      308.0
2014-04-05     1486.0
2014-04-06     1263.0
2014-04-07      550.0
2014-04-08      453.0
2014-04-09     1098.0
2014-04-10      846.0
2014-04-11      553.0
2014-04-12      116.0
2014-04-13       30.0
2014-04-14      328.0
2014-04-15      322.0
2014-04-16      743.0
2014-04-17      801.0
2014-04-18      107.0
2014-04-19      259.0
2014-04-20      863.0
2014-04-21      597.0
2014-04-22      728.0
2014-04-23      658.0
2014-04-24      620.0
2014-04-25      806.0
2014-04-26      184.0
2014-04-27      439.0
2014-04-28       57.0
2014-04-29      171.0
2014-04-30      172.0
2014-05-01      303.0
2014-05-02      288.0
2014-05-03      694.0
2014-05-04      354.0
2014-05-05      200.0
Name: value, dtype: float64
time
2014-03-14     243.0
2014-03-15     165.0
2014-03-17       1.0
2014-03-18    3215.0
2014-03-20    1307.0
2014-03-21     820.0
2014-03-22     359.0
2014-03-23     562.0
2014-03-24     327.0
2014-03-25    1445.0
2014-03-26    4949.0
2014-03-27       0.0
2014-03-28    1583.0
2014-03-29     195.0
2014-03-30    1071.0
2014-04-01     770.0
2014-04-02    1661.0
2014-04-04     740.0
2014-04-05      25.0
2014-04-06     424.0
2014-04-07     518.0
2014-04-10     648.0
2014-04-11     795.0
2014-04-12    2165.0
2014-04-14    2896.0
2014-04-16    2811.0
2014-04-17    2340.0
2014-04-18    1425.0
2014-04-19     452.0
2014-04-21    2578.0
2014-04-23     469.0
2014-04-24    1259.0
2014-04-25      72.0
2014-04-26     339.0
2014-04-27    2502.0
2014-04-28    1931.0
2014-04-29      55.0
2014-04-30     194.0
2014-05-01      60.0
2014-05-03     585.0
2014-05-05     172.0
2014-05-06    1659.0
Name: value, dtype: float64
time
2014-03-20     6641.0
2014-03-21     9826.0
2014-03-22    14525.0
2014-03-23    16031.0
2014-03-24    15730.0
2014-03-25    15857.0
2014-03-26    20322.0
2014-03-27    17838.0
2014-03-28    17672.0
2014-03-29    17475.0
2014-03-30    11700.0
2014-03-31    12972.0
2014-04-01    12882.0
2014-04-02     9074.0
2014-04-03    14460.0
2014-04-04    15638.0
2014-04-05     9363.0
2014-04-06    10319.0
2014-04-07    16311.0
2014-04-08    16108.0
2014-04-09    18235.0
2014-04-10    11402.0
2014-04-11    19382.0
2014-04-12    11779.0
2014-04-13    10114.0
2014-04-14    12149.0
2014-04-15    15471.0
2014-04-16    13416.0
2014-04-17    19548.0
2014-04-18    17662.0
2014-04-19    11296.0
2014-04-20    13949.0
2014-04-21    14152.0
2014-04-22    10817.0
2014-04-23    10317.0
2014-04-24    11102.0
2014-04-25    14134.0
2014-04-26    12684.0
2014-04-27    12210.0
2014-04-28    13116.0
2014-04-29    14699.0
2014-04-30    13110.0
2014-05-01    16552.0
2014-05-02    17278.0
2014-05-03     5492.0
2014-05-04     4695.0
Name: value, dtype: float64
time
2014-03-27     6066.0
2014-03-28    10478.0
2014-03-29     9957.0
2014-03-30     3085.0
2014-03-31     3846.0
2014-04-01     8893.0
2014-04-02    13215.0
2014-04-03    10063.0
2014-04-04     7406.0
2014-04-05     4867.0
2014-04-06     2818.0
2014-04-07     5998.0
2014-04-08     7996.0
2014-04-09    11045.0
2014-04-10     7783.0
2014-04-11     4888.0
2014-04-12     7295.0
2014-04-13     8652.0
2014-04-14     7834.0
2014-04-15     7183.0
2014-04-16     7033.0
2014-04-17     7748.0
2014-04-18     5904.0
2014-04-19     7279.0
2014-04-20    15072.0
2014-04-21     4222.0
2014-04-22    18347.0
2014-04-23     5621.0
2014-04-24     6935.0
2014-04-25     4744.0
2014-04-26     3426.0
2014-04-27     5069.0
2014-04-28     3979.0
2014-04-29     6085.0
2014-04-30     6141.0
2014-05-01    10759.0
2014-05-02    17130.0
2014-05-03     5446.0
2014-05-04     7504.0
2014-05-05     2282.0
Name: value, dtype: float64
time
2014-03-21     1665.0
2014-03-22     2644.0
2014-03-23     5048.0
2014-03-24     6248.0
2014-03-25     3791.0
2014-03-26     3986.0
2014-03-27     3276.0
2014-03-28     3250.0
2014-03-29     2261.0
2014-03-30     3569.0
2014-03-31     9398.0
2014-04-01     3206.0
2014-04-02     3364.0
2014-04-03     2313.0
2014-04-04     3231.0
2014-04-05     3853.0
2014-04-06     6029.0
2014-04-07     5036.0
2014-04-08     4476.0
2014-04-09     1774.0
2014-04-10     7018.0
2014-04-11     4984.0
2014-04-12     2493.0
2014-04-13     7753.0
2014-04-14     4230.0
2014-04-15     3965.0
2014-04-16     5335.0
2014-04-17     5007.0
2014-04-18     6254.0
2014-04-19     1442.0
2014-04-20     3489.0
2014-04-21     6020.0
2014-04-22     3493.0
2014-04-23     4272.0
2014-04-24     4894.0
2014-04-25    10864.0
2014-04-26     3489.0
2014-04-27     5291.0
2014-04-28     3365.0
2014-04-29     3670.0
2014-04-30     4098.0
2014-05-01     3745.0
2014-05-02     6631.0
2014-05-03     7432.0
2014-05-04     3048.0
2014-05-05     3254.0
2014-05-06     1786.0
2014-05-07     3512.0
Name: value, dtype: float64
time
2014-03-20     1631.0
2014-03-21     5229.0
2014-03-22     5979.0
2014-03-23     5474.0
2014-03-24    11954.0
2014-03-25     3498.0
2014-03-26     7080.0
2014-03-27     5825.0
2014-03-28     9430.0
2014-03-29     5743.0
2014-03-30      592.0
2014-03-31     5836.0
2014-04-01     5640.0
2014-04-02     7402.0
2014-04-03     7497.0
2014-04-04     4548.0
2014-04-05     4253.0
2014-04-06     3759.0
2014-04-07     8653.0
2014-04-08    10594.0
2014-04-09     6715.0
2014-04-10     8128.0
2014-04-11     3660.0
2014-04-12     4692.0
2014-04-13     7936.0
2014-04-14     1618.0
2014-04-15     8147.0
2014-04-16     6143.0
2014-04-17     4463.0
2014-04-18     3577.0
2014-04-19     1342.0
2014-04-20     9983.0
2014-04-21     2262.0
2014-04-22     8438.0
2014-04-23     9992.0
2014-04-24     8335.0
2014-04-25     3992.0
2014-04-26     1810.0
2014-04-27     4990.0
2014-04-28     5220.0
2014-04-29     5400.0
2014-04-30     3285.0
2014-05-01     6613.0
2014-05-02     2847.0
2014-05-03     3206.0
2014-05-04     6086.0
2014-05-05     2094.0
Name: value, dtype: float64
time
2014-03-14     1605.0
2014-03-15     5309.0
2014-03-16     4903.0
2014-03-17    10160.0
2014-03-18     4512.0
2014-03-19     8183.0
2014-03-20     4360.0
2014-03-21    11156.0
2014-03-22     7590.0
2014-03-23     4529.0
2014-03-24     2767.0
2014-03-25     4637.0
2014-03-26     6070.0
2014-03-27     5747.0
2014-03-28     3970.0
2014-03-29     4403.0
2014-03-30     3937.0
2014-03-31     4774.0
2014-04-01     3298.0
2014-04-02     6884.0
2014-04-03     6814.0
2014-04-04     3653.0
2014-04-05    13068.0
2014-04-06     3650.0
2014-04-07     6367.0
2014-04-08     4079.0
2014-04-09     5757.0
2014-04-10     7844.0
2014-04-11     5810.0
2014-04-12     3659.0
2014-04-13     2175.0
2014-04-14     2773.0
2014-04-15      701.0
2014-04-16      109.0
2014-04-17       41.0
2014-04-19      187.0
2014-04-22       13.0
Name: value, dtype: float64
time
2014-03-18     1183.0
2014-03-19    11527.0
2014-03-20    10739.0
2014-03-21    17950.0
2014-03-22    11020.0
2014-03-23    10203.0
2014-03-24     5517.0
2014-03-25    12516.0
2014-03-26     9190.0
2014-03-27     9709.0
2014-03-28    12984.0
2014-03-29    10575.0
2014-03-30     8740.0
2014-03-31    13187.0
2014-04-01    14700.0
2014-04-02    13330.0
2014-04-03     8073.0
2014-04-04    10024.0
2014-04-05     5377.0
2014-04-06     7657.0
2014-04-07    16856.0
2014-04-08     9727.0
2014-04-09    13731.0
2014-04-10     5612.0
2014-04-11     2235.0
2014-04-12    14799.0
2014-04-13     8132.0
2014-04-14     4823.0
2014-04-15     8727.0
2014-04-16     9003.0
2014-04-17     7809.0
2014-04-18     6567.0
2014-04-19     2051.0
2014-04-20     6713.0
2014-04-21     9219.0
2014-04-22     5709.0
2014-04-23    11783.0
2014-04-24     3174.0
2014-04-25     5444.0
2014-04-26     7634.0
2014-04-27     9327.0
2014-04-28    14357.0
2014-04-29     6650.0
2014-04-30     7198.0
2014-05-01     5441.0
2014-05-02     5961.0
2014-05-03     1798.0
2014-05-04     2202.0
Name: value, dtype: float64
time
2014-03-13     826.0
2014-03-14    3377.0
2014-03-15    1201.0
2014-03-16    2440.0
2014-03-17    1419.0
2014-03-18    1318.0
2014-03-19    1827.0
2014-03-20    1097.0
2014-03-21    2858.0
2014-03-22     867.0
2014-03-23    1375.0
2014-03-24    1968.0
2014-03-25     726.0
2014-03-26    1818.0
2014-03-27    2483.0
2014-03-28    1937.0
2014-03-29    1192.0
2014-03-30     780.0
2014-03-31    1671.0
2014-04-01    2074.0
2014-04-02     697.0
2014-04-03    2838.0
2014-04-04    1266.0
2014-04-05    1735.0
2014-04-06    1296.0
2014-04-07    4442.0
2014-04-08    2564.0
2014-04-09    2404.0
2014-04-10    4361.0
2014-04-11    1582.0
2014-04-12     767.0
2014-04-13    2079.0
2014-04-14    3426.0
2014-04-15    3149.0
2014-04-16    1724.0
2014-04-17    3259.0
2014-04-18     937.0
2014-04-19    2355.0
2014-04-20    1318.0
2014-04-21    2076.0
2014-04-22    1819.0
2014-04-23    1555.0
2014-04-24    1965.0
2014-04-25    2005.0
2014-04-26     703.0
2014-04-27    2228.0
2014-04-28     865.0
2014-04-29    2025.0
2014-04-30    3999.0
2014-05-01    5459.0
2014-05-02     703.0
2014-05-03     883.0
2014-05-04    1969.0
2014-05-05     264.0
Name: value, dtype: float64
time
2014-04-01     2716.0
2014-04-02     6280.0
2014-04-03     4926.0
2014-04-04     5237.0
2014-04-05     3775.0
2014-04-06     4897.0
2014-04-07     5389.0
2014-04-08     4179.0
2014-04-09     4124.0
2014-04-10     4656.0
2014-04-11     4125.0
2014-04-12     2406.0
2014-04-13     3048.0
2014-04-14     6525.0
2014-04-15     5020.0
2014-04-16     4246.0
2014-04-17     4340.0
2014-04-18     8390.0
2014-04-19     1277.0
2014-04-20     2566.0
2014-04-21     4231.0
2014-04-22     6735.0
2014-04-23     5595.0
2014-04-24     4941.0
2014-04-25    18788.0
2014-04-26     2330.0
2014-04-27     5141.0
2014-04-28     7089.0
2014-04-29     2565.0
2014-04-30     7621.0
2014-05-01     3930.0
2014-05-02     3622.0
2014-05-03     2210.0
2014-05-04     4016.0
2014-05-05     5760.0
2014-05-06     3953.0
2014-05-07     3372.0
2014-05-08     5127.0
2014-05-09     5151.0
2014-05-10     4792.0
2014-05-11     2117.0
2014-05-12      826.0
2014-05-13      474.0
2014-05-14      703.0
Name: value, dtype: float64
time
2014-03-14     5623.0
2014-03-15     8904.0
2014-03-16     5548.0
2014-03-17     5614.0
2014-03-18     7177.0
2014-03-19     6096.0
2014-03-20     4863.0
2014-03-21     3032.0
2014-03-22     1806.0
2014-03-23     3992.0
2014-03-24     4167.0
2014-03-25     9523.0
2014-03-26     8523.0
2014-03-27    11264.0
2014-03-28     4806.0
2014-03-29     2507.0
2014-03-30     4132.0
2014-03-31     1278.0
2014-04-01     4642.0
2014-04-02     3363.0
2014-04-03     4592.0
2014-04-04     9140.0
2014-04-05     2489.0
2014-04-06     4267.0
2014-04-07     5002.0
2014-04-08     2493.0
2014-04-09     7908.0
2014-04-10     3369.0
2014-04-11     5875.0
2014-04-12     9285.0
2014-04-13     2351.0
2014-04-14     4047.0
2014-04-15     7540.0
2014-04-16     1779.0
2014-04-17     5464.0
2014-04-18     5955.0
2014-04-19     2441.0
2014-04-20     7614.0
2014-04-21     7827.0
2014-04-22     4750.0
2014-04-23     4738.0
2014-04-24     5064.0
2014-04-25     5750.0
2014-04-26     5482.0
2014-04-27     3047.0
2014-04-28     6057.0
2014-04-29     3830.0
2014-04-30     3713.0
2014-05-01     5084.0
2014-05-02    12601.0
2014-05-03     3715.0
2014-05-04     4132.0
2014-05-05       49.0
Name: value, dtype: float64
time
2014-03-21     3008.0
2014-03-22     4706.0
2014-03-23     7160.0
2014-03-24     5930.0
2014-03-25     7212.0
2014-03-26     8552.0
2014-03-27     4169.0
2014-03-28    10467.0
2014-03-29     7517.0
2014-03-30     8669.0
2014-03-31     6809.0
2014-04-01    12936.0
2014-04-02     3616.0
2014-04-03     6120.0
2014-04-04     6913.0
2014-04-05     5465.0
2014-04-06     7161.0
2014-04-07     5354.0
2014-04-08     4056.0
2014-04-09     4303.0
2014-04-10     2159.0
2014-04-11     5562.0
2014-04-12     2842.0
2014-04-13     1217.0
2014-04-14      823.0
2014-04-15     1800.0
2014-04-16      589.0
2014-04-17     2211.0
2014-04-18     2364.0
2014-04-19     1896.0
2014-04-20      421.0
2014-04-21      848.0
2014-04-22     2612.0
2014-04-23     2925.0
2014-04-24      764.0
2014-04-25     1264.0
2014-04-26     1797.0
Name: value, dtype: float64

time
2014-03-22     6747.0
2014-03-23    36204.0
2014-03-24    11243.0
2014-03-25    21481.0
2014-03-26    11394.0
2014-03-27     9123.0
2014-03-28     5532.0
2014-03-29    10591.0
2014-03-30     7675.0
2014-03-31    15914.0
2014-04-01     9203.0
2014-04-02    11304.0
2014-04-03    14540.0
2014-04-04    11953.0
2014-04-05     6510.0
2014-04-06    13406.0
2014-04-07    10271.0
2014-04-08    14280.0
2014-04-09     9194.0
2014-04-10    22169.0
2014-04-11    11599.0
2014-04-12     6616.0
2014-04-13     7624.0
2014-04-14    12064.0
2014-04-15     9825.0
2014-04-16    10167.0
2014-04-17    12463.0
2014-04-18     7498.0
2014-04-19     2376.0
2014-04-20     6346.0
2014-04-21     7332.0
2014-04-22    20183.0
2014-04-23     9882.0
2014-04-24    11943.0
2014-04-25    11194.0
2014-04-26     6492.0
2014-04-27    12533.0
2014-04-28    18750.0
2014-04-29     7028.0
2014-04-30    10909.0
2014-05-01    16494.0
2014-05-02     8933.0
2014-05-03     2380.0
2014-05-04     2726.0
Name: value, dtype: float64
time
2014-03-13     206.0
2014-03-14      46.0
2014-03-15     486.0
2014-03-16     365.0
2014-03-17     714.0
2014-03-18     786.0
2014-03-19      26.0
2014-03-20     413.0
2014-03-21     285.0
2014-03-22    1156.0
2014-03-23     726.0
2014-03-24     459.0
2014-03-25    1013.0
2014-03-26    2526.0
2014-03-27    1594.0
2014-03-28     519.0
2014-03-29     410.0
2014-03-30     863.0
2014-03-31      74.0
2014-04-01    1474.0
2014-04-02    8645.0
2014-04-03     139.0
2014-04-04    4939.0
2014-04-05     202.0
2014-04-06    1606.0
2014-04-07    2214.0
2014-04-08       7.0
2014-04-09    3192.0
2014-04-10    1090.0
2014-04-11     359.0
2014-04-12      19.0
2014-04-13     112.0
2014-04-14     202.0
2014-04-15       4.0
2014-04-16     705.0
2014-04-17     446.0
2014-04-18    2129.0
2014-04-21     739.0
2014-04-22     909.0
2014-04-23    1299.0
2014-04-24    1190.0
2014-04-25     334.0
2014-04-26      56.0
2014-04-27     269.0
2014-04-28     209.0
2014-04-29    1286.0
2014-04-30     737.0
2014-05-01     126.0
2014-05-02     929.0
2014-05-03    2509.0
2014-05-04     692.0
2014-05-05     951.0
Name: value, dtype: float64

In [32]:
# calculate total builtin app time per day by each user
for id_val in ids:
    filtered_df = df[(df['id'] == id_val) & (df['variable'] == 'appCat.builtin')]

    # # Group by 'time' and calculate the average of 'value'
    average_df = round(df.groupby(filtered_df['time'].dt.date)['value'].sum())
    print(average_df)

time
2014-03-21    1993.0
2014-03-22    3244.0
2014-03-23     572.0
2014-03-24     385.0
2014-03-25    1052.0
2014-03-26     911.0
2014-03-27     880.0
2014-03-28     851.0
2014-03-29     608.0
2014-03-30    2878.0
2014-03-31     858.0
2014-04-01     592.0
2014-04-02     585.0
2014-04-03     654.0
2014-04-04    1471.0
2014-04-05     643.0
2014-04-06     764.0
2014-04-07    1506.0
2014-04-08     995.0
2014-04-09     523.0
2014-04-10    3207.0
2014-04-11    1002.0
2014-04-12     728.0
2014-04-13     337.0
2014-04-14    2974.0
2014-04-15     735.0
2014-04-16     218.0
2014-04-17     168.0
2014-04-18     149.0
2014-04-19     285.0
2014-04-20     918.0
2014-04-21     471.0
2014-04-22     619.0
2014-04-23     358.0
2014-04-24     382.0
2014-04-25     952.0
2014-04-26    2705.0
2014-04-27     594.0
2014-04-28     476.0
2014-04-29    1142.0
2014-04-30     853.0
2014-05-01     545.0
2014-05-02     943.0
2014-05-03     758.0
2014-05-04    3808.0
Name: value, dtype: float64
time
2014-04-08     1964.0
2014-04-09     1738.0
2014-04-10     2423.0
2014-04-11    11468.0
2014-04-12      920.0
2014-04-13      655.0
2014-04-14     1399.0
2014-04-15     1239.0
2014-04-16     1166.0
2014-04-17     1824.0
2014-04-18     3727.0
2014-04-19      628.0
2014-04-20     1530.0
2014-04-21     1966.0
2014-04-22     5286.0
2014-04-23     1844.0
2014-04-24     2422.0
2014-04-25     1773.0
2014-04-26     1286.0
2014-04-27      497.0
2014-04-28     2789.0
2014-04-29     2112.0
2014-04-30     8461.0
2014-05-01     1982.0
2014-05-02     2008.0
2014-05-03     3895.0
2014-05-04     1206.0
2014-05-05     1496.0
2014-05-06     1489.0
2014-05-07     1180.0
2014-05-08      822.0
Name: value, dtype: float64
time
2014-04-14     625.0
2014-04-15     810.0
2014-04-16     850.0
2014-04-17    6155.0
2014-04-18    3984.0
2014-04-19     568.0
2014-04-20    1011.0
2014-04-21     395.0
2014-04-22     932.0
2014-04-23     466.0
2014-04-24    1322.0
2014-04-25    1075.0
2014-04-26     503.0
2014-04-27     397.0
2014-04-28    1659.0
2014-04-29    1107.0
2014-04-30    2864.0
2014-05-01    1767.0
2014-05-02     678.0
2014-05-03    1112.0
2014-05-04    3850.0
2014-05-05     470.0
2014-05-06    2170.0
2014-05-07    1133.0
2014-05-08    1461.0
2014-05-09     867.0
2014-05-10    5084.0
2014-05-11    2492.0
2014-05-12    2272.0
2014-05-13    1634.0
2014-05-14    2639.0
2014-05-15    2113.0
2014-05-16     717.0
2014-05-17    2312.0
2014-05-18    1313.0
2014-05-19     557.0
2014-05-20    1065.0
2014-05-21     927.0
2014-05-22     876.0
2014-05-23     858.0
2014-05-24     322.0
2014-05-25    1231.0
2014-05-26     566.0
2014-05-27    1172.0
2014-05-28    2056.0
2014-05-29    2042.0
2014-05-30     807.0
2014-05-31    1063.0
2014-06-01    1593.0
2014-06-02     947.0
2014-06-03    1579.0
2014-06-04     705.0
2014-06-05    1749.0
2014-06-06     946.0
2014-06-07    5027.0
2014-06-08     351.0
Name: value, dtype: float64
time
2014-04-01      615.0
2014-04-02     1483.0
2014-04-03      505.0
2014-04-04      595.0
2014-04-05     1475.0
2014-04-06     1924.0
2014-04-07      880.0
2014-04-08     1419.0
2014-04-09     1222.0
2014-04-10     2225.0
2014-04-11     6474.0
2014-04-12      694.0
2014-04-13     1577.0
2014-04-14     1635.0
2014-04-15      597.0
2014-04-16     1773.0
2014-04-17      918.0
2014-04-18    19573.0
2014-04-19     1037.0
2014-04-20     2011.0
2014-04-21     4602.0
2014-04-22     1185.0
2014-04-23     2248.0
2014-04-24     1443.0
2014-04-25     4673.0
2014-04-26     4264.0
2014-04-27     1294.0
2014-04-28     1576.0
2014-04-29     1328.0
2014-04-30     1517.0
2014-05-01     1694.0
2014-05-02     1814.0
2014-05-03      446.0
2014-05-04      178.0
2014-05-05       69.0
2014-05-07      219.0
2014-05-17        6.0
Name: value, dtype: float64
time
2014-03-13      65.0
2014-03-14    1799.0
2014-03-15    2043.0
2014-03-16     129.0
2014-03-17    1027.0
2014-03-18     556.0
2014-03-19     790.0
2014-03-20     462.0
2014-03-21     144.0
2014-03-22     926.0
2014-03-23     388.0
2014-03-24     341.0
2014-03-25     118.0
2014-03-26     431.0
2014-03-27      18.0
2014-03-28    1689.0
2014-03-29     200.0
2014-03-30      27.0
2014-03-31     543.0
2014-04-01    3216.0
2014-04-02     390.0
2014-04-03    1548.0
2014-04-04     919.0
2014-04-05      92.0
2014-04-06    1422.0
2014-04-07     255.0
2014-04-08    1052.0
2014-04-09    1152.0
2014-04-10     285.0
2014-04-11     864.0
2014-04-12     393.0
2014-04-13     146.0
2014-04-14     377.0
2014-04-15    2472.0
2014-04-16     568.0
2014-04-17     288.0
2014-04-18      50.0
2014-04-19    1481.0
2014-04-20      18.0
2014-04-21     262.0
2014-04-22    1539.0
2014-04-23     522.0
2014-04-24     580.0
2014-04-25     908.0
2014-04-26     134.0
2014-04-27     772.0
2014-04-28     485.0
2014-04-29     401.0
2014-04-30      95.0
2014-05-01     159.0
2014-05-02    1039.0
2014-05-03      35.0
Name: value, dtype: float64
time
2014-04-13      628.0
2014-04-14     1144.0
2014-04-15     2653.0
2014-04-16    21058.0
2014-04-17     1579.0
2014-04-18     4545.0
2014-04-19    11549.0
2014-04-20      368.0
2014-04-21      841.0
2014-04-22     6569.0
2014-04-23     1518.0
2014-04-24     7304.0
2014-04-25     7653.0
2014-04-26      810.0
2014-04-27      681.0
2014-04-28      670.0
2014-04-29     1349.0
2014-04-30     1069.0
2014-05-01     2948.0
2014-05-02      733.0
2014-05-03     1216.0
2014-05-04      418.0
2014-05-05      884.0
2014-05-06      891.0
2014-05-07      668.0
2014-05-08    13109.0
2014-05-09    18386.0
2014-05-10     1006.0
2014-05-11     3460.0
2014-05-12     3241.0
2014-05-13     5164.0
2014-05-14     3551.0
2014-05-15     1464.0
2014-05-16     2903.0
2014-05-17     1028.0
2014-05-18     1073.0
2014-05-19      665.0
2014-05-20     1432.0
2014-05-21      681.0
2014-05-22     2614.0
2014-05-23     2375.0
2014-05-24     1882.0
2014-05-25     3005.0
2014-05-26     1380.0
2014-05-27     3703.0
2014-05-28     8257.0
2014-05-29       22.0
Name: value, dtype: float64
time
2014-03-31      818.0
2014-04-01     3754.0
2014-04-02     2319.0
2014-04-03     6674.0
2014-04-04     3474.0
2014-04-05     2075.0
2014-04-06      886.0
2014-04-07    11171.0
2014-04-08     5743.0
2014-04-09     2656.0
2014-04-10     3770.0
2014-04-11     3682.0
2014-04-12     3001.0
2014-04-13     1808.0
2014-04-14     5240.0
2014-04-15     3397.0
2014-04-16     3731.0
2014-04-17     2334.0
2014-04-18     2534.0
2014-04-19      976.0
2014-04-20      822.0
2014-04-21     1067.0
2014-04-22     7992.0
2014-04-23     4591.0
2014-04-24     3089.0
2014-04-25     3085.0
2014-04-26      779.0
2014-04-27      966.0
2014-04-28     1642.0
2014-04-29        9.0
2014-04-30      212.0
2014-05-01     6415.0
2014-05-02     3911.0
2014-05-03     3302.0
2014-05-04     2363.0
2014-05-05     1304.0
2014-05-06     6115.0
2014-05-07     2544.0
2014-05-08     2596.0
Name: value, dtype: float64
time
2014-04-02     222.0
2014-04-03     133.0
2014-04-04      14.0
2014-04-05     152.0
2014-04-06     242.0
2014-04-07     267.0
2014-04-08    1211.0
2014-04-09     235.0
2014-04-10     418.0
2014-04-11      26.0
2014-04-12      83.0
2014-04-13     382.0
2014-04-14     347.0
2014-04-15     109.0
2014-04-16     337.0
2014-04-17     200.0
2014-04-18     531.0
2014-04-19     360.0
2014-04-20      71.0
2014-04-21      34.0
2014-04-22    1667.0
2014-04-23     365.0
2014-04-24     418.0
2014-04-25     565.0
2014-04-26     561.0
2014-04-27    1304.0
2014-04-28     606.0
2014-04-29    1913.0
2014-04-30    1098.0
2014-05-01     336.0
2014-05-02    1659.0
2014-05-03     993.0
2014-05-04     366.0
2014-05-05     910.0
2014-05-06     159.0
2014-05-07       8.0
2014-05-08     178.0
2014-05-09     425.0
2014-05-10     349.0
2014-05-11     164.0
2014-05-12     773.0
2014-05-13     377.0
Name: value, dtype: float64
time
2014-03-20    211.0
2014-03-21     30.0
2014-03-22     30.0
2014-03-23     46.0
2014-03-24    116.0
2014-03-25    873.0
2014-03-26    257.0
2014-03-27    229.0
2014-03-28    409.0
2014-03-29    122.0
2014-03-30     22.0
2014-04-01     38.0
2014-04-02    511.0
2014-04-03     43.0
2014-04-04    276.0
2014-04-05    109.0
2014-04-06    231.0
2014-04-07     74.0
2014-04-08     66.0
2014-04-09    242.0
2014-04-10     87.0
2014-04-11     55.0
2014-04-12    327.0
2014-04-13     12.0
2014-04-15    104.0
2014-04-17    307.0
2014-04-18     79.0
2014-04-19     74.0
2014-04-20    308.0
2014-04-21    169.0
2014-04-23      8.0
2014-04-24    543.0
2014-04-25    192.0
2014-04-26    114.0
2014-04-27    132.0
2014-04-28    250.0
2014-04-29    164.0
Name: value, dtype: float64
time
2014-04-02      124.0
2014-04-03      769.0
2014-04-04     1759.0
2014-04-05     1795.0
2014-04-06      968.0
2014-04-07      691.0
2014-04-08     1083.0
2014-04-09      774.0
2014-04-10     1097.0
2014-04-11      684.0
2014-04-12     2548.0
2014-04-13      636.0
2014-04-14      473.0
2014-04-15      746.0
2014-04-16      927.0
2014-04-17     2018.0
2014-04-18      765.0
2014-04-19      503.0
2014-04-20    33101.0
2014-04-21      618.0
2014-04-22      843.0
2014-04-23      475.0
2014-04-24     1330.0
2014-04-25      911.0
2014-04-26     2015.0
2014-04-27     1196.0
2014-04-28      820.0
2014-04-29      819.0
2014-04-30     1225.0
2014-05-01      928.0
2014-05-02      818.0
2014-05-03      812.0
2014-05-04     2385.0
2014-05-05     1199.0
2014-05-06      809.0
2014-05-07     1374.0
2014-05-08      650.0
2014-05-09     1550.0
2014-05-10     1188.0
2014-05-11     1236.0
2014-05-12      723.0
2014-05-13     1073.0
2014-05-14      366.0
Name: value, dtype: float64
time
2014-03-20      249.0
2014-03-21     3139.0
2014-03-22      731.0
2014-03-23     1286.0
2014-03-24      867.0
2014-03-25     1033.0
2014-03-26     1167.0
2014-03-27     1229.0
2014-03-28    10063.0
2014-03-29     1953.0
2014-03-30      414.0
2014-03-31     2961.0
2014-04-01     1386.0
2014-04-02     3614.0
2014-04-03     2321.0
2014-04-04     1958.0
2014-04-05    15159.0
2014-04-06     4549.0
2014-04-07      927.0
2014-04-08      893.0
2014-04-09     1639.0
2014-04-10      715.0
2014-04-11     3369.0
2014-04-12      302.0
2014-04-13      447.0
2014-04-14      962.0
2014-04-15     1596.0
2014-04-16      924.0
2014-04-17      552.0
2014-04-18     1861.0
2014-04-19      946.0
2014-04-20      897.0
2014-04-21     3442.0
2014-04-22     2213.0
2014-04-23     1131.0
2014-04-24     1466.0
2014-04-25      818.0
2014-04-26      865.0
2014-04-27     1291.0
2014-04-28     1312.0
2014-04-29     5290.0
2014-04-30      845.0
2014-05-01     1876.0
2014-05-02      795.0
2014-05-03      753.0
2014-05-04     1758.0
2014-05-05      438.0
Name: value, dtype: float64
time
2014-04-16      765.0
2014-04-17     2443.0
2014-04-18     1555.0
2014-04-19     2879.0
2014-04-20      669.0
2014-04-21      621.0
2014-04-22     3784.0
2014-04-23      865.0
2014-04-24     3017.0
2014-04-25     4057.0
2014-04-26     3269.0
2014-04-27     2665.0
2014-04-28     4789.0
2014-04-29     4192.0
2014-04-30     1088.0
2014-05-01     3495.0
2014-05-02      727.0
2014-05-03    12892.0
2014-05-04     3825.0
2014-05-05     3415.0
2014-05-06     1555.0
2014-05-07      287.0
2014-05-08     2350.0
2014-05-09     1252.0
2014-05-10     2092.0
2014-05-11      260.0
2014-05-12     1197.0
2014-05-13     2506.0
2014-05-14      269.0
2014-05-15     3281.0
2014-05-16     2212.0
2014-05-17     1018.0
2014-05-18     2753.0
2014-05-19      241.0
2014-05-20      487.0
2014-05-21      662.0
2014-05-22      750.0
2014-05-23      981.0
2014-05-24      948.0
2014-05-25     2688.0
2014-05-26     1049.0
2014-05-27      726.0
2014-05-28     2551.0
2014-05-29      400.0
2014-05-30     3044.0
Name: value, dtype: float64

time
2014-03-24      43.0
2014-03-25     117.0
2014-03-26     213.0
2014-03-27     524.0
2014-03-28      42.0
2014-03-29      32.0
2014-03-30    1875.0
2014-03-31    2017.0
2014-04-01    1351.0
2014-04-02     598.0
2014-04-03     509.0
2014-04-04     860.0
2014-04-05     538.0
2014-04-06     761.0
2014-04-07     403.0
2014-04-08    2506.0
2014-04-09    1590.0
2014-04-10     776.0
2014-04-11      48.0
2014-04-12     258.0
2014-04-13    1230.0
2014-04-14    1113.0
2014-04-15    1489.0
2014-04-16    1916.0
2014-04-17     622.0
2014-04-18     715.0
2014-04-19     597.0
2014-04-20     105.0
2014-04-21      36.0
2014-04-22    1640.0
2014-04-23     356.0
2014-04-24    1068.0
2014-04-25     809.0
2014-04-26     695.0
2014-04-28      50.0
2014-04-29    1424.0
2014-04-30     789.0
2014-05-01     291.0
2014-05-02     916.0
2014-05-03       4.0
2014-05-04     366.0
2014-05-05      24.0
2014-05-06     251.0
2014-05-07    1376.0
Name: value, dtype: float64
time
2014-03-21     2765.0
2014-03-22     5753.0
2014-03-23     5172.0
2014-03-24     3389.0
2014-03-25     5015.0
2014-03-26     3036.0
2014-03-27     1915.0
2014-03-28     6552.0
2014-03-29     3150.0
2014-03-30    26314.0
2014-03-31     3420.0
2014-04-01      262.0
2014-04-02     1550.0
2014-04-03     1613.0
2014-04-04      239.0
2014-04-05     1584.0
2014-04-06     1628.0
2014-04-07      224.0
2014-04-08    40324.0
2014-04-09      879.0
2014-04-10      882.0
2014-04-11     5877.0
2014-04-12       94.0
2014-04-13       30.0
2014-04-14      169.0
2014-04-15     3101.0
2014-04-16     5338.0
2014-04-17    12956.0
2014-04-18      103.0
2014-04-19      132.0
2014-04-20      431.0
2014-04-21     1866.0
2014-04-22     1740.0
2014-04-23      517.0
2014-04-24      383.0
2014-04-25     1986.0
2014-04-26     9402.0
2014-04-27      234.0
2014-04-28       56.0
2014-04-29      200.0
2014-04-30      145.0
2014-05-01      133.0
2014-05-02      241.0
2014-05-03      489.0
2014-05-04      209.0
2014-05-05     4698.0
Name: value, dtype: float64
time
2014-03-14     269.0
2014-03-15      40.0
2014-03-17       7.0
2014-03-18    1349.0
2014-03-20     459.0
2014-03-21     960.0
2014-03-22     256.0
2014-03-23      30.0
2014-03-24     259.0
2014-03-25     555.0
2014-03-26     839.0
2014-03-27      50.0
2014-03-28     597.0
2014-03-29     123.0
2014-03-30     589.0
2014-04-01     288.0
2014-04-02     312.0
2014-04-04     513.0
2014-04-05      25.0
2014-04-06     225.0
2014-04-07      49.0
2014-04-10     223.0
2014-04-11     314.0
2014-04-12     582.0
2014-04-14     561.0
2014-04-16    1389.0
2014-04-17    1147.0
2014-04-18     256.0
2014-04-19     328.0
2014-04-21     270.0
2014-04-23     167.0
2014-04-24     465.0
2014-04-25     115.0
2014-04-26     206.0
2014-04-27     308.0
2014-04-28     464.0
2014-04-29      15.0
2014-04-30     121.0
2014-05-01      60.0
2014-05-03     243.0
2014-05-05     174.0
2014-05-06     637.0
Name: value, dtype: float64
time
2014-03-20      665.0
2014-03-21      945.0
2014-03-22     1296.0
2014-03-23      932.0
2014-03-24     1173.0
2014-03-25     1776.0
2014-03-26     1436.0
2014-03-27     1377.0
2014-03-28     1421.0
2014-03-29      746.0
2014-03-30      941.0
2014-03-31      827.0
2014-04-01     4824.0
2014-04-02      657.0
2014-04-03     1514.0
2014-04-04     1626.0
2014-04-05     1053.0
2014-04-06     1159.0
2014-04-07     2030.0
2014-04-08     3733.0
2014-04-09     2244.0
2014-04-10      728.0
2014-04-11     2146.0
2014-04-12     1094.0
2014-04-13      909.0
2014-04-14     1175.0
2014-04-15     1711.0
2014-04-16     1477.0
2014-04-17     1819.0
2014-04-18      885.0
2014-04-19      888.0
2014-04-20      844.0
2014-04-21      772.0
2014-04-22     1221.0
2014-04-23      703.0
2014-04-24      569.0
2014-04-25     2158.0
2014-04-26    18137.0
2014-04-27     1341.0
2014-04-28     3745.0
2014-04-29     2143.0
2014-04-30     4951.0
2014-05-01     2411.0
2014-05-02     1305.0
2014-05-03      404.0
2014-05-04      678.0
Name: value, dtype: float64
time
2014-03-27      736.0
2014-03-28     4855.0
2014-03-29     6547.0
2014-03-30      805.0
2014-03-31      954.0
2014-04-01     1334.0
2014-04-02      842.0
2014-04-03     2386.0
2014-04-04     1239.0
2014-04-05     1613.0
2014-04-06      568.0
2014-04-07     1598.0
2014-04-08     3071.0
2014-04-09    30520.0
2014-04-10     2115.0
2014-04-11     9722.0
2014-04-12     2864.0
2014-04-13     1239.0
2014-04-14     1622.0
2014-04-15     2353.0
2014-04-16     2877.0
2014-04-17     1109.0
2014-04-18      797.0
2014-04-19    32945.0
2014-04-20     3892.0
2014-04-21     1243.0
2014-04-22     2518.0
2014-04-23     1267.0
2014-04-24     3131.0
2014-04-25     2088.0
2014-04-26      980.0
2014-04-27      759.0
2014-04-28     1956.0
2014-04-29     2113.0
2014-04-30     1681.0
2014-05-01     1454.0
2014-05-02     2623.0
2014-05-03     2817.0
2014-05-04     3156.0
2014-05-05     1345.0
Name: value, dtype: float64
time
2014-03-21      168.0
2014-03-22      482.0
2014-03-23      493.0
2014-03-24       92.0
2014-03-25     1044.0
2014-03-26      119.0
2014-03-27      588.0
2014-03-28      278.0
2014-03-29       19.0
2014-03-30       13.0
2014-03-31     2045.0
2014-04-01      544.0
2014-04-02      854.0
2014-04-03    19587.0
2014-04-04      617.0
2014-04-05      263.0
2014-04-06       11.0
2014-04-07      596.0
2014-04-08      874.0
2014-04-09       24.0
2014-04-10      104.0
2014-04-11      102.0
2014-04-12    19477.0
2014-04-13     1391.0
2014-04-14     1808.0
2014-04-15      726.0
2014-04-16      244.0
2014-04-17     1816.0
2014-04-18     1752.0
2014-04-19      118.0
2014-04-20      490.0
2014-04-21      723.0
2014-04-22      126.0
2014-04-23      145.0
2014-04-24      116.0
2014-04-25       42.0
2014-04-26      443.0
2014-04-27        9.0
2014-04-28      118.0
2014-04-29       21.0
2014-04-30      191.0
2014-05-01     1824.0
2014-05-02      275.0
2014-05-03      550.0
2014-05-04       81.0
2014-05-05      125.0
2014-05-06      568.0
2014-05-07      720.0
Name: value, dtype: float64
time
2014-03-20      133.0
2014-03-21    19292.0
2014-03-22     1992.0
2014-03-23     2400.0
2014-03-24      890.0
2014-03-25      129.0
2014-03-26      605.0
2014-03-27      664.0
2014-03-28      377.0
2014-03-29      592.0
2014-03-30      113.0
2014-03-31      537.0
2014-04-01     1052.0
2014-04-02     1128.0
2014-04-03     1422.0
2014-04-04      267.0
2014-04-05      243.0
2014-04-06      148.0
2014-04-07      167.0
2014-04-08     2459.0
2014-04-09      569.0
2014-04-10      571.0
2014-04-11     1073.0
2014-04-12     1124.0
2014-04-13      606.0
2014-04-14      459.0
2014-04-15     1073.0
2014-04-16      685.0
2014-04-17      366.0
2014-04-18      148.0
2014-04-19       52.0
2014-04-20      415.0
2014-04-21      126.0
2014-04-22      385.0
2014-04-23      682.0
2014-04-24    15123.0
2014-04-25      846.0
2014-04-26      716.0
2014-04-27    13619.0
2014-04-28      334.0
2014-04-29      460.0
2014-04-30    11486.0
2014-05-01      271.0
2014-05-02     5903.0
2014-05-03      633.0
2014-05-04      316.0
2014-05-05       86.0
Name: value, dtype: float64
time
2014-03-14      158.0
2014-03-15     2421.0
2014-03-16     2437.0
2014-03-17     1229.0
2014-03-18     2605.0
2014-03-19     1555.0
2014-03-20     1778.0
2014-03-21     2230.0
2014-03-22     1930.0
2014-03-23      895.0
2014-03-24     1073.0
2014-03-25     2807.0
2014-03-26     1737.0
2014-03-27     2267.0
2014-03-28     1053.0
2014-03-29    17416.0
2014-03-30      773.0
2014-03-31     1186.0
2014-04-01     2790.0
2014-04-02     1964.0
2014-04-03     1269.0
2014-04-04     1122.0
2014-04-05     1957.0
2014-04-06      576.0
2014-04-07     1483.0
2014-04-08     1185.0
2014-04-09     1427.0
2014-04-10     1303.0
2014-04-11     1548.0
2014-04-12     1827.0
2014-04-13      511.0
2014-04-14      810.0
2014-04-15       98.0
2014-04-16      125.0
2014-04-17        2.0
2014-04-19       10.0
Name: value, dtype: float64
time
2014-03-18      444.0
2014-03-19     1805.0
2014-03-20     1494.0
2014-03-21      898.0
2014-03-22      525.0
2014-03-23      681.0
2014-03-24     1452.0
2014-03-25     1127.0
2014-03-26     2382.0
2014-03-27     1945.0
2014-03-28     2655.0
2014-03-29     1743.0
2014-03-30     1742.0
2014-03-31     1667.0
2014-04-01     1263.0
2014-04-02     3917.0
2014-04-03     1055.0
2014-04-04      848.0
2014-04-05     1984.0
2014-04-06      883.0
2014-04-07     1957.0
2014-04-08      863.0
2014-04-09      828.0
2014-04-10      790.0
2014-04-11      409.0
2014-04-12     1581.0
2014-04-13      729.0
2014-04-14      862.0
2014-04-15      460.0
2014-04-16     1952.0
2014-04-17     1242.0
2014-04-18      907.0
2014-04-19      219.0
2014-04-20      100.0
2014-04-21     1063.0
2014-04-22     1053.0
2014-04-23     1456.0
2014-04-24      447.0
2014-04-25      831.0
2014-04-26      879.0
2014-04-27      592.0
2014-04-28     3413.0
2014-04-29     2796.0
2014-04-30   -80368.0
2014-05-01      475.0
2014-05-02     1964.0
2014-05-03      290.0
2014-05-04      529.0
Name: value, dtype: float64

time
2014-03-13     169.0
2014-03-14     593.0
2014-03-15      68.0
2014-03-16     149.0
2014-03-17      57.0
2014-03-18       6.0
2014-03-19      50.0
2014-03-20    4863.0
2014-03-21     216.0
2014-03-22      11.0
2014-03-23      86.0
2014-03-24      14.0
2014-03-25      74.0
2014-03-26     331.0
2014-03-27     128.0
2014-03-28     834.0
2014-03-29      47.0
2014-03-30      10.0
2014-03-31       3.0
2014-04-01      28.0
2014-04-02      34.0
2014-04-03      36.0
2014-04-04     168.0
2014-04-05       9.0
2014-04-06      69.0
2014-04-07     366.0
2014-04-08      68.0
2014-04-09     113.0
2014-04-10      90.0
2014-04-11      52.0
2014-04-13       8.0
2014-04-14      89.0
2014-04-15     314.0
2014-04-16     122.0
2014-04-17     111.0
2014-04-18       9.0
2014-04-19     324.0
2014-04-20    2292.0
2014-04-21      90.0
2014-04-22     109.0
2014-04-23     154.0
2014-04-24      26.0
2014-04-25      92.0
2014-04-26     276.0
2014-04-27     100.0
2014-04-28     128.0
2014-04-29      22.0
2014-04-30      39.0
2014-05-01      97.0
2014-05-02      30.0
2014-05-03      87.0
2014-05-04     162.0
Name: value, dtype: float64
time
2014-04-01     259.0
2014-04-02     557.0
2014-04-03     312.0
2014-04-04     315.0
2014-04-05    1081.0
2014-04-06     588.0
2014-04-07    1756.0
2014-04-08     668.0
2014-04-09    1279.0
2014-04-10     168.0
2014-04-11    1443.0
2014-04-12     380.0
2014-04-13     189.0
2014-04-14    1519.0
2014-04-15     635.0
2014-04-16    1230.0
2014-04-17    1465.0
2014-04-18     988.0
2014-04-19     601.0
2014-04-20     146.0
2014-04-21     157.0
2014-04-22     679.0
2014-04-23     912.0
2014-04-24    1262.0
2014-04-25    1098.0
2014-04-27    1399.0
2014-04-28    2309.0
2014-04-29      93.0
2014-04-30     482.0
2014-05-01     544.0
2014-05-02     585.0
2014-05-03     273.0
2014-05-04     390.0
2014-05-05    1561.0
2014-05-06     602.0
2014-05-07     726.0
2014-05-08    2510.0
2014-05-09    1177.0
2014-05-10     748.0
2014-05-11     404.0
2014-05-13     236.0
2014-05-14     216.0
Name: value, dtype: float64
time
2014-03-14     257.0
2014-03-15     798.0
2014-03-16     390.0
2014-03-17     840.0
2014-03-18     423.0
2014-03-19     236.0
2014-03-20     122.0
2014-03-21     394.0
2014-03-22      13.0
2014-03-23     269.0
2014-03-24    1118.0
2014-03-25     116.0
2014-03-26     177.0
2014-03-27     621.0
2014-03-28     309.0
2014-03-29     474.0
2014-03-30     194.0
2014-03-31     110.0
2014-04-01     460.0
2014-04-02     389.0
2014-04-03     708.0
2014-04-04    1582.0
2014-04-05     279.0
2014-04-06     229.0
2014-04-07     471.0
2014-04-08     272.0
2014-04-09     499.0
2014-04-10     490.0
2014-04-11    1013.0
2014-04-12     374.0
2014-04-13     618.0
2014-04-14     624.0
2014-04-15     390.0
2014-04-16     224.0
2014-04-17     582.0
2014-04-18    1124.0
2014-04-19     116.0
2014-04-20     373.0
2014-04-21     434.0
2014-04-22     526.0
2014-04-23     245.0
2014-04-24     440.0
2014-04-25    1591.0
2014-04-26     689.0
2014-04-27     130.0
2014-04-28     428.0
2014-04-30      32.0
2014-05-01     343.0
2014-05-02    3161.0
2014-05-03     490.0
2014-05-04     178.0
Name: value, dtype: float64
time
2014-03-21      29.0
2014-03-22     149.0
2014-03-23     299.0
2014-03-24      60.0
2014-03-25     328.0
2014-03-26     625.0
2014-03-27     211.0
2014-03-28     510.0
2014-03-29     455.0
2014-03-30    1384.0
2014-03-31     623.0
2014-04-01    2289.0
2014-04-02    1302.0
2014-04-03     588.0
2014-04-04     276.0
2014-04-05      53.0
2014-04-06     270.0
2014-04-07     175.0
2014-04-08     219.0
2014-04-09     455.0
2014-04-10     116.0
2014-04-11       2.0
2014-04-13      12.0
2014-04-14      75.0
2014-04-15     121.0
2014-04-16      10.0
2014-04-17      32.0
2014-04-18     130.0
2014-04-19      13.0
2014-04-20       2.0
2014-04-21      67.0
2014-04-22     814.0
2014-04-23     811.0
2014-04-24      23.0
2014-04-25       4.0
2014-04-26      75.0
Name: value, dtype: float64
time
2014-03-22     404.0
2014-03-23    1069.0
2014-03-24    2697.0
2014-03-25    2185.0
2014-03-26     701.0
2014-03-27    1005.0
2014-03-28     238.0
2014-03-29    1619.0
2014-03-30     783.0
2014-03-31    2354.0
2014-04-01    1098.0
2014-04-02    1485.0
2014-04-03    2096.0
2014-04-04    1312.0
2014-04-05     494.0
2014-04-06     911.0
2014-04-07    1383.0
2014-04-08    1037.0
2014-04-09     326.0
2014-04-10    1651.0
2014-04-11     831.0
2014-04-12     210.0
2014-04-13     514.0
2014-04-14    1207.0
2014-04-15    2947.0
2014-04-16     935.0
2014-04-17    1454.0
2014-04-18     456.0
2014-04-19     174.0
2014-04-20    1438.0
2014-04-21     104.0
2014-04-22    3657.0
2014-04-23    2862.0
2014-04-24     670.0
2014-04-25    2603.0
2014-04-26     752.0
2014-04-27    1781.0
2014-04-28    1177.0
2014-04-29     801.0
2014-04-30     424.0
2014-05-01     598.0
2014-05-02     611.0
2014-05-03     228.0
2014-05-04     195.0
Name: value, dtype: float64
time
2014-03-13     49.0
2014-03-14     10.0
2014-03-15    132.0
2014-03-16    186.0
2014-03-17     47.0
2014-03-18    190.0
2014-03-19     32.0
2014-03-20    324.0
2014-03-21    104.0
2014-03-22     87.0
2014-03-23    174.0
2014-03-24    148.0
2014-03-25    261.0
2014-03-26     75.0
2014-03-27     70.0
2014-03-28    120.0
2014-03-29    133.0
2014-03-30    176.0
2014-03-31     12.0
2014-04-01     98.0
2014-04-02     30.0
2014-04-03     41.0
2014-04-04    678.0
2014-04-05     99.0
2014-04-06    423.0
2014-04-07    222.0
2014-04-08      9.0
2014-04-09     67.0
2014-04-10    157.0
2014-04-11    100.0
2014-04-12     19.0
2014-04-13     57.0
2014-04-14    172.0
2014-04-15    122.0
2014-04-16    285.0
2014-04-17    161.0
2014-04-18    245.0
2014-04-21    364.0
2014-04-22    168.0
2014-04-23    316.0
2014-04-24     71.0
2014-04-25    183.0
2014-04-26      1.0
2014-04-27     81.0
2014-04-28     25.0
2014-04-29    467.0
2014-04-30     26.0
2014-05-01    106.0
2014-05-02    163.0
2014-05-03    459.0
2014-05-04    714.0
2014-05-05     46.0
Name: value, dtype: float64

In [33]:
# calculate total communication app time per day by each user
for id_val in ids:
    filtered_df = df[(df['id'] == id_val) & (df['variable'] == 'appCat.communication')]

    # # Group by 'time' and calculate the average of 'value'
    average_df = round(df.groupby(filtered_df['time'].dt.date)['value'].sum())
    print(average_df)

time
2014-03-21    4906.0
2014-03-22    1843.0
2014-03-23     252.0
2014-03-24    3434.0
2014-03-25    3931.0
2014-03-26    3309.0
2014-03-27    2165.0
2014-03-28    1222.0
2014-03-29     963.0
2014-03-30     690.0
2014-03-31    5209.0
2014-04-01    4749.0
2014-04-02    1182.0
2014-04-03    2433.0
2014-04-04    2114.0
2014-04-05    1090.0
2014-04-06    1658.0
2014-04-07    2996.0
2014-04-08    1925.0
2014-04-09    2467.0
2014-04-10     431.0
2014-04-11    1665.0
2014-04-12     978.0
2014-04-13     880.0
2014-04-14    3767.0
2014-04-15    3403.0
2014-04-16    7165.0
2014-04-17    5378.0
2014-04-18    3382.0
2014-04-19     763.0
2014-04-20     698.0
2014-04-21    1140.0
2014-04-22    4304.0
2014-04-23    3800.0
2014-04-24    2393.0
2014-04-25    2387.0
2014-04-26     458.0
2014-04-27    2522.0
2014-04-28    4132.0
2014-04-29    1720.0
2014-04-30    1852.0
2014-05-01    2212.0
2014-05-02     975.0
2014-05-03    2357.0
2014-05-04    3484.0
2014-05-05       6.0
Name: value, dtype: float64
time
2014-04-08    5443.0
2014-04-09    3687.0
2014-04-10    3069.0
2014-04-11    2590.0
2014-04-12     270.0
2014-04-13    4003.0
2014-04-14    5375.0
2014-04-15    2643.0
2014-04-16    5329.0
2014-04-17    9495.0
2014-04-18    7995.0
2014-04-19    3224.0
2014-04-20    3987.0
2014-04-21    3507.0
2014-04-22    5716.0
2014-04-23    4853.0
2014-04-24    7470.0
2014-04-25    3768.0
2014-04-26    3883.0
2014-04-27    2359.0
2014-04-28    9637.0
2014-04-29    7283.0
2014-04-30    7636.0
2014-05-01    6951.0
2014-05-02    4310.0
2014-05-03    4910.0
2014-05-04    3203.0
2014-05-05    5101.0
2014-05-06    6236.0
2014-05-07    5420.0
2014-05-08    1095.0
Name: value, dtype: float64
time
2014-04-14     454.0
2014-04-15     755.0
2014-04-16    2703.0
2014-04-17    3035.0
2014-04-18    3290.0
2014-04-19    2166.0
2014-04-20    7113.0
2014-04-21    2039.0
2014-04-22    1811.0
2014-04-23    1097.0
2014-04-24    4001.0
2014-04-25     959.0
2014-04-26     275.0
2014-04-27    1254.0
2014-04-28    3933.0
2014-04-29    3795.0
2014-04-30    3759.0
2014-05-01    1161.0
2014-05-02     553.0
2014-05-03    1986.0
2014-05-04    1772.0
2014-05-05    2541.0
2014-05-06    1260.0
2014-05-07    3170.0
2014-05-08    1749.0
2014-05-09    2293.0
2014-05-10    4083.0
2014-05-11    1631.0
2014-05-12    5175.0
2014-05-13    3263.0
2014-05-14    3261.0
2014-05-15    5518.0
2014-05-16    1739.0
2014-05-17    3431.0
2014-05-18    4031.0
2014-05-19    1889.0
2014-05-20    1459.0
2014-05-21    1215.0
2014-05-22    2184.0
2014-05-23    1365.0
2014-05-24     754.0
2014-05-25     876.0
2014-05-26    1537.0
2014-05-27    1462.0
2014-05-28    2281.0
2014-05-29    2922.0
2014-05-30    3739.0
2014-05-31     624.0
2014-06-01    2309.0
2014-06-02    2474.0
2014-06-03    3937.0
2014-06-04    4459.0
2014-06-05     959.0
2014-06-06    1711.0
2014-06-07     736.0
2014-06-08     376.0
Name: value, dtype: float64
time
2014-04-01    1552.0
2014-04-02    1084.0
2014-04-03     886.0
2014-04-04     134.0
2014-04-05     712.0
2014-04-06     843.0
2014-04-07     834.0
2014-04-08     937.0
2014-04-09    2335.0
2014-04-10    4568.0
2014-04-11    5472.0
2014-04-12    1513.0
2014-04-13     384.0
2014-04-14    1712.0
2014-04-15    1143.0
2014-04-16    2176.0
2014-04-17    2026.0
2014-04-18    3323.0
2014-04-19    1437.0
2014-04-20    2951.0
2014-04-21    2637.0
2014-04-22    2350.0
2014-04-23    3138.0
2014-04-24    3204.0
2014-04-25    3242.0
2014-04-26    3626.0
2014-04-27    1523.0
2014-04-28    1751.0
2014-04-29    2115.0
2014-04-30    1393.0
2014-05-01    1683.0
2014-05-02    2479.0
2014-05-03     419.0
2014-05-04       4.0
2014-05-07      11.0
2014-05-17      99.0
Name: value, dtype: float64
time
2014-03-13      513.0
2014-03-14     4897.0
2014-03-15     3284.0
2014-03-16      649.0
2014-03-17     1015.0
2014-03-18     5882.0
2014-03-19     9544.0
2014-03-20     7656.0
2014-03-21    14124.0
2014-03-22     8514.0
2014-03-23     5842.0
2014-03-24     3140.0
2014-03-25     4322.0
2014-03-26     7317.0
2014-03-27     7266.0
2014-03-28     5064.0
2014-03-29     5105.0
2014-03-30     7303.0
2014-03-31     2715.0
2014-04-01     4243.0
2014-04-02    20719.0
2014-04-03    12564.0
2014-04-04     7126.0
2014-04-05    11836.0
2014-04-06     6148.0
2014-04-07    12360.0
2014-04-08     7986.0
2014-04-09    11543.0
2014-04-10     8405.0
2014-04-11     2147.0
2014-04-12     5616.0
2014-04-13     7648.0
2014-04-14     4690.0
2014-04-15     6524.0
2014-04-16     5001.0
2014-04-17     9404.0
2014-04-18      693.0
2014-04-19     6410.0
2014-04-20     5446.0
2014-04-21     8704.0
2014-04-22     5356.0
2014-04-23     2700.0
2014-04-24     2798.0
2014-04-25     2634.0
2014-04-26     5633.0
2014-04-27    10223.0
2014-04-28     6129.0
2014-04-29     6751.0
2014-04-30     6282.0
2014-05-01     5084.0
2014-05-02     6354.0
2014-05-03        1.0
Name: value, dtype: float64
time
2014-04-13     735.0
2014-04-14    1085.0
2014-04-15     612.0
2014-04-16     448.0
2014-04-17    2295.0
2014-04-18    3182.0
2014-04-19    1058.0
2014-04-20     872.0
2014-04-21    2112.0
2014-04-22    2633.0
2014-04-23    1455.0
2014-04-24    3682.0
2014-04-25    4276.0
2014-04-26    3281.0
2014-04-27     534.0
2014-04-28    2553.0
2014-04-29    1084.0
2014-04-30    4157.0
2014-05-01    1135.0
2014-05-02    1681.0
2014-05-03    1089.0
2014-05-04     382.0
2014-05-05     552.0
2014-05-06     475.0
2014-05-07     454.0
2014-05-08    2487.0
2014-05-09    2662.0
2014-05-10    1520.0
2014-05-11    2786.0
2014-05-12    3746.0
2014-05-13    2320.0
2014-05-14    2377.0
2014-05-15    8953.0
2014-05-16    4534.0
2014-05-17    1691.0
2014-05-18    1996.0
2014-05-19    1663.0
2014-05-20    2016.0
2014-05-21    1598.0
2014-05-22    2026.0
2014-05-23    2416.0
2014-05-24    2767.0
2014-05-25    2490.0
2014-05-26    2084.0
2014-05-27    2993.0
2014-05-28    3292.0
2014-05-29     150.0
Name: value, dtype: float64
time
2014-03-31      93.0
2014-04-01    3028.0
2014-04-02    2724.0
2014-04-03    2876.0
2014-04-04    5676.0
2014-04-05    1474.0
2014-04-06    1031.0
2014-04-07    2729.0
2014-04-08    3201.0
2014-04-09    2148.0
2014-04-10    2599.0
2014-04-11    5392.0
2014-04-12    3099.0
2014-04-13    3784.0
2014-04-14    5093.0
2014-04-15    3102.0
2014-04-16    3213.0
2014-04-17    2112.0
2014-04-18    2410.0
2014-04-19     817.0
2014-04-20     172.0
2014-04-21    1165.0
2014-04-22    2765.0
2014-04-23    3050.0
2014-04-24    3579.0
2014-04-25     864.0
2014-04-26     559.0
2014-04-27    1582.0
2014-04-28     677.0
2014-04-29      24.0
2014-04-30     381.0
2014-05-01    2024.0
2014-05-02    2619.0
2014-05-03    2420.0
2014-05-04    1271.0
2014-05-05    1317.0
2014-05-06    2253.0
2014-05-07    1530.0
2014-05-08    1175.0
Name: value, dtype: float64
time
2014-04-02     922.0
2014-04-03    1870.0
2014-04-04     827.0
2014-04-05    2458.0
2014-04-06    2142.0
2014-04-07    2490.0
2014-04-08    4536.0
2014-04-09    3152.0
2014-04-10    1979.0
2014-04-11    2509.0
2014-04-12    1838.0
2014-04-13    2446.0
2014-04-14    2033.0
2014-04-15    4330.0
2014-04-16    3113.0
2014-04-17    8853.0
2014-04-18    2846.0
2014-04-19    2151.0
2014-04-20    1015.0
2014-04-21    1235.0
2014-04-22    4858.0
2014-04-23    3333.0
2014-04-24    3719.0
2014-04-25    2368.0
2014-04-26    3444.0
2014-04-27     891.0
2014-04-28    1864.0
2014-04-29    3278.0
2014-04-30    3212.0
2014-05-01    4196.0
2014-05-02     600.0
2014-05-03     334.0
2014-05-04    1260.0
2014-05-05    1676.0
2014-05-06    2002.0
2014-05-07     434.0
2014-05-08    4566.0
2014-05-09    5227.0
2014-05-10    7022.0
2014-05-11    2731.0
2014-05-12    6235.0
2014-05-13    6272.0
2014-05-14     205.0
Name: value, dtype: float64
time
2014-03-20       6.0
2014-03-22     403.0
2014-03-23     658.0
2014-03-24     766.0
2014-03-25     242.0
2014-03-26      81.0
2014-03-27     115.0
2014-03-28     133.0
2014-03-29      21.0
2014-03-30     444.0
2014-03-31      21.0
2014-04-02     716.0
2014-04-04     762.0
2014-04-05      95.0
2014-04-06     853.0
2014-04-07     883.0
2014-04-09     263.0
2014-04-10     662.0
2014-04-11      72.0
2014-04-12    2408.0
2014-04-15     421.0
2014-04-17     476.0
2014-04-19    2344.0
2014-04-20     283.0
2014-04-21     341.0
2014-04-23     202.0
2014-04-24     485.0
2014-04-25     489.0
2014-04-26     594.0
2014-04-27     338.0
2014-04-28    1131.0
2014-04-29     105.0
Name: value, dtype: float64
time
2014-04-02      91.0
2014-04-03     921.0
2014-04-04     732.0
2014-04-05    2325.0
2014-04-06    2075.0
2014-04-07    2670.0
2014-04-08    1193.0
2014-04-09    2828.0
2014-04-10    1930.0
2014-04-11     713.0
2014-04-12    1614.0
2014-04-13     751.0
2014-04-14     498.0
2014-04-15    2107.0
2014-04-16    2641.0
2014-04-17    1327.0
2014-04-18    1006.0
2014-04-19    3046.0
2014-04-20    2503.0
2014-04-21    1639.0
2014-04-22    1461.0
2014-04-23    1228.0
2014-04-24    1758.0
2014-04-25    1551.0
2014-04-26    1612.0
2014-04-27    3704.0
2014-04-28    1260.0
2014-04-29     941.0
2014-04-30    3075.0
2014-05-01    2234.0
2014-05-02    1839.0
2014-05-03    3408.0
2014-05-04    2717.0
2014-05-05    2572.0
2014-05-06    3622.0
2014-05-07    1972.0
2014-05-08    2698.0
2014-05-09    2409.0
2014-05-10    2583.0
2014-05-11    3864.0
2014-05-12    1800.0
2014-05-13    2083.0
2014-05-14    1257.0
Name: value, dtype: float64
time
2014-03-20     2168.0
2014-03-21     6281.0
2014-03-22     4963.0
2014-03-23     5237.0
2014-03-24     9271.0
2014-03-25    10277.0
2014-03-26     8989.0
2014-03-27     6937.0
2014-03-28      867.0
2014-03-29     2721.0
2014-03-30     1299.0
2014-03-31     5333.0
2014-04-01     6096.0
2014-04-02     6920.0
2014-04-03    14438.0
2014-04-04     5482.0
2014-04-05     1885.0
2014-04-06     3356.0
2014-04-07     7355.0
2014-04-08     9478.0
2014-04-09     6177.0
2014-04-10     4881.0
2014-04-11     3337.0
2014-04-12     6595.0
2014-04-13     1097.0
2014-04-14     6486.0
2014-04-15     6224.0
2014-04-16     5175.0
2014-04-17    11853.0
2014-04-18     5342.0
2014-04-19     2728.0
2014-04-20     4985.0
2014-04-21     2004.0
2014-04-22    11361.0
2014-04-23     8928.0
2014-04-24     9692.0
2014-04-25     7279.0
2014-04-26     2568.0
2014-04-27     2431.0
2014-04-28     4697.0
2014-04-29     3835.0
2014-04-30     3551.0
2014-05-01     8191.0
2014-05-02     7926.0
2014-05-03     4540.0
2014-05-04     3382.0
2014-05-05      827.0
Name: value, dtype: float64
time
2014-04-16    1108.0
2014-04-17     855.0
2014-04-18    1834.0
2014-04-19    3989.0
2014-04-20    1611.0
2014-04-21    1390.0
2014-04-22    1314.0
2014-04-23     276.0
2014-04-24    2519.0
2014-04-25    1351.0
2014-04-26     331.0
2014-04-27    1552.0
2014-04-28    2341.0
2014-04-29    1237.0
2014-04-30     671.0
2014-05-01    1378.0
2014-05-03      94.0
2014-05-04     311.0
2014-05-05    1234.0
2014-05-06    6864.0
2014-05-07       7.0
2014-05-08    1893.0
2014-05-09     682.0
2014-05-10     868.0
2014-05-11     505.0
2014-05-12    1066.0
2014-05-13    4341.0
2014-05-14     161.0
2014-05-15    3473.0
2014-05-16     541.0
2014-05-17     429.0
2014-05-18    2062.0
2014-05-19     364.0
2014-05-20     867.0
2014-05-21    1815.0
2014-05-22    1272.0
2014-05-23     820.0
2014-05-24    2264.0
2014-05-25    1567.0
2014-05-26    1236.0
2014-05-27    2078.0
2014-05-28    1936.0
2014-05-29     435.0
2014-05-30    1671.0
Name: value, dtype: float64

time
2014-03-24    1101.0
2014-03-25    3931.0
2014-03-26    3234.0
2014-03-27    4046.0
2014-03-28    3588.0
2014-03-29    1881.0
2014-03-30     550.0
2014-03-31    2061.0
2014-04-01    4035.0
2014-04-02    4436.0
2014-04-03    3896.0
2014-04-04    3580.0
2014-04-05    1395.0
2014-04-06     887.0
2014-04-07    3437.0
2014-04-08    3951.0
2014-04-09    4195.0
2014-04-10    3494.0
2014-04-11    2938.0
2014-04-12     682.0
2014-04-13    4051.0
2014-04-14    2003.0
2014-04-15    3870.0
2014-04-16    6571.0
2014-04-17    4483.0
2014-04-18    3475.0
2014-04-19    3081.0
2014-04-20    1345.0
2014-04-21    2974.0
2014-04-22    7601.0
2014-04-23    5508.0
2014-04-24    4002.0
2014-04-25    3096.0
2014-04-26    2761.0
2014-04-27     529.0
2014-04-28    4157.0
2014-04-29    4224.0
2014-04-30    3772.0
2014-05-01    1145.0
2014-05-02    2552.0
2014-05-03     995.0
2014-05-04    1573.0
2014-05-05    2458.0
2014-05-06    4817.0
2014-05-07    4161.0
2014-05-08     303.0
Name: value, dtype: float64
time
2014-03-21    2928.0
2014-03-22    4852.0
2014-03-23    3209.0
2014-03-24    6947.0
2014-03-25    5569.0
2014-03-26    4654.0
2014-03-27    9562.0
2014-03-28    7144.0
2014-03-29    1853.0
2014-03-30     520.0
2014-03-31    1042.0
2014-04-01      95.0
2014-04-02     161.0
2014-04-03     374.0
2014-04-04      36.0
2014-04-05     756.0
2014-04-06    6761.0
2014-04-07     107.0
2014-04-08      67.0
2014-04-09     167.0
2014-04-10      19.0
2014-04-11      19.0
2014-04-14      40.0
2014-04-15      52.0
2014-04-16      13.0
2014-04-17      50.0
2014-04-18      39.0
2014-04-19      78.0
2014-04-20     212.0
2014-04-21     322.0
2014-04-22     142.0
2014-04-23      51.0
2014-04-24      76.0
2014-04-25     512.0
2014-04-26      29.0
2014-04-27     163.0
2014-04-29      27.0
2014-04-30       8.0
2014-05-02       7.0
2014-05-03     117.0
2014-05-04      59.0
2014-05-05     122.0
Name: value, dtype: float64
time
2014-03-14      35.0
2014-03-15     124.0
2014-03-18    1781.0
2014-03-20     847.0
2014-03-21     195.0
2014-03-22      81.0
2014-03-23     523.0
2014-03-24      38.0
2014-03-25     890.0
2014-03-26    3851.0
2014-03-28    1039.0
2014-03-29       3.0
2014-03-30     326.0
2014-04-01     735.0
2014-04-02    1318.0
2014-04-04     340.0
2014-04-06     198.0
2014-04-07     451.0
2014-04-10     486.0
2014-04-11      41.0
2014-04-12    1168.0
2014-04-14    1987.0
2014-04-16    1761.0
2014-04-17    1446.0
2014-04-18     364.0
2014-04-19      15.0
2014-04-21    1784.0
2014-04-23     232.0
2014-04-24     487.0
2014-04-25      17.0
2014-04-26     237.0
2014-04-27    3035.0
2014-04-28    3210.0
2014-04-29     544.0
2014-05-03     312.0
2014-05-06    1155.0
Name: value, dtype: float64
time
2014-03-20    2011.0
2014-03-21    3109.0
2014-03-22    8597.0
2014-03-23    4934.0
2014-03-24    6090.0
2014-03-25    9165.0
2014-03-26    7735.0
2014-03-27    8619.0
2014-03-28    7677.0
2014-03-29    9434.0
2014-03-30    4665.0
2014-03-31    9438.0
2014-04-01    4574.0
2014-04-02    3927.0
2014-04-03    3706.0
2014-04-04    4981.0
2014-04-05    1912.0
2014-04-06    1913.0
2014-04-07    9129.0
2014-04-08    7115.0
2014-04-09    5892.0
2014-04-10    3685.0
2014-04-11    9990.0
2014-04-12    3227.0
2014-04-13    1882.0
2014-04-14    5891.0
2014-04-15    7380.0
2014-04-16    6108.0
2014-04-17    5487.0
2014-04-18    4684.0
2014-04-19    1809.0
2014-04-20    4961.0
2014-04-21    8697.0
2014-04-22    4570.0
2014-04-23    4899.0
2014-04-24    5940.0
2014-04-25    3797.0
2014-04-26    3989.0
2014-04-27    1761.0
2014-04-28    2819.0
2014-04-29    6911.0
2014-04-30    5066.0
2014-05-01    6134.0
2014-05-02    6586.0
2014-05-03    1055.0
2014-05-04     621.0
Name: value, dtype: float64
time
2014-03-27     931.0
2014-03-28    2541.0
2014-03-29    1318.0
2014-03-30     791.0
2014-03-31     634.0
2014-04-01    2929.0
2014-04-02    2320.0
2014-04-03    2761.0
2014-04-04    1245.0
2014-04-05     212.0
2014-04-06     166.0
2014-04-07     654.0
2014-04-08    1391.0
2014-04-09    1769.0
2014-04-10     548.0
2014-04-11     169.0
2014-04-12    1887.0
2014-04-13    1638.0
2014-04-14    1087.0
2014-04-15    2162.0
2014-04-16    2180.0
2014-04-17    1763.0
2014-04-18     316.0
2014-04-19    1422.0
2014-04-20     745.0
2014-04-21    1039.0
2014-04-22    3177.0
2014-04-23     546.0
2014-04-24     289.0
2014-04-25     512.0
2014-04-26     293.0
2014-04-27     295.0
2014-04-28     740.0
2014-04-29     863.0
2014-04-30    1570.0
2014-05-01    2179.0
2014-05-02    2517.0
2014-05-03     962.0
2014-05-04     356.0
2014-05-05    1020.0
Name: value, dtype: float64
time
2014-03-21    1725.0
2014-03-22     458.0
2014-03-23    1503.0
2014-03-24    2282.0
2014-03-25    1305.0
2014-03-26    1295.0
2014-03-27     932.0
2014-03-28     941.0
2014-03-29     153.0
2014-03-30    1224.0
2014-03-31    4413.0
2014-04-01     712.0
2014-04-02     821.0
2014-04-03     685.0
2014-04-04     804.0
2014-04-05    1110.0
2014-04-06     730.0
2014-04-07    1787.0
2014-04-08     683.0
2014-04-09     764.0
2014-04-10    1779.0
2014-04-11    1699.0
2014-04-12     230.0
2014-04-13    2391.0
2014-04-14    3571.0
2014-04-15    2245.0
2014-04-16    1454.0
2014-04-17    2048.0
2014-04-18    1206.0
2014-04-19    1155.0
2014-04-20     994.0
2014-04-21     242.0
2014-04-22    1807.0
2014-04-23    1480.0
2014-04-24    2815.0
2014-04-25    7932.0
2014-04-26     586.0
2014-04-27     876.0
2014-04-28    2852.0
2014-04-29    1793.0
2014-04-30    1864.0
2014-05-01    1083.0
2014-05-02    1102.0
2014-05-03     924.0
2014-05-04     192.0
2014-05-05     946.0
2014-05-06     980.0
2014-05-07    1327.0
Name: value, dtype: float64
time
2014-03-20     456.0
2014-03-21    6972.0
2014-03-22    9975.0
2014-03-23    2810.0
2014-03-24    2424.0
2014-03-25    1289.0
2014-03-26    1707.0
2014-03-27    4890.0
2014-03-28    3943.0
2014-03-29    1406.0
2014-03-30     307.0
2014-03-31    1522.0
2014-04-01    4034.0
2014-04-02     786.0
2014-04-03    2382.0
2014-04-04     713.0
2014-04-05    1813.0
2014-04-06     671.0
2014-04-07     936.0
2014-04-08    3043.0
2014-04-09    1714.0
2014-04-10    3380.0
2014-04-11     496.0
2014-04-12    1121.0
2014-04-13    1391.0
2014-04-14     379.0
2014-04-15    6545.0
2014-04-16    3554.0
2014-04-17    1653.0
2014-04-18    1357.0
2014-04-19     980.0
2014-04-20    3841.0
2014-04-21    3363.0
2014-04-22    4934.0
2014-04-23    3622.0
2014-04-24    2041.0
2014-04-25    4366.0
2014-04-26    2690.0
2014-04-27    3289.0
2014-04-28    2308.0
2014-04-29    2078.0
2014-04-30    3289.0
2014-05-01     921.0
2014-05-02    1200.0
2014-05-03    1066.0
2014-05-04    1981.0
2014-05-05     922.0
Name: value, dtype: float64
time
2014-03-14    1025.0
2014-03-15    2199.0
2014-03-16    3152.0
2014-03-17    4518.0
2014-03-18    3933.0
2014-03-19    2597.0
2014-03-20    2154.0
2014-03-21    2858.0
2014-03-22    1852.0
2014-03-23    1840.0
2014-03-24    3012.0
2014-03-25    2789.0
2014-03-26    2534.0
2014-03-27    2997.0
2014-03-28    1245.0
2014-03-29    2141.0
2014-03-30    1111.0
2014-03-31    2481.0
2014-04-01    1323.0
2014-04-02    2942.0
2014-04-03    3595.0
2014-04-04    2809.0
2014-04-05    2310.0
2014-04-06    1224.0
2014-04-07    3761.0
2014-04-08    2266.0
2014-04-09    2256.0
2014-04-10    2726.0
2014-04-11    2344.0
2014-04-12    1517.0
2014-04-13     855.0
2014-04-14    1822.0
2014-04-15     446.0
2014-04-17      38.0
2014-04-19      72.0
Name: value, dtype: float64
time
2014-03-18     1271.0
2014-03-19     6479.0
2014-03-20     6894.0
2014-03-21     3941.0
2014-03-22     6418.0
2014-03-23     7697.0
2014-03-24     3062.0
2014-03-25     7485.0
2014-03-26     4506.0
2014-03-27     4822.0
2014-03-28     4794.0
2014-03-29     1933.0
2014-03-30     4134.0
2014-03-31     4983.0
2014-04-01     7406.0
2014-04-02     4219.0
2014-04-03     4239.0
2014-04-04     4952.0
2014-04-05     1378.0
2014-04-06     2782.0
2014-04-07     5550.0
2014-04-08     7210.0
2014-04-09     2321.0
2014-04-10     1211.0
2014-04-11     1437.0
2014-04-12     5362.0
2014-04-13     2884.0
2014-04-14     2134.0
2014-04-15     5491.0
2014-04-16     5814.0
2014-04-17     3916.0
2014-04-18     3556.0
2014-04-19     1084.0
2014-04-20     2082.0
2014-04-21     5514.0
2014-04-22     2730.0
2014-04-23     7785.0
2014-04-24     3559.0
2014-04-25     2064.0
2014-04-26     4806.0
2014-04-27     4910.0
2014-04-28     7304.0
2014-04-29     6169.0
2014-04-30    10322.0
2014-05-01     4111.0
2014-05-02     6094.0
2014-05-03      294.0
2014-05-04     2160.0
Name: value, dtype: float64

time
2014-03-13      287.0
2014-03-14      383.0
2014-03-15      382.0
2014-03-16     1753.0
2014-03-17     5763.0
2014-03-18      717.0
2014-03-19     1012.0
2014-03-20      279.0
2014-03-21     2477.0
2014-03-22     4329.0
2014-03-23      372.0
2014-03-24      194.0
2014-03-25     1470.0
2014-03-26      895.0
2014-03-27     1977.0
2014-03-28      959.0
2014-03-29      536.0
2014-03-30      219.0
2014-03-31     1230.0
2014-04-01     1624.0
2014-04-02     1810.0
2014-04-03     2365.0
2014-04-04      863.0
2014-04-05      952.0
2014-04-06      332.0
2014-04-07     2379.0
2014-04-08     1572.0
2014-04-09     1770.0
2014-04-10     3162.0
2014-04-11      453.0
2014-04-12     1912.0
2014-04-13      658.0
2014-04-14     1932.0
2014-04-15     2067.0
2014-04-16      853.0
2014-04-17     1017.0
2014-04-18      178.0
2014-04-19      840.0
2014-04-20       85.0
2014-04-21      600.0
2014-04-22      795.0
2014-04-23     1045.0
2014-04-24     1271.0
2014-04-25    10351.0
2014-04-26      157.0
2014-04-27      705.0
2014-04-28      123.0
2014-04-29     1157.0
2014-04-30     3192.0
2014-05-01     9933.0
2014-05-02      158.0
2014-05-03     1322.0
2014-05-04      780.0
2014-05-05       37.0
Name: value, dtype: float64
time
2014-04-01    1616.0
2014-04-02    2088.0
2014-04-03    2913.0
2014-04-04    3310.0
2014-04-05    1496.0
2014-04-06    2679.0
2014-04-07    2536.0
2014-04-08    2673.0
2014-04-09    2117.0
2014-04-10    3238.0
2014-04-11    2013.0
2014-04-12    1372.0
2014-04-13    1521.0
2014-04-14    3544.0
2014-04-15    1952.0
2014-04-16    2012.0
2014-04-17    1256.0
2014-04-18    2288.0
2014-04-19     374.0
2014-04-20    1650.0
2014-04-21    3547.0
2014-04-22    2606.0
2014-04-23    1908.0
2014-04-24    2788.0
2014-04-25    3379.0
2014-04-26    1918.0
2014-04-27    1065.0
2014-04-28    2618.0
2014-04-29    2002.0
2014-04-30    1789.0
2014-05-01    2831.0
2014-05-02    2228.0
2014-05-03    1718.0
2014-05-04    2606.0
2014-05-05    3660.0
2014-05-06    3400.0
2014-05-07    2028.0
2014-05-08    3658.0
2014-05-09    2305.0
2014-05-10    2963.0
2014-05-11    1289.0
2014-05-12     552.0
2014-05-13     382.0
2014-05-14     376.0
Name: value, dtype: float64
time
2014-03-14    4362.0
2014-03-15    6365.0
2014-03-16    4190.0
2014-03-17    1774.0
2014-03-18    4412.0
2014-03-19    4321.0
2014-03-20    4487.0
2014-03-21    2267.0
2014-03-22    1099.0
2014-03-23    2880.0
2014-03-24    3653.0
2014-03-25    5932.0
2014-03-26    7551.0
2014-03-27    8743.0
2014-03-28    3768.0
2014-03-29    1585.0
2014-03-30    3236.0
2014-03-31     582.0
2014-04-01    2799.0
2014-04-02    1748.0
2014-04-03    3027.0
2014-04-04    6528.0
2014-04-05    1323.0
2014-04-06    3604.0
2014-04-07    4020.0
2014-04-08    1473.0
2014-04-09    6229.0
2014-04-10    2105.0
2014-04-11    4781.0
2014-04-12    7058.0
2014-04-13    1669.0
2014-04-14    1499.0
2014-04-15    4297.0
2014-04-16    1065.0
2014-04-17    4082.0
2014-04-18    4170.0
2014-04-19    1141.0
2014-04-20    4990.0
2014-04-21    5939.0
2014-04-22    2224.0
2014-04-23    3440.0
2014-04-24    3924.0
2014-04-25    3506.0
2014-04-26    3364.0
2014-04-27    3170.0
2014-04-28    4712.0
2014-04-29    2740.0
2014-04-30    2949.0
2014-05-01    4160.0
2014-05-02    7489.0
2014-05-03    2458.0
2014-05-04    3290.0
2014-05-05      33.0
Name: value, dtype: float64
time
2014-03-21    1221.0
2014-03-22    2687.0
2014-03-23    3188.0
2014-03-24    3152.0
2014-03-25    2417.0
2014-03-26    1505.0
2014-03-27     791.0
2014-03-28    2642.0
2014-03-29    3478.0
2014-03-30    3494.0
2014-03-31    3364.0
2014-04-01    5260.0
2014-04-02     698.0
2014-04-03    2007.0
2014-04-04    3103.0
2014-04-05    3022.0
2014-04-06    2889.0
2014-04-07    2635.0
2014-04-08    1723.0
2014-04-09    1715.0
2014-04-10     827.0
2014-04-11     765.0
2014-04-12    1665.0
2014-04-13     503.0
2014-04-14     187.0
2014-04-15     596.0
2014-04-16     263.0
2014-04-17    1268.0
2014-04-18     516.0
2014-04-19     761.0
2014-04-20     248.0
2014-04-21      67.0
2014-04-22     836.0
2014-04-23     765.0
2014-04-24     303.0
2014-04-25     644.0
2014-04-26    1052.0
Name: value, dtype: float64
time
2014-03-22     1871.0
2014-03-23     8326.0
2014-03-24     3689.0
2014-03-25     5755.0
2014-03-26     6967.0
2014-03-27     3732.0
2014-03-28     4367.0
2014-03-29     4980.0
2014-03-30     2911.0
2014-03-31     8950.0
2014-04-01     6127.0
2014-04-02     4950.0
2014-04-03     6109.0
2014-04-04     8743.0
2014-04-05     5176.0
2014-04-06     8068.0
2014-04-07     5334.0
2014-04-08     4676.0
2014-04-09     7386.0
2014-04-10     5707.0
2014-04-11     9209.0
2014-04-12     3272.0
2014-04-13     4048.0
2014-04-14     5660.0
2014-04-15     4147.0
2014-04-16     3774.0
2014-04-17     7748.0
2014-04-18     4506.0
2014-04-19     1734.0
2014-04-20     2614.0
2014-04-21     6126.0
2014-04-22     8586.0
2014-04-23     2823.0
2014-04-24     7531.0
2014-04-25     5336.0
2014-04-26     5053.0
2014-04-27     7875.0
2014-04-28     4891.0
2014-04-29     3312.0
2014-04-30     8595.0
2014-05-01    13099.0
2014-05-02     4482.0
2014-05-03     1993.0
2014-05-04     2370.0
Name: value, dtype: float64
time
2014-03-13     184.0
2014-03-14       7.0
2014-03-15     133.0
2014-03-16     120.0
2014-03-17     435.0
2014-03-18     465.0
2014-03-20      98.0
2014-03-21     124.0
2014-03-22     190.0
2014-03-23     204.0
2014-03-24     223.0
2014-03-25     366.0
2014-03-26     285.0
2014-03-28     398.0
2014-03-29     155.0
2014-03-30     100.0
2014-03-31      53.0
2014-04-01     195.0
2014-04-02     106.0
2014-04-03     289.0
2014-04-04    1680.0
2014-04-05     240.0
2014-04-06     505.0
2014-04-07     408.0
2014-04-09       9.0
2014-04-10     331.0
2014-04-11     421.0
2014-04-13       3.0
2014-04-14      82.0
2014-04-15      53.0
2014-04-16     318.0
2014-04-17     154.0
2014-04-18     577.0
2014-04-21     481.0
2014-04-22     741.0
2014-04-23     828.0
2014-04-24     254.0
2014-04-25      19.0
2014-04-26      50.0
2014-04-27     188.0
2014-04-28      16.0
2014-04-29     721.0
2014-04-30     432.0
2014-05-01      19.0
2014-05-02     407.0
2014-05-03     630.0
2014-05-04     255.0
Name: value, dtype: float64

In [35]:
# calculate total entertainment app time per day by each user
for id_val in ids:
    filtered_df = df[(df['id'] == id_val) & (df['variable'] == 'appCat.entertainment')]

    # # Group by 'time' and calculate the average of 'value'
    average_df = round(df.groupby(filtered_df['time'].dt.date)['value'].sum())
    print(average_df)

time
2014-03-24     26.0
2014-03-27    243.0
2014-03-28    563.0
2014-03-29     85.0
2014-04-25    546.0
2014-04-30      5.0
Name: value, dtype: float64
time
2014-04-09    1061.0
2014-04-10      23.0
2014-04-16      60.0
2014-04-25    1186.0
2014-04-28     313.0
2014-04-29     690.0
2014-04-30     283.0
2014-05-03     338.0
2014-05-04    2716.0
2014-05-06    1379.0
2014-05-07    1113.0
2014-05-08     175.0
Name: value, dtype: float64
time
2014-04-14     10.0
2014-04-18      3.0
2014-04-22     92.0
2014-04-25     36.0
2014-04-26      3.0
2014-04-28     42.0
2014-04-29     34.0
2014-04-30    162.0
2014-05-03      4.0
2014-05-08    474.0
2014-05-10     37.0
2014-05-12    384.0
2014-05-13    125.0
2014-05-14    142.0
2014-05-18     12.0
2014-05-19     12.0
2014-05-21      8.0
2014-05-23     96.0
2014-06-02    212.0
Name: value, dtype: float64
time
2014-04-02     166.0
2014-04-03     127.0
2014-04-04     177.0
2014-04-05     212.0
2014-04-06     146.0
2014-04-07      44.0
2014-04-08     287.0
2014-04-09     238.0
2014-04-10     159.0
2014-04-11     162.0
2014-04-13     467.0
2014-04-14     195.0
2014-04-15      30.0
2014-04-16      98.0
2014-04-17     278.0
2014-04-18    1969.0
2014-04-19      24.0
2014-04-20     118.0
2014-04-21     812.0
2014-04-22     279.0
2014-04-23      55.0
2014-04-24     160.0
2014-04-25     627.0
2014-04-26      57.0
2014-04-27     488.0
2014-04-28     431.0
2014-04-29     357.0
2014-04-30     199.0
2014-05-01     192.0
2014-05-02     158.0
Name: value, dtype: float64
time
2014-03-13      74.0
2014-03-14     100.0
2014-03-15     671.0
2014-03-16      38.0
2014-03-18    2464.0
2014-03-19    1075.0
2014-03-20     671.0
2014-03-21    1224.0
2014-03-22    2284.0
2014-03-23     632.0
2014-03-24     944.0
2014-03-25     208.0
2014-03-26     807.0
2014-03-27     734.0
2014-03-28    1870.0
2014-03-29     713.0
2014-03-30     431.0
2014-03-31    1139.0
2014-04-01     706.0
2014-04-02     580.0
2014-04-03     368.0
2014-04-04     681.0
2014-04-05     549.0
2014-04-06     347.0
2014-04-07     206.0
2014-04-08     985.0
2014-04-09     239.0
2014-04-12     124.0
2014-04-17      74.0
2014-04-19     381.0
2014-04-20      11.0
Name: value, dtype: float64
time
2014-04-13     190.0
2014-04-14     174.0
2014-04-20      64.0
2014-04-21     191.0
2014-04-23      11.0
2014-04-24      66.0
2014-04-25      44.0
2014-04-26      56.0
2014-04-27      78.0
2014-04-28     242.0
2014-04-30      38.0
2014-05-02     307.0
2014-05-03      51.0
2014-05-04      78.0
2014-05-05      49.0
2014-05-06     137.0
2014-05-08    1169.0
2014-05-09     440.0
2014-05-11       9.0
2014-05-12     327.0
2014-05-13      41.0
2014-05-14      41.0
2014-05-15     124.0
2014-05-16      96.0
2014-05-17     272.0
2014-05-18     143.0
2014-05-19     118.0
2014-05-20     155.0
2014-05-21      75.0
2014-05-22      93.0
2014-05-24     181.0
2014-05-25     202.0
2014-05-26     294.0
2014-05-27     247.0
2014-05-28     507.0
Name: value, dtype: float64
time
2014-03-31     181.0
2014-04-01      11.0
2014-04-02     884.0
2014-04-03    1004.0
2014-04-04     496.0
2014-04-05     414.0
2014-04-06     334.0
2014-04-07    1082.0
2014-04-09     231.0
2014-04-10     902.0
2014-04-11     137.0
2014-04-12     471.0
2014-04-13     258.0
2014-04-14      38.0
2014-04-16    1455.0
2014-04-17     690.0
2014-04-18     234.0
2014-04-19     284.0
2014-04-20     279.0
2014-04-21      57.0
2014-04-22    1581.0
2014-04-23     142.0
2014-04-24     418.0
2014-04-25      34.0
2014-04-26      78.0
2014-04-27     559.0
2014-04-28      75.0
2014-05-01     455.0
2014-05-02     109.0
2014-05-03     145.0
2014-05-04     527.0
2014-05-05     209.0
2014-05-06     203.0
2014-05-07      68.0
Name: value, dtype: float64
time
2014-04-02       7.0
2014-04-04     172.0
2014-04-07      47.0
2014-04-08     697.0
2014-04-10      49.0
2014-04-11     100.0
2014-04-12      97.0
2014-04-14      91.0
2014-04-15      43.0
2014-04-16    2163.0
2014-04-17      22.0
2014-04-18     488.0
2014-04-22     157.0
2014-04-23     398.0
2014-04-24    1089.0
2014-04-27     318.0
2014-04-28    1528.0
2014-04-29    2121.0
2014-04-30     181.0
2014-05-03      34.0
2014-05-08      13.0
2014-05-09    1282.0
2014-05-10      28.0
2014-05-12     858.0
2014-05-13      53.0
Name: value, dtype: float64
time
2014-03-20     43.0
2014-03-23     48.0
2014-03-24    163.0
2014-03-25    262.0
2014-03-26    371.0
2014-03-27     44.0
2014-04-02    149.0
2014-04-05     27.0
2014-04-06     14.0
2014-04-07     77.0
2014-04-09    249.0
2014-04-10    124.0
2014-04-15     24.0
2014-04-17     66.0
2014-04-21     15.0
2014-04-23     12.0
2014-04-24     16.0
2014-04-25     22.0
2014-04-26    123.0
2014-04-28    200.0
2014-04-29     18.0
Name: value, dtype: float64
time
2014-04-30    251.0
2014-05-01    163.0
Name: value, dtype: float64
time
2014-03-20     351.0
2014-03-21    1007.0
2014-03-22      93.0
2014-03-23      94.0
2014-03-24     977.0
2014-03-25      68.0
2014-03-26     910.0
2014-03-27     639.0
2014-03-28    1005.0
2014-03-29    1627.0
2014-03-30    1536.0
2014-03-31    1759.0
2014-04-01    1031.0
2014-04-02    1343.0
2014-04-03    1294.0
2014-04-04    1545.0
2014-04-05      76.0
2014-04-06     187.0
2014-04-07     447.0
2014-04-08    3466.0
2014-04-09     941.0
2014-04-10    1859.0
2014-04-11    1976.0
2014-04-12    2186.0
2014-04-13     249.0
2014-04-14    6266.0
2014-04-15     945.0
2014-04-16     427.0
2014-04-17     142.0
2014-04-18     774.0
2014-04-19     469.0
2014-04-20     727.0
2014-04-21      75.0
2014-04-22    1101.0
2014-04-23     347.0
2014-04-24    4465.0
2014-04-25     651.0
2014-04-26     126.0
2014-04-27    1510.0
2014-04-28    1548.0
2014-04-29    1563.0
2014-04-30     505.0
2014-05-01     471.0
2014-05-02     353.0
2014-05-03    2762.0
2014-05-04     928.0
2014-05-05     319.0
Name: value, dtype: float64
time
2014-04-16     297.0
2014-04-17     920.0
2014-04-18     675.0
2014-04-19     438.0
2014-04-20    1527.0
2014-04-21     962.0
2014-04-22    1182.0
2014-04-23    1206.0
2014-04-24     775.0
2014-04-25     539.0
2014-04-26     226.0
2014-04-27    1662.0
2014-04-28     938.0
2014-04-29     858.0
2014-04-30     898.0
2014-05-01     716.0
2014-05-03       2.0
2014-05-04     502.0
2014-05-05     840.0
2014-05-06     724.0
2014-05-07     562.0
2014-05-08    1375.0
2014-05-09     816.0
2014-05-10     604.0
2014-05-11     358.0
2014-05-12     475.0
2014-05-13    1232.0
2014-05-14    1094.0
2014-05-15     740.0
2014-05-16     661.0
2014-05-17     443.0
2014-05-18     759.0
2014-05-19     321.0
2014-05-20     656.0
2014-05-21    1067.0
2014-05-22     270.0
2014-05-23    1030.0
2014-05-24    1130.0
2014-05-25     194.0
2014-05-26     689.0
2014-05-27     125.0
2014-05-28     615.0
2014-05-29     137.0
2014-05-30     260.0
Name: value, dtype: float64
time
2014-03-24    1073.0
2014-03-25    3000.0
2014-03-26    1951.0
2014-03-27    2453.0
2014-03-28    1996.0
2014-03-29     787.0
2014-03-30    2058.0
2014-03-31    2416.0
2014-04-01     776.0
2014-04-02    1418.0
2014-04-03    1317.0
2014-04-04    1367.0
2014-04-05     559.0
2014-04-06     533.0
2014-04-07     581.0
2014-04-08    1588.0
2014-04-09    2658.0
2014-04-10     927.0
2014-04-11    6358.0
2014-04-12    1565.0
2014-04-13     710.0
2014-04-14     571.0
2014-04-15    1070.0
2014-04-16    2434.0
2014-04-17    3230.0
2014-04-18    1981.0
2014-04-19    1188.0
2014-04-20    1232.0
2014-04-21    2439.0
2014-04-22    4083.0
2014-04-23    2288.0
2014-04-24    1072.0
2014-04-25    1782.0
2014-04-26    1092.0
2014-04-27     354.0
2014-04-28    1114.0
2014-04-29    2082.0
2014-04-30    2404.0
2014-05-01    1677.0
2014-05-02     388.0
2014-05-03     235.0
2014-05-04     273.0
2014-05-05     743.0
2014-05-06    1169.0
2014-05-07    2099.0
2014-05-08      15.0
Name: value, dtype: float64
time
2014-03-21    215.0
2014-03-22    605.0
2014-03-23    316.0
2014-03-24    465.0
2014-03-26    518.0
2014-03-27    245.0
2014-03-28    162.0
2014-03-29     11.0
Name: value, dtype: float64
time
2014-03-18      5.0
2014-04-12    415.0
2014-04-18    364.0
2014-04-24     39.0
2014-05-06    672.0
Name: value, dtype: float64
time
2014-03-20    1930.0
2014-03-21    4282.0
2014-03-22    2052.0
2014-03-23    5675.0
2014-03-24    2960.0
2014-03-25    3058.0
2014-03-26    2769.0
2014-03-27    3635.0
2014-03-28    2126.0
2014-03-29    4952.0
2014-03-30    3375.0
2014-03-31    1387.0
2014-04-01    5218.0
2014-04-02    2697.0
2014-04-03    5515.0
2014-04-04    4870.0
2014-04-05    4050.0
2014-04-06    3702.0
2014-04-07    2757.0
2014-04-08    3161.0
2014-04-09    4179.0
2014-04-10    3943.0
2014-04-11    2982.0
2014-04-12    2886.0
2014-04-13    3673.0
2014-04-14    2596.0
2014-04-15    3118.0
2014-04-16    3366.0
2014-04-17    7977.0
2014-04-18    6325.0
2014-04-19    4174.0
2014-04-20    3334.0
2014-04-21    2859.0
2014-04-22    1752.0
2014-04-23    2685.0
2014-04-24    1552.0
2014-04-25    5933.0
2014-04-26    4089.0
2014-04-27    5805.0
2014-04-28    4333.0
2014-04-29    2525.0
2014-04-30    2754.0
2014-05-01    3020.0
2014-05-02    7086.0
2014-05-03    2766.0
2014-05-04    2059.0
Name: value, dtype: float64

time
2014-03-27     207.0
2014-03-28    3862.0
2014-03-29    1001.0
2014-03-30     474.0
2014-03-31     412.0
2014-04-01     751.0
2014-04-02     759.0
2014-04-03    1195.0
2014-04-04     359.0
2014-04-05    1452.0
2014-04-06     636.0
2014-04-07     778.0
2014-04-08    1453.0
2014-04-09    2338.0
2014-04-10     438.0
2014-04-11     382.0
2014-04-12     674.0
2014-04-13    1138.0
2014-04-14    1671.0
2014-04-15     277.0
2014-04-16     990.0
2014-04-17     434.0
2014-04-18     769.0
2014-04-19     862.0
2014-04-20    1323.0
2014-04-21     111.0
2014-04-22    5769.0
2014-04-23     627.0
2014-04-24     746.0
2014-04-25      97.0
2014-04-26     337.0
2014-04-27     625.0
2014-04-28     378.0
2014-04-29     360.0
2014-04-30    1044.0
2014-05-01     957.0
2014-05-02    2756.0
2014-05-03     474.0
2014-05-04    1253.0
2014-05-05     136.0
Name: value, dtype: float64
time
2014-03-21      946.0
2014-03-22     3916.0
2014-03-23     1741.0
2014-03-24     3908.0
2014-03-25     1351.0
2014-03-26     2356.0
2014-03-27     1654.0
2014-03-28     3352.0
2014-03-29     2529.0
2014-03-30     2040.0
2014-03-31     1699.0
2014-04-01     1627.0
2014-04-02     1982.0
2014-04-03     2093.0
2014-04-04     1372.0
2014-04-05     2296.0
2014-04-06     4234.0
2014-04-07     2514.0
2014-04-08     1308.0
2014-04-09      984.0
2014-04-10     2776.0
2014-04-11     3128.0
2014-04-12    12055.0
2014-04-13     3218.0
2014-04-14     1153.0
2014-04-15     1850.0
2014-04-16     3481.0
2014-04-17     1160.0
2014-04-18     4305.0
2014-04-19       67.0
2014-04-20     1528.0
2014-04-21     4017.0
2014-04-22     2342.0
2014-04-23     2394.0
2014-04-24     1748.0
2014-04-25     3333.0
2014-04-26     2737.0
2014-04-27     7382.0
2014-04-28     3498.0
2014-04-29     1007.0
2014-04-30     2007.0
2014-05-01     3027.0
2014-05-02     4099.0
2014-05-03     3330.0
2014-05-04     2693.0
2014-05-05     1636.0
2014-05-06      452.0
2014-05-07     1185.0
Name: value, dtype: float64
time
2014-03-20     250.0
2014-03-21    1396.0
2014-03-22    1667.0
2014-03-23    2146.0
2014-03-24     722.0
2014-03-25    1792.0
2014-03-26    3070.0
2014-03-27    2036.0
2014-03-28     791.0
2014-03-29    1680.0
2014-03-31     932.0
2014-04-01    2111.0
2014-04-02    1718.0
2014-04-03    2305.0
2014-04-04    1895.0
2014-04-05     779.0
2014-04-06    1824.0
2014-04-07    1165.0
2014-04-08    2373.0
2014-04-09    4359.0
2014-04-10    2518.0
2014-04-11     952.0
2014-04-12    1688.0
2014-04-13    3121.0
2014-04-15    1837.0
2014-04-16     763.0
2014-04-17    1243.0
2014-04-18    2023.0
2014-04-20    2300.0
2014-04-21     351.0
2014-04-22    2028.0
2014-04-23    2266.0
2014-04-24    1306.0
2014-04-25    1495.0
2014-04-27     864.0
2014-04-28    1346.0
2014-04-29    1608.0
2014-04-30     109.0
2014-05-01      13.0
2014-05-03     162.0
2014-05-05      20.0
Name: value, dtype: float64
time
2014-03-14     160.0
2014-03-15     352.0
2014-03-16      88.0
2014-03-17    2511.0
2014-03-18      89.0
2014-03-19     196.0
2014-03-20     148.0
2014-03-21     460.0
2014-03-22     663.0
2014-03-23     388.0
2014-03-24     532.0
2014-03-25     460.0
2014-03-26     767.0
2014-03-27     491.0
2014-03-28     708.0
2014-03-29    1063.0
2014-03-30    1279.0
2014-03-31     355.0
2014-04-01      77.0
2014-04-02    1021.0
2014-04-03     549.0
2014-04-04     810.0
2014-04-05     794.0
2014-04-06     619.0
2014-04-07     738.0
2014-04-08     193.0
2014-04-09     627.0
2014-04-10     695.0
2014-04-11     701.0
2014-04-13     372.0
2014-04-14      96.0
2014-04-15      20.0
Name: value, dtype: float64
time
2014-03-18    1493.0
2014-03-19    1763.0
2014-03-20    1129.0
2014-03-21     783.0
2014-03-22    1858.0
2014-03-23     633.0
2014-03-24     513.0
2014-03-25    1493.0
2014-03-26    1274.0
2014-03-27     262.0
2014-03-28    2163.0
2014-03-29    5360.0
2014-03-30     607.0
2014-03-31    3794.0
2014-04-01    4756.0
2014-04-02    1724.0
2014-04-03    3878.0
2014-04-04    1675.0
2014-04-05     369.0
2014-04-06    2405.0
2014-04-07    5686.0
2014-04-08     801.0
2014-04-09    1188.0
2014-04-10    1867.0
2014-04-12    5463.0
2014-04-13    1554.0
2014-04-14    2949.0
2014-04-15    1237.0
2014-04-17    1646.0
2014-04-18    1009.0
2014-04-19     139.0
2014-04-20      14.0
2014-04-21    2479.0
2014-04-22    1651.0
2014-04-23     494.0
2014-04-25    1384.0
2014-04-26     326.0
2014-04-27     442.0
2014-04-28    1195.0
2014-04-29     932.0
2014-04-30    1437.0
2014-05-01     432.0
2014-05-02     167.0
2014-05-03     304.0
2014-05-04     153.0
Name: value, dtype: float64
time
2014-03-15      78.0
2014-03-18     143.0
2014-03-19      26.0
2014-03-25      89.0
2014-03-26     112.0
2014-03-29      65.0
2014-03-31      20.0
2014-04-01      92.0
2014-04-02      19.0
2014-04-05      77.0
2014-04-06      11.0
2014-04-07     368.0
2014-04-08      93.0
2014-04-10     231.0
2014-04-11      32.0
2014-04-13     222.0
2014-04-14      81.0
2014-04-15      36.0
2014-04-16      22.0
2014-04-17     145.0
2014-04-19      89.0
2014-04-20     174.0
2014-04-21     437.0
2014-04-22      21.0
2014-04-24      83.0
2014-04-27     836.0
2014-04-28     109.0
2014-04-29     111.0
2014-04-30     203.0
2014-05-01    3752.0
2014-05-02      29.0
Name: value, dtype: float64
time
2014-04-01     634.0
2014-04-02    2624.0
2014-04-03    4928.0
2014-04-04     542.0
2014-04-05     860.0
2014-04-06    1168.0
2014-04-07    1211.0
2014-04-08    1341.0
2014-04-09    2505.0
2014-04-10     844.0
2014-04-11     532.0
2014-04-12     505.0
2014-04-13     661.0
2014-04-14     621.0
2014-04-15    1036.0
2014-04-16    2182.0
2014-04-17    1050.0
2014-04-18    3509.0
2014-04-19     108.0
2014-04-20     225.0
2014-04-21     313.0
2014-04-22     740.0
2014-04-23     824.0
2014-04-24     413.0
2014-04-25     651.0
2014-04-26     790.0
2014-04-27     646.0
2014-04-28    4963.0
2014-04-29     507.0
2014-04-30     652.0
2014-05-01     864.0
2014-05-02     760.0
2014-05-03     199.0
2014-05-04     237.0
2014-05-05    2165.0
2014-05-06    1030.0
2014-05-07     589.0
2014-05-08     488.0
2014-05-09    1144.0
2014-05-10    3210.0
2014-05-11     418.0
2014-05-12     274.0
2014-05-13      53.0
2014-05-14     111.0
Name: value, dtype: float64
time
2014-03-14     269.0
2014-03-15    2051.0
2014-03-16     780.0
2014-03-17    1021.0
2014-03-18     905.0
2014-03-19    1031.0
2014-03-20     512.0
2014-03-21     376.0
2014-03-22     642.0
2014-03-23     749.0
2014-03-24     554.0
2014-03-25    2688.0
2014-03-26     716.0
2014-03-27    1137.0
2014-03-28    4129.0
2014-03-29     345.0
2014-03-30     360.0
2014-03-31    1270.0
2014-04-01     919.0
2014-04-02     652.0
2014-04-03     252.0
2014-04-04     273.0
2014-04-05     218.0
2014-04-06     888.0
2014-04-07     349.0
2014-04-08    2001.0
2014-04-09     931.0
2014-04-10     880.0
2014-04-11     552.0
2014-04-12     532.0
2014-04-13     202.0
2014-04-14     390.0
2014-04-15     602.0
2014-04-16     235.0
2014-04-17     437.0
2014-04-18     826.0
2014-04-19      44.0
2014-04-20     620.0
2014-04-21     367.0
2014-04-22     279.0
2014-04-23     966.0
2014-04-24      99.0
2014-04-25     838.0
2014-04-26    1170.0
2014-04-27     230.0
2014-04-28     672.0
2014-04-29     584.0
2014-04-30     104.0
2014-05-01      90.0
2014-05-02     390.0
2014-05-03     165.0
2014-05-04     270.0
2014-05-05       5.0
Name: value, dtype: float64
time
2014-03-21     1447.0
2014-03-22     4607.0
2014-03-23    35938.0
2014-03-24     1068.0
2014-03-25     3985.0
2014-03-26     2757.0
2014-03-27     2440.0
2014-03-28     5632.0
2014-03-29     3167.0
2014-03-30     3178.0
2014-03-31     2077.0
2014-04-01     4217.0
2014-04-02     1409.0
2014-04-03     1530.0
2014-04-04     2803.0
2014-04-05     2117.0
2014-04-06     3579.0
2014-04-07     1658.0
2014-04-08    17315.0
2014-04-09     2041.0
2014-04-10      922.0
2014-04-11      691.0
2014-04-12     1146.0
2014-04-13      274.0
2014-04-14      483.0
2014-04-15     1043.0
2014-04-16      419.0
2014-04-17      652.0
2014-04-18     1489.0
2014-04-19      584.0
2014-04-20      209.0
2014-04-21      555.0
2014-04-22     1427.0
2014-04-23     1200.0
2014-04-24      423.0
2014-04-25      977.0
2014-04-26      405.0
Name: value, dtype: float64
time
2014-03-22      724.0
2014-03-23     1165.0
2014-03-24     1131.0
2014-03-25    13265.0
2014-03-26     2465.0
2014-03-27     4003.0
2014-03-28     1033.0
2014-03-29      692.0
2014-03-30     2286.0
2014-03-31     3680.0
2014-04-01      716.0
2014-04-02     3291.0
2014-04-03     5386.0
2014-04-04     1669.0
2014-04-05      298.0
2014-04-06     4012.0
2014-04-07     2798.0
2014-04-08      753.0
2014-04-09     1176.0
2014-04-10      555.0
2014-04-12     1705.0
2014-04-13     2733.0
2014-04-14       17.0
2014-04-15       43.0
2014-04-17      238.0
2014-04-18      294.0
2014-04-19        5.0
2014-04-20     1254.0
2014-04-21      599.0
2014-04-22      684.0
2014-04-23      485.0
2014-04-24       94.0
2014-04-25       39.0
2014-04-26      422.0
2014-04-27      923.0
2014-04-28     3194.0
2014-04-29     2059.0
2014-04-30      679.0
2014-05-01     2261.0
2014-05-02      494.0
2014-05-03       30.0
2014-05-04      140.0
Name: value, dtype: float64
time
2014-03-15      66.0
2014-03-18      97.0
2014-03-19      17.0
2014-03-20      15.0
2014-03-21       5.0
2014-03-22      93.0
2014-03-23     181.0
2014-03-25      51.0
2014-03-26      60.0
2014-03-27    3343.0
2014-03-30    1480.0
2014-04-03       1.0
2014-04-04    2216.0
2014-04-05     142.0
2014-04-06     145.0
2014-04-07      51.0
2014-04-10     113.0
2014-04-18    1118.0
2014-04-21      63.0
2014-04-22     204.0
2014-04-24     345.0
2014-04-29     421.0
2014-04-30      46.0
2014-05-02      94.0
2014-05-03    1067.0
2014-05-05     905.0
Name: value, dtype: float64

In [36]:
# calculate the total finance app time per day
for id_val in ids:
    filtered_df = df[(df['id'] == id_val) & (df['variable'] == 'appCat.finance')]

    # # Group by 'time' and calculate the average of 'value'
    average_df = round(df.groupby(filtered_df['time'].dt.date)['value'].sum())
    print(average_df)

Series([], Name: value, dtype: float64)
time
2014-04-27    187.0
2014-05-03     31.0
2014-05-07     40.0
Name: value, dtype: float64
Series([], Name: value, dtype: float64)
time
2014-04-02     58.0
2014-04-03     19.0
2014-04-05      2.0
2014-04-06     54.0
2014-04-07     36.0
2014-04-08     64.0
2014-04-09     27.0
2014-04-11    159.0
2014-04-12     32.0
2014-04-14      6.0
2014-04-15     49.0
2014-04-16    157.0
2014-04-17     69.0
2014-04-21     74.0
2014-04-23    246.0
2014-04-24     32.0
2014-04-26     85.0
2014-04-28    105.0
2014-04-29    124.0
2014-05-01     39.0
2014-05-02     26.0
Name: value, dtype: float64
Series([], Name: value, dtype: float64)
Series([], Name: value, dtype: float64)
time
2014-03-31    159.0
2014-04-01     73.0
2014-04-02    274.0
2014-04-03     38.0
2014-04-04     34.0
2014-04-07     24.0
2014-04-09     93.0
2014-04-10     39.0
2014-04-11    130.0
2014-04-12     47.0
2014-04-14     45.0
2014-04-15    153.0
2014-04-16     76.0
2014-04-17     31.0
2014-04-18    204.0
2014-04-19     25.0
2014-04-23     48.0
2014-04-25     22.0
2014-04-26     24.0
2014-04-27     27.0
2014-05-01     89.0
2014-05-02      5.0
2014-05-03     12.0
2014-05-05      8.0
2014-05-06     13.0
2014-05-07     27.0
Name: value, dtype: float64
time
2014-04-11    27.0
2014-04-16     1.0
2014-04-29    68.0
2014-05-09    65.0
Name: value, dtype: float64
time
2014-04-04    75.0
2014-04-12    50.0
Name: value, dtype: float64
Series([], Name: value, dtype: float64)
time
2014-03-21      50.0
2014-03-22      21.0
2014-03-23      43.0
2014-03-24      34.0
2014-03-25      43.0
2014-03-26      52.0
2014-03-27      42.0
2014-03-28      89.0
2014-03-31      41.0
2014-04-01     548.0
2014-04-02     248.0
2014-04-03      76.0
2014-04-07      46.0
2014-04-08      19.0
2014-04-11      94.0
2014-04-13      82.0
2014-04-14      89.0
2014-04-15      13.0
2014-04-18     119.0
2014-04-19      96.0
2014-04-20      11.0
2014-04-21      33.0
2014-04-22      38.0
2014-04-23      18.0
2014-04-24     210.0
2014-04-25      21.0
2014-04-26      27.0
2014-04-28     465.0
2014-04-30     375.0
2014-05-01    1321.0
2014-05-02    1070.0
2014-05-03     296.0
Name: value, dtype: float64
time
2014-04-28    3.0
Name: value, dtype: float64
Series([], Name: value, dtype: float64)
time
2014-03-21    414.0
2014-03-22    281.0
2014-03-23    160.0
2014-03-24    868.0
2014-03-25    378.0
2014-03-26      6.0
2014-03-27    156.0
2014-03-28    223.0
2014-03-29    155.0
2014-04-03      8.0
Name: value, dtype: float64
time
2014-04-28    97.0
Name: value, dtype: float64
time
2014-03-20     39.0
2014-03-24    194.0
2014-03-25     25.0
2014-03-27     13.0
2014-03-28     13.0
2014-04-01     57.0
2014-04-02     13.0
2014-04-04    372.0
2014-04-05     21.0
2014-04-08     34.0
2014-04-10     20.0
2014-04-11     31.0
2014-04-13     24.0
2014-04-15     77.0
2014-04-16     13.0
2014-04-17     96.0
2014-04-18     40.0
2014-04-19     11.0
2014-04-21     12.0
2014-04-22     30.0
2014-04-23    117.0
2014-04-24     55.0
2014-04-28    207.0
2014-04-29     42.0
2014-05-02    132.0
Name: value, dtype: float64
time
2014-03-31     11.0
2014-04-01     55.0
2014-04-02    128.0
2014-04-03    134.0
2014-04-05     40.0
2014-04-07     49.0
2014-04-08    196.0
2014-04-09     38.0
2014-04-14     22.0
2014-04-15     40.0
2014-04-17     50.0
2014-04-18      9.0
2014-04-22     35.0
2014-04-24    109.0
2014-04-25     78.0
2014-04-28     63.0
2014-05-01    434.0
2014-05-02    249.0
2014-05-03     52.0
Name: value, dtype: float64
time
2014-03-23     36.0
2014-03-24    105.0
2014-03-25    448.0
2014-03-26     87.0
2014-03-29     49.0
2014-03-31     77.0
2014-04-01     59.0
2014-04-02     65.0
2014-04-03     72.0
2014-04-04     47.0
2014-04-07     88.0
2014-04-08     27.0
2014-04-09     32.0
2014-04-11     17.0
2014-04-14     28.0
2014-04-16     18.0
2014-04-17    173.0
2014-04-21     23.0
2014-04-23    159.0
2014-04-24     52.0
2014-04-25     43.0
2014-04-28     28.0
2014-04-29    479.0
2014-05-02     43.0
2014-05-05     13.0
Name: value, dtype: float64
time
2014-03-29    21.0
2014-04-30    61.0
Name: value, dtype: float64
Series([], Name: value, dtype: float64)
Series([], Name: value, dtype: float64)
Series([], Name: value, dtype: float64)
Series([], Name: value, dtype: float64)
Series([], Name: value, dtype: float64)
time
2014-03-24     54.0
2014-03-25    106.0
2014-03-26     61.0
2014-03-28     56.0
2014-03-30     22.0
2014-03-31     97.0
2014-04-01    124.0
2014-04-03     97.0
2014-04-04     48.0
2014-04-06     52.0
2014-04-07     76.0
2014-04-08    160.0
2014-04-09     23.0
2014-04-11     24.0
2014-04-15    149.0
2014-04-17     37.0
2014-04-18     80.0
2014-04-21     33.0
2014-04-23     71.0
2014-04-25     48.0
2014-04-26    203.0
Name: value, dtype: float64
Series([], Name: value, dtype: float64)
time
2014-03-15     40.0
2014-03-16     19.0
2014-03-18     22.0
2014-03-23     13.0
2014-03-24      6.0
2014-03-26     65.0
2014-03-29     19.0
2014-04-04     20.0
2014-04-07     45.0
2014-04-09     11.0
2014-04-10     88.0
2014-04-17    102.0
2014-04-23    140.0
2014-04-29    133.0
2014-05-04     29.0
Name: value, dtype: float64

In [37]:
# calculate total game app time per day by each user
for id_val in ids:
    filtered_df = df[(df['id'] == id_val) & (df['variable'] == 'appCat.game')]

    # # Group by 'time' and calculate the average of 'value'
    average_df = round(df.groupby(filtered_df['time'].dt.date)['value'].sum())
    print(average_df)

time
2014-04-05    361.0
2014-04-18    229.0
Name: value, dtype: float64
time
2014-04-08     163.0
2014-04-09     530.0
2014-04-10      34.0
2014-04-11      41.0
2014-04-13     276.0
2014-04-18      10.0
2014-04-19     142.0
2014-04-20      62.0
2014-04-21     327.0
2014-04-22      18.0
2014-04-24     126.0
2014-04-25    1138.0
2014-04-27     246.0
2014-04-28     551.0
2014-04-29     436.0
2014-05-02     171.0
2014-05-03      78.0
2014-05-04     978.0
2014-05-05     197.0
2014-05-06     830.0
2014-05-07    1922.0
2014-05-08     376.0
Name: value, dtype: float64
Series([], Name: value, dtype: float64)
Series([], Name: value, dtype: float64)
Series([], Name: value, dtype: float64)
Series([], Name: value, dtype: float64)
time
2014-04-01    457.0
2014-04-02     64.0
2014-04-04    194.0
2014-04-05    305.0
2014-04-07    171.0
2014-04-08     74.0
2014-04-09      4.0
2014-04-10    108.0
2014-04-12    986.0
2014-04-13    379.0
2014-04-14     94.0
2014-04-15    943.0
2014-04-16      4.0
2014-04-17    159.0
2014-04-18    975.0
2014-04-20    211.0
2014-04-21     67.0
2014-04-22     47.0
2014-04-23     94.0
2014-04-24     83.0
2014-04-25     37.0
2014-04-26     59.0
2014-04-27     51.0
2014-05-01    622.0
2014-05-02    203.0
2014-05-03    466.0
2014-05-04    371.0
2014-05-05    307.0
2014-05-06     21.0
2014-05-07    410.0
2014-05-08    149.0
Name: value, dtype: float64
Series([], Name: value, dtype: float64)
time
2014-03-20     63.0
2014-03-24    446.0
2014-03-25    347.0
2014-03-27    625.0
2014-03-29    495.0
2014-04-01    953.0
2014-04-04    547.0
2014-04-05    423.0
2014-04-06    418.0
2014-04-07    531.0
2014-04-08    532.0
2014-04-12    404.0
2014-04-13    570.0
2014-04-17    497.0
2014-04-19    196.0
2014-04-28    561.0
Name: value, dtype: float64
time
2014-04-03    333.0
2014-04-04    422.0
2014-04-05    210.0
2014-04-06    136.0
2014-04-07    121.0
2014-04-08    256.0
2014-04-09     96.0
2014-04-10    220.0
2014-04-11    115.0
2014-04-12    149.0
2014-04-13     30.0
2014-04-14     70.0
2014-04-15    142.0
2014-04-16    113.0
2014-04-17    112.0
2014-04-18     36.0
2014-04-19    276.0
2014-04-20    210.0
2014-04-21    105.0
2014-04-22    425.0
2014-04-23    269.0
2014-04-24    120.0
2014-04-25    165.0
2014-04-27     42.0
2014-04-28    118.0
2014-04-29    177.0
2014-04-30    157.0
2014-05-01    386.0
2014-05-02    256.0
2014-05-04     52.0
2014-05-05    135.0
2014-05-06     49.0
2014-05-07     22.0
2014-05-08    147.0
2014-05-09     84.0
2014-05-10     78.0
2014-05-12     94.0
2014-05-13     14.0
Name: value, dtype: float64
time
2014-03-28    233.0
2014-03-31     51.0
2014-04-01    235.0
2014-04-06    114.0
2014-04-10      1.0
2014-04-19     29.0
2014-04-29    333.0
Name: value, dtype: float64
Series([], Name: value, dtype: float64)
time
2014-03-30    2386.0
2014-04-01     867.0
2014-04-03       9.0
2014-04-04    1637.0
2014-04-08     637.0
2014-04-10       9.0
2014-04-12     372.0
2014-04-18      77.0
Name: value, dtype: float64
time
2014-04-20    170.0
Name: value, dtype: float64
Series([], Name: value, dtype: float64)
time
2014-04-05     479.0
2014-04-06    1934.0
2014-04-07     784.0
2014-04-08    1472.0
2014-04-09    2545.0
2014-04-10    1053.0
2014-04-11    2569.0
2014-04-12    2732.0
2014-04-13    1934.0
2014-04-14     676.0
2014-04-15     213.0
2014-04-16    1260.0
2014-04-17    1628.0
2014-04-18     541.0
2014-04-19    1290.0
2014-04-20    1818.0
2014-04-21       4.0
2014-04-23      95.0
2014-04-24       9.0
2014-04-25     226.0
2014-04-28    1069.0
2014-04-29     644.0
2014-05-01     597.0
2014-05-02     178.0
2014-05-03      26.0
Name: value, dtype: float64
time
2014-03-31     11.0
2014-04-01      4.0
2014-04-05      4.0
2014-04-07    108.0
2014-04-09    180.0
2014-04-10      5.0
2014-04-20    550.0
2014-04-21     61.0
2014-05-01    182.0
Name: value, dtype: float64
Series([], Name: value, dtype: float64)
time
2014-04-24    2563.0
2014-05-01    5364.0
Name: value, dtype: float64
Series([], Name: value, dtype: float64)
time
2014-04-29    14.0
Name: value, dtype: float64
Series([], Name: value, dtype: float64)
Series([], Name: value, dtype: float64)
Series([], Name: value, dtype: float64)
time
2014-04-04    175.0
2014-04-05     81.0
Name: value, dtype: float64
time
2014-03-26      180.0
2014-03-27     1685.0
2014-03-28      163.0
2014-03-29     3467.0
2014-03-30      664.0
2014-03-31      675.0
2014-04-01      126.0
2014-04-02      244.0
2014-04-03      633.0
2014-04-04      101.0
2014-04-05      423.0
2014-04-06       38.0
2014-04-08       80.0
2014-04-09      115.0
2014-04-10    12996.0
2014-04-11      725.0
2014-04-12      603.0
2014-04-13       19.0
2014-04-14     4720.0
2014-04-15      902.0
2014-04-16      239.0
2014-04-17      357.0
2014-04-19      134.0
2014-04-20       51.0
2014-04-23      287.0
2014-04-24        3.0
2014-04-26        1.0
2014-04-28     1441.0
Name: value, dtype: float64
time
2014-04-10    163.0
Name: value, dtype: float64

In [38]:
# calculate total office app time per day by each user
for id_val in ids:
    filtered_df = df[(df['id'] == id_val) & (df['variable'] == 'appCat.office')]

    # # Group by 'time' and calculate the average of 'value'
    average_df = round(df.groupby(filtered_df['time'].dt.date)['value'].sum())
    print(average_df)

Series([], Name: value, dtype: float64)
time
2014-04-08    348.0
2014-04-09    124.0
2014-04-10     75.0
2014-04-11      1.0
2014-04-12     20.0
2014-04-13     55.0
2014-04-16    164.0
2014-04-17    404.0
2014-04-19     25.0
2014-04-22     91.0
2014-04-23     63.0
2014-04-25      2.0
2014-04-27     10.0
2014-04-28      2.0
2014-05-01    178.0
2014-05-02      9.0
2014-05-05    277.0
2014-05-06    102.0
2014-05-07      7.0
Name: value, dtype: float64
time
2014-04-25     36.0
2014-04-28     19.0
2014-04-30     36.0
2014-05-03    374.0
2014-05-04     52.0
2014-05-09    208.0
2014-05-12    150.0
2014-05-13     14.0
2014-05-15     39.0
Name: value, dtype: float64
time
2014-04-05    331.0
2014-04-08     24.0
2014-04-09     12.0
2014-04-10     72.0
2014-04-11    191.0
2014-04-12     22.0
2014-04-13     14.0
2014-04-14     11.0
2014-04-16     83.0
2014-04-17     17.0
2014-04-20     91.0
2014-04-21    266.0
2014-04-22      8.0
2014-04-23    460.0
2014-04-24      4.0
2014-04-26      4.0
2014-04-27     26.0
2014-04-28     86.0
2014-04-29     19.0
2014-04-30    173.0
2014-05-01     19.0
2014-05-02     36.0
2014-05-03      2.0
Name: value, dtype: float64
time
2014-03-28     33.0
2014-04-10     15.0
2014-04-12    233.0
2014-04-16     91.0
2014-04-17     67.0
2014-04-19    119.0
2014-04-20     15.0
2014-04-27     16.0
2014-04-28     16.0
2014-04-29     15.0
2014-04-30    118.0
2014-05-01     98.0
2014-05-02     68.0
Name: value, dtype: float64
time
2014-04-15    133.0
Name: value, dtype: float64
time
2014-04-26    23.0
Name: value, dtype: float64
time
2014-04-02      375.0
2014-04-03     1300.0
2014-04-04      126.0
2014-04-05      855.0
2014-04-06      346.0
2014-04-07      797.0
2014-04-08     1433.0
2014-04-09      599.0
2014-04-10      671.0
2014-04-11      988.0
2014-04-12      292.0
2014-04-13      559.0
2014-04-14      777.0
2014-04-15      818.0
2014-04-16      633.0
2014-04-17      826.0
2014-04-18     1395.0
2014-04-19    33283.0
2014-04-20      212.0
2014-04-21      328.0
2014-04-22     1743.0
2014-04-23     1600.0
2014-04-24     1063.0
2014-04-25      661.0
2014-04-26     1034.0
2014-04-27      517.0
2014-04-28      684.0
2014-04-29     1611.0
2014-04-30      690.0
2014-05-01     2203.0
2014-05-02      674.0
2014-05-03     6024.0
2014-05-04     5916.0
2014-05-05      675.0
2014-05-06     1819.0
2014-05-07      202.0
2014-05-08     1953.0
2014-05-09      323.0
2014-05-10     1341.0
2014-05-11      522.0
2014-05-12     1009.0
2014-05-13      844.0
2014-05-14        7.0
Name: value, dtype: float64
Series([], Name: value, dtype: float64)
time
2014-04-06    49.0
Name: value, dtype: float64
time
2014-03-21    172.0
2014-03-24      3.0
2014-03-27    182.0
2014-04-01     92.0
2014-04-02     90.0
2014-04-07     17.0
2014-04-10     23.0
2014-05-01     28.0
Name: value, dtype: float64
time
2014-05-26    131.0
2014-05-28    358.0
Name: value, dtype: float64
time
2014-03-25    277.0
2014-03-26     36.0
2014-03-28     42.0
2014-03-31     28.0
2014-04-02    167.0
2014-04-08    173.0
2014-04-09    474.0
2014-04-11     90.0
2014-04-14     29.0
2014-04-15     72.0
2014-04-16     18.0
2014-04-17    298.0
2014-04-18     10.0
2014-04-22     44.0
2014-04-23    103.0
2014-04-24      4.0
2014-04-25     60.0
2014-04-26    136.0
2014-04-28     31.0
2014-04-29      0.0
2014-04-30     92.0
2014-05-01     11.0
2014-05-03    124.0
2014-05-06    109.0
2014-05-07    187.0
Name: value, dtype: float64
time
2014-04-05     3.0
2014-04-17    78.0
2014-04-24    32.0
Name: value, dtype: float64
time
2014-03-18     45.0
2014-03-21      3.0
2014-03-24     21.0
2014-03-29      9.0
2014-04-02      9.0
2014-04-14    158.0
2014-04-17     10.0
2014-04-18    326.0
2014-04-21    162.0
2014-04-23     28.0
Name: value, dtype: float64
time
2014-03-20    228.0
2014-03-24    137.0
2014-03-26    259.0
2014-03-27     36.0
2014-03-28     69.0
2014-03-29    225.0
2014-03-30     44.0
2014-04-03    105.0
2014-04-05     10.0
2014-04-09      4.0
2014-04-13     47.0
2014-04-15    109.0
2014-04-26     11.0
2014-04-28      5.0
2014-04-30      5.0
Name: value, dtype: float64
time
2014-03-31     17.0
2014-04-02    398.0
2014-04-03    848.0
2014-04-04    525.0
2014-04-07      5.0
2014-04-08     99.0
2014-04-09    180.0
2014-04-12     11.0
2014-04-13     45.0
2014-04-15    174.0
2014-04-17    125.0
2014-04-20     82.0
2014-04-23     44.0
2014-04-24    164.0
2014-04-27     15.0
2014-04-29    171.0
2014-04-30     36.0
2014-05-01     71.0
2014-05-02     37.0
2014-05-03     70.0
Name: value, dtype: float64
time
2014-03-21      10.0
2014-03-23     162.0
2014-03-24     125.0
2014-03-25     141.0
2014-03-26      21.0
2014-03-27      13.0
2014-03-28      46.0
2014-03-30      26.0
2014-04-01      62.0
2014-04-02      19.0
2014-04-04       6.0
2014-04-05     106.0
2014-04-07     125.0
2014-04-08    1495.0
2014-04-09      16.0
2014-04-10       5.0
2014-04-11       9.0
2014-04-13     644.0
2014-04-14       8.0
2014-04-15       6.0
2014-04-16      33.0
2014-04-18     184.0
2014-04-22      40.0
2014-04-25     178.0
2014-04-29       7.0
2014-05-01      61.0
2014-05-06      15.0
2014-05-07      14.0
Name: value, dtype: float64
time
2014-03-21     49.0
2014-03-25    269.0
2014-03-28     30.0
2014-04-01    790.0
2014-04-02    167.0
2014-04-03     36.0
2014-04-04     67.0
2014-04-08    905.0
2014-04-09    378.0
2014-04-10     51.0
2014-04-14    149.0
2014-04-15     13.0
2014-04-16     55.0
2014-04-20    256.0
2014-04-23     31.0
2014-04-25    352.0
2014-04-28    259.0
Name: value, dtype: float64
Series([], Name: value, dtype: float64)
Series([], Name: value, dtype: float64)
time
2014-03-15     17.0
2014-03-26    161.0
2014-04-14     45.0
2014-04-16     48.0
2014-04-21      5.0
2014-04-25    163.0
Name: value, dtype: float64
time
2014-04-01    31.0
2014-04-02    54.0
2014-04-03    58.0
2014-05-11     6.0
Name: value, dtype: float64
time
2014-04-11    21.0
Name: value, dtype: float64
time
2014-03-21     2.0
2014-03-22    13.0
2014-03-24     4.0
2014-03-25    10.0
2014-03-26     1.0
2014-03-28     6.0
2014-03-31     4.0
2014-04-03     4.0
2014-04-05     1.0
2014-04-06     4.0
2014-04-07     3.0
2014-04-08     1.0
2014-04-14     5.0
2014-04-18    72.0
2014-04-19     4.0
Name: value, dtype: float64
time
2014-04-01     142.0
2014-04-15    1082.0
2014-04-16    4233.0
2014-04-17    2133.0
2014-04-18    1189.0
2014-04-22    1835.0
2014-04-23    1720.0
2014-04-24    2237.0
2014-04-25    1612.0
2014-04-26       4.0
2014-04-28    5229.0
2014-05-02    3079.0
Name: value, dtype: float64
Series([], Name: value, dtype: float64)

In [39]:
# calculate finance app time
for id_val in ids:
    filtered_df = df[(df['id'] == id_val) & (df['variable'] == 'appCat.other')]

    # # Group by 'time' and calculate the average of 'value'
    average_df = round(df.groupby(filtered_df['time'].dt.date)['value'].sum())
    print(average_df)

time
2014-03-21    117.0
2014-03-22    480.0
2014-03-23    104.0
2014-03-24     53.0
2014-03-25     54.0
2014-03-26     50.0
2014-03-27     48.0
2014-03-28     64.0
2014-03-29     96.0
2014-03-30     50.0
2014-03-31     45.0
2014-04-01     49.0
2014-04-02     41.0
2014-04-03     42.0
2014-04-04    196.0
2014-04-05     65.0
2014-04-06     49.0
2014-04-07     64.0
2014-04-08     39.0
2014-04-09     61.0
2014-04-10     32.0
2014-04-11     42.0
2014-04-12     45.0
2014-04-13     62.0
2014-04-14     69.0
2014-04-15    113.0
2014-04-16     57.0
2014-04-17     48.0
2014-04-18     43.0
2014-04-19     57.0
2014-04-20     42.0
2014-04-21     48.0
2014-04-22     51.0
2014-04-23     56.0
2014-04-24    188.0
2014-04-25     43.0
2014-04-26    108.0
2014-04-27     86.0
2014-04-28     56.0
2014-04-29     46.0
2014-04-30     51.0
2014-05-01     47.0
2014-05-02     76.0
2014-05-03     73.0
2014-05-04     64.0
Name: value, dtype: float64
time
2014-04-08    223.0
2014-04-09    370.0
2014-04-10    316.0
2014-04-11     68.0
2014-04-12     83.0
2014-04-13     90.0
2014-04-14    133.0
2014-04-15    216.0
2014-04-16    283.0
2014-04-17    120.0
2014-04-18    228.0
2014-04-19    647.0
2014-04-20    126.0
2014-04-21    190.0
2014-04-22    228.0
2014-04-23    141.0
2014-04-24    123.0
2014-04-25     97.0
2014-04-26     65.0
2014-04-27    104.0
2014-04-28    473.0
2014-04-29    289.0
2014-04-30    250.0
2014-05-01    248.0
2014-05-02    164.0
2014-05-03    116.0
2014-05-04    266.0
2014-05-05     36.0
2014-05-06    517.0
2014-05-07    229.0
2014-05-08    127.0
Name: value, dtype: float64
time
2014-04-14    162.0
2014-04-15    102.0
2014-04-16     77.0
2014-04-17     60.0
2014-04-18     78.0
2014-04-19     41.0
2014-04-20     50.0
2014-04-21     32.0
2014-04-22     48.0
2014-04-23     45.0
2014-04-24     47.0
2014-04-25     64.0
2014-04-26     57.0
2014-04-27     34.0
2014-04-28     53.0
2014-04-29     46.0
2014-04-30     31.0
2014-05-01     49.0
2014-05-02     51.0
2014-05-03     52.0
2014-05-04     41.0
2014-05-05     37.0
2014-05-07     81.0
2014-05-08     43.0
2014-05-09     95.0
2014-05-10     25.0
2014-05-11     48.0
2014-05-12     54.0
2014-05-13     48.0
2014-05-14     62.0
2014-05-15     69.0
2014-05-16     46.0
2014-05-17     44.0
2014-05-18     57.0
2014-05-19     66.0
2014-05-20     31.0
2014-05-21     73.0
2014-05-22     73.0
2014-05-23     50.0
2014-05-24     68.0
2014-05-25     48.0
2014-05-26     62.0
2014-05-27     55.0
2014-05-28     66.0
2014-05-29     51.0
2014-05-30     45.0
2014-05-31      7.0
2014-06-01     81.0
2014-06-02     22.0
2014-06-03     39.0
2014-06-04     39.0
2014-06-05     47.0
2014-06-06     36.0
2014-06-07      6.0
2014-06-08     18.0
Name: value, dtype: float64
time
2014-04-01     114.0
2014-04-02      87.0
2014-04-03     162.0
2014-04-04       9.0
2014-04-05     136.0
2014-04-06      46.0
2014-04-07      11.0
2014-04-08     254.0
2014-04-09      71.0
2014-04-10      62.0
2014-04-11      88.0
2014-04-12       9.0
2014-04-13      63.0
2014-04-14     204.0
2014-04-15      16.0
2014-04-16     208.0
2014-04-17      72.0
2014-04-18     140.0
2014-04-19      46.0
2014-04-20      54.0
2014-04-21     333.0
2014-04-22     338.0
2014-04-23      66.0
2014-04-24      43.0
2014-04-25     206.0
2014-04-26     146.0
2014-04-27     232.0
2014-04-28    1331.0
2014-04-29     338.0
2014-04-30     534.0
2014-05-01      45.0
2014-05-02      30.0
2014-05-03     267.0
2014-05-05      14.0
Name: value, dtype: float64
time
2014-03-13     467.0
2014-03-14    1212.0
2014-03-15    1157.0
2014-03-16    2366.0
2014-03-17     701.0
2014-03-18     981.0
2014-03-19    4204.0
2014-03-20     627.0
2014-03-21     110.0
2014-03-22     356.0
2014-03-23     317.0
2014-03-24      98.0
2014-03-25    1140.0
2014-03-26     266.0
2014-03-27     525.0
2014-03-28     181.0
2014-03-29     118.0
2014-03-30    1505.0
2014-03-31      75.0
2014-04-01     136.0
2014-04-02     100.0
2014-04-03     132.0
2014-04-04     202.0
2014-04-05     238.0
2014-04-06     116.0
2014-04-07    1503.0
2014-04-08     130.0
2014-04-09     875.0
2014-04-10     212.0
2014-04-11     231.0
2014-04-12      91.0
2014-04-13     257.0
2014-04-14     200.0
2014-04-15     587.0
2014-04-16     332.0
2014-04-17    1441.0
2014-04-18      42.0
2014-04-19     537.0
2014-04-20     108.0
2014-04-21    2403.0
2014-04-22     273.0
2014-04-23      97.0
2014-04-24     304.0
2014-04-25     206.0
2014-04-26     292.0
2014-04-27    1366.0
2014-04-28     473.0
2014-04-29     197.0
2014-04-30     327.0
2014-05-01     551.0
2014-05-02     123.0
Name: value, dtype: float64
time
2014-04-13     92.0
2014-04-14     46.0
2014-04-15     57.0
2014-04-16     65.0
2014-04-17     42.0
2014-04-18     54.0
2014-04-19     42.0
2014-04-20     63.0
2014-04-21     42.0
2014-04-22     46.0
2014-04-23     62.0
2014-04-24     40.0
2014-04-25     54.0
2014-04-26     34.0
2014-04-27     58.0
2014-04-28     42.0
2014-04-29     59.0
2014-04-30     46.0
2014-05-01     35.0
2014-05-02     51.0
2014-05-03     46.0
2014-05-04     56.0
2014-05-05     30.0
2014-05-07     31.0
2014-05-08     36.0
2014-05-09     64.0
2014-05-10     55.0
2014-05-11     44.0
2014-05-12     32.0
2014-05-13     34.0
2014-05-14     33.0
2014-05-15     29.0
2014-05-16     39.0
2014-05-17     40.0
2014-05-18     44.0
2014-05-19     46.0
2014-05-20     40.0
2014-05-21     42.0
2014-05-22     31.0
2014-05-23     36.0
2014-05-24    624.0
2014-05-25     39.0
2014-05-26     55.0
2014-05-27     33.0
2014-05-28     59.0
2014-05-29      7.0
Name: value, dtype: float64
time
2014-03-31     41.0
2014-04-01    110.0
2014-04-02    105.0
2014-04-03     83.0
2014-04-04    106.0
2014-04-05     89.0
2014-04-06     50.0
2014-04-07     65.0
2014-04-08     57.0
2014-04-09    214.0
2014-04-10     69.0
2014-04-11    122.0
2014-04-12     73.0
2014-04-13     50.0
2014-04-14     59.0
2014-04-15    104.0
2014-04-16     55.0
2014-04-17     63.0
2014-04-18     51.0
2014-04-19     49.0
2014-04-20     46.0
2014-04-21     46.0
2014-04-22     46.0
2014-04-23     50.0
2014-04-24     52.0
2014-04-25     58.0
2014-04-26     56.0
2014-04-27     56.0
2014-04-28    673.0
2014-04-30     24.0
2014-05-01    253.0
2014-05-02    218.0
2014-05-03     54.0
2014-05-04    168.0
2014-05-05    532.0
2014-05-06      6.0
2014-05-07    108.0
2014-05-08     26.0
Name: value, dtype: float64
time
2014-04-02    170.0
2014-04-03    138.0
2014-04-04     69.0
2014-04-05     88.0
2014-04-06    215.0
2014-04-07    235.0
2014-04-08     72.0
2014-04-09     62.0
2014-04-10    713.0
2014-04-11     56.0
2014-04-12     66.0
2014-04-13     65.0
2014-04-14    177.0
2014-04-15     76.0
2014-04-16    130.0
2014-04-17     64.0
2014-04-18    103.0
2014-04-19     94.0
2014-04-20     88.0
2014-04-21    187.0
2014-04-22     48.0
2014-04-23     38.0
2014-04-24     48.0
2014-04-25     46.0
2014-04-26    155.0
2014-04-27     53.0
2014-04-28     53.0
2014-04-29     48.0
2014-04-30     61.0
2014-05-01     35.0
2014-05-03     14.0
2014-05-04     27.0
2014-05-05     42.0
2014-05-06      2.0
2014-05-07    995.0
2014-05-08     34.0
2014-05-09    992.0
2014-05-10    209.0
2014-05-11     62.0
2014-05-12     44.0
2014-05-13    512.0
Name: value, dtype: float64
time
2014-03-22     58.0
2014-03-23     66.0
2014-03-24     14.0
2014-03-25    131.0
2014-03-26     73.0
2014-03-28      8.0
2014-03-29    122.0
2014-04-02     18.0
2014-04-03     11.0
2014-04-04     42.0
2014-04-05    154.0
2014-04-09     44.0
2014-04-10     10.0
2014-04-11     41.0
2014-04-12     82.0
2014-04-15     14.0
2014-04-16     11.0
2014-04-20    185.0
2014-04-21     14.0
2014-04-23     12.0
2014-04-24    378.0
2014-04-25     47.0
2014-04-27     38.0
2014-04-28     46.0
Name: value, dtype: float64
time
2014-04-02     18.0
2014-04-03    160.0
2014-04-04    120.0
2014-04-05     77.0
2014-04-06     63.0
2014-04-07     70.0
2014-04-08    157.0
2014-04-09    254.0
2014-04-10     74.0
2014-04-11     46.0
2014-04-12     47.0
2014-04-13     75.0
2014-04-14     63.0
2014-04-15     87.0
2014-04-16    102.0
2014-04-17    107.0
2014-04-18     55.0
2014-04-19     83.0
2014-04-20     74.0
2014-04-21     57.0
2014-04-22     63.0
2014-04-23     63.0
2014-04-24     86.0
2014-04-25    431.0
2014-04-26    255.0
2014-04-27     64.0
2014-04-28    220.0
2014-04-29    101.0
2014-04-30     73.0
2014-05-01     54.0
2014-05-02     91.0
2014-05-03     51.0
2014-05-04     71.0
2014-05-05     30.0
2014-05-06      6.0
2014-05-07     50.0
2014-05-08     45.0
2014-05-09     51.0
2014-05-10     54.0
2014-05-11     42.0
2014-05-12     56.0
2014-05-13     47.0
2014-05-14     24.0
Name: value, dtype: float64
time
2014-03-20      11.0
2014-03-21     240.0
2014-03-22      98.0
2014-03-23      73.0
2014-03-24      67.0
2014-03-25     179.0
2014-03-26      97.0
2014-03-27      59.0
2014-03-28     226.0
2014-03-29     170.0
2014-03-30      74.0
2014-03-31     269.0
2014-04-01     121.0
2014-04-02     542.0
2014-04-03     214.0
2014-04-04     177.0
2014-04-05      81.0
2014-04-06     119.0
2014-04-07     170.0
2014-04-08     210.0
2014-04-09     347.0
2014-04-10     108.0
2014-04-11      51.0
2014-04-12      79.0
2014-04-13      94.0
2014-04-14     145.0
2014-04-15     110.0
2014-04-16      41.0
2014-04-17      54.0
2014-04-18      48.0
2014-04-19      31.0
2014-04-20      34.0
2014-04-21      58.0
2014-04-22      63.0
2014-04-23      42.0
2014-04-24      32.0
2014-04-25      69.0
2014-04-26      46.0
2014-04-27    1057.0
2014-04-28      73.0
2014-04-29      40.0
2014-04-30     186.0
2014-05-01      44.0
2014-05-02      32.0
2014-05-03      41.0
2014-05-04      36.0
Name: value, dtype: float64
time
2014-04-16    108.0
2014-04-17    153.0
2014-04-18     71.0
2014-04-19     55.0
2014-04-20     61.0
2014-04-21     63.0
2014-04-22     79.0
2014-04-23     68.0
2014-04-24     68.0
2014-04-25     52.0
2014-04-26     56.0
2014-04-27     61.0
2014-04-28     59.0
2014-04-29    139.0
2014-04-30     55.0
2014-05-01     57.0
2014-05-02     55.0
2014-05-03     18.0
2014-05-04     38.0
2014-05-05     39.0
2014-05-07     41.0
2014-05-08    113.0
2014-05-09     59.0
2014-05-10     69.0
2014-05-11     54.0
2014-05-12    293.0
2014-05-13     40.0
2014-05-14    101.0
2014-05-15     79.0
2014-05-16     77.0
2014-05-17     39.0
2014-05-18     63.0
2014-05-19     90.0
2014-05-20     45.0
2014-05-21     68.0
2014-05-22     51.0
2014-05-23    106.0
2014-05-24     78.0
2014-05-25     42.0
2014-05-26    236.0
2014-05-27    143.0
2014-05-28    530.0
2014-05-29     29.0
2014-05-30     53.0
Name: value, dtype: float64
time
2014-03-24     220.0
2014-03-25     112.0
2014-03-26      60.0
2014-03-27      56.0
2014-03-28     368.0
2014-03-29     101.0
2014-03-30      44.0
2014-03-31      49.0
2014-04-01      57.0
2014-04-02      59.0
2014-04-03      55.0
2014-04-04      42.0
2014-04-05      82.0
2014-04-06      77.0
2014-04-07      43.0
2014-04-08      61.0
2014-04-09      61.0
2014-04-10      58.0
2014-04-11      62.0
2014-04-12      91.0
2014-04-13      56.0
2014-04-14      39.0
2014-04-15      59.0
2014-04-16      66.0
2014-04-17    1444.0
2014-04-18      58.0
2014-04-19      62.0
2014-04-20      53.0
2014-04-21      61.0
2014-04-22      72.0
2014-04-23     138.0
2014-04-24     123.0
2014-04-25      48.0
2014-04-26      66.0
2014-04-27      53.0
2014-04-28      29.0
2014-04-29      40.0
2014-04-30      43.0
2014-05-01      43.0
2014-05-02      37.0
2014-05-03      76.0
2014-05-04     135.0
2014-05-05      31.0
2014-05-07     624.0
Name: value, dtype: float64

time
2014-03-21    3859.0
2014-03-22    1110.0
2014-03-23     305.0
2014-03-24     439.0
2014-03-25    1518.0
2014-03-26    1899.0
2014-03-27      99.0
2014-03-28     309.0
2014-03-29      33.0
2014-03-30      24.0
2014-03-31      39.0
2014-04-01      40.0
2014-04-02      14.0
2014-04-03      68.0
2014-04-04      31.0
2014-04-05      67.0
2014-04-06      45.0
2014-04-07      85.0
2014-04-08      47.0
2014-04-09      30.0
2014-04-10      23.0
2014-04-11      62.0
2014-04-12      22.0
2014-04-14    2939.0
2014-04-15      28.0
2014-04-16      55.0
2014-04-17      86.0
2014-04-18      28.0
2014-04-19      48.0
2014-04-20      50.0
2014-04-21      33.0
2014-04-22      42.0
2014-04-23      46.0
2014-04-24      33.0
2014-04-25      73.0
2014-04-26      15.0
2014-04-27      43.0
2014-04-29       9.0
2014-04-30      18.0
2014-05-01      31.0
2014-05-02      51.0
2014-05-03      66.0
2014-05-04      55.0
2014-05-05      15.0
Name: value, dtype: float64
time
2014-03-14     173.0
2014-03-18      54.0
2014-03-21      14.0
2014-03-22      22.0
2014-03-23      10.0
2014-03-24       8.0
2014-03-26     396.0
2014-03-28       7.0
2014-03-29      10.0
2014-04-02       8.0
2014-04-07      18.0
2014-04-11      11.0
2014-04-14       6.0
2014-04-16      37.0
2014-04-17     114.0
2014-04-18      10.0
2014-04-19     765.0
2014-04-21    1574.0
2014-04-23      41.0
2014-04-24     256.0
2014-04-26      85.0
2014-04-27       9.0
2014-04-28      28.0
2014-04-30     206.0
2014-05-03      15.0
Name: value, dtype: float64
time
2014-03-20     355.0
2014-03-21     469.0
2014-03-22    1093.0
2014-03-23     795.0
2014-03-24    1383.0
2014-03-25     545.0
2014-03-26    1143.0
2014-03-27     256.0
2014-03-28     397.0
2014-03-29     105.0
2014-03-30     192.0
2014-03-31     251.0
2014-04-01     372.0
2014-04-02     910.0
2014-04-03     637.0
2014-04-04     399.0
2014-04-05     305.0
2014-04-06     250.0
2014-04-07     401.0
2014-04-08     777.0
2014-04-09    1053.0
2014-04-10     406.0
2014-04-11     380.0
2014-04-12     151.0
2014-04-13     216.0
2014-04-14     168.0
2014-04-15    3728.0
2014-04-16     113.0
2014-04-17     597.0
2014-04-18    1591.0
2014-04-19     108.0
2014-04-20     293.0
2014-04-21      72.0
2014-04-22     326.0
2014-04-23     133.0
2014-04-24      73.0
2014-04-25     418.0
2014-04-26     371.0
2014-04-27     256.0
2014-04-28     212.0
2014-04-29     384.0
2014-04-30     255.0
2014-05-01    1101.0
2014-05-02      70.0
2014-05-03      86.0
2014-05-04     331.0
Name: value, dtype: float64
time
2014-03-27    72.0
2014-03-28    78.0
2014-03-29    52.0
2014-03-30    54.0
2014-03-31    48.0
2014-04-01    45.0
2014-04-02    78.0
2014-04-03    41.0
2014-04-04    46.0
2014-04-05    67.0
2014-04-06    39.0
2014-04-07    60.0
2014-04-08    45.0
2014-04-09    41.0
2014-04-10    56.0
2014-04-11    46.0
2014-04-12    73.0
2014-04-13    70.0
2014-04-14    75.0
2014-04-15    53.0
2014-04-16    63.0
2014-04-17    50.0
2014-04-18    54.0
2014-04-19    60.0
2014-04-20    51.0
2014-04-21    46.0
2014-04-22    58.0
2014-04-23    40.0
2014-04-24    41.0
2014-04-25    46.0
2014-04-26    42.0
2014-04-27    68.0
2014-04-28    44.0
2014-04-29    49.0
2014-04-30    37.0
2014-05-01    60.0
2014-05-02    45.0
2014-05-03    48.0
2014-05-04    44.0
2014-05-05    24.0
Name: value, dtype: float64
time
2014-03-21     544.0
2014-03-22      89.0
2014-03-23     252.0
2014-03-24     851.0
2014-03-25     134.0
2014-03-26      73.0
2014-03-27      60.0
2014-03-28     246.0
2014-03-29     104.0
2014-03-30     186.0
2014-03-31      99.0
2014-04-01     203.0
2014-04-02      99.0
2014-04-03      91.0
2014-04-04     903.0
2014-04-05      61.0
2014-04-06    1025.0
2014-04-07      72.0
2014-04-08      71.0
2014-04-09      74.0
2014-04-10      95.0
2014-04-11     354.0
2014-04-12    1072.0
2014-04-13    4335.0
2014-04-14      58.0
2014-04-15     100.0
2014-04-16     175.0
2014-04-17     167.0
2014-04-18      47.0
2014-04-19      53.0
2014-04-20      49.0
2014-04-21    1681.0
2014-04-22      73.0
2014-04-23      59.0
2014-04-24     159.0
2014-04-25      58.0
2014-04-26      90.0
2014-04-27    2434.0
2014-04-28      48.0
2014-04-29      67.0
2014-04-30      85.0
2014-05-01      80.0
2014-05-02     714.0
2014-05-03      54.0
2014-05-04      38.0
2014-05-05     249.0
2014-05-07     260.0
Name: value, dtype: float64
time
2014-03-20    111.0
2014-03-21     45.0
2014-03-22    144.0
2014-03-23     35.0
2014-03-24     36.0
2014-03-25     27.0
2014-03-26    113.0
2014-03-27     45.0
2014-03-28    204.0
2014-03-29     45.0
2014-03-30     32.0
2014-03-31    581.0
2014-04-01    299.0
2014-04-02    188.0
2014-04-03    227.0
2014-04-04     44.0
2014-04-05     43.0
2014-04-06    101.0
2014-04-07     23.0
2014-04-08     48.0
2014-04-09     92.0
2014-04-10    186.0
2014-04-11     39.0
2014-04-12     39.0
2014-04-13     55.0
2014-04-14     49.0
2014-04-15    852.0
2014-04-16     47.0
2014-04-17     44.0
2014-04-18     33.0
2014-04-19     44.0
2014-04-20     43.0
2014-04-21     62.0
2014-04-22     46.0
2014-04-23     46.0
2014-04-24     41.0
2014-04-25    121.0
2014-04-26     56.0
2014-04-27     34.0
2014-04-28     45.0
2014-04-29     36.0
2014-04-30     44.0
2014-05-01      8.0
2014-05-02     23.0
2014-05-03     44.0
2014-05-04     26.0
2014-05-05     22.0
Name: value, dtype: float64
time
2014-03-14    223.0
2014-03-16    408.0
2014-03-17    104.0
2014-03-18     89.0
2014-03-19    106.0
2014-03-20     87.0
2014-03-21     38.0
2014-03-22     43.0
2014-03-23     62.0
2014-03-24     82.0
2014-03-25     50.0
2014-03-26     42.0
2014-03-27    732.0
2014-03-28    126.0
2014-03-29     53.0
2014-03-30    113.0
2014-03-31     82.0
2014-04-01    186.0
2014-04-02    129.0
2014-04-03     56.0
2014-04-04    149.0
2014-04-05    101.0
2014-04-06     30.0
2014-04-07    106.0
2014-04-08    134.0
2014-04-09     61.0
2014-04-10    141.0
2014-04-11    136.0
2014-04-12     11.0
2014-04-13     79.0
2014-04-14     21.0
Name: value, dtype: float64
time
2014-03-18    172.0
2014-03-19     91.0
2014-03-20     87.0
2014-03-21     90.0
2014-03-22    358.0
2014-03-23    113.0
2014-03-24    189.0
2014-03-25    643.0
2014-03-26    104.0
2014-03-27     60.0
2014-03-28    232.0
2014-03-29    379.0
2014-03-30     71.0
2014-03-31     48.0
2014-04-01     55.0
2014-04-02    105.0
2014-04-03     45.0
2014-04-04    232.0
2014-04-05    119.0
2014-04-06    110.0
2014-04-07    233.0
2014-04-08    178.0
2014-04-09    116.0
2014-04-10     41.0
2014-04-11     40.0
2014-04-12    177.0
2014-04-13     42.0
2014-04-14     92.0
2014-04-15     72.0
2014-04-16    405.0
2014-04-17     75.0
2014-04-18    143.0
2014-04-19     95.0
2014-04-20     10.0
2014-04-21     97.0
2014-04-22    120.0
2014-04-23    152.0
2014-04-24    167.0
2014-04-25     26.0
2014-04-26    220.0
2014-04-27    180.0
2014-04-28    333.0
2014-04-29     43.0
2014-04-30    831.0
2014-05-01     32.0
2014-05-02    427.0
2014-05-03     37.0
2014-05-04      9.0
Name: value, dtype: float64
time
2014-03-13     209.0
2014-03-14      42.0
2014-03-15      72.0
2014-03-16      56.0
2014-03-17      68.0
2014-03-18      47.0
2014-03-19      64.0
2014-03-20      48.0
2014-03-21      52.0
2014-03-22      43.0
2014-03-23    4065.0
2014-03-24      52.0
2014-03-25      47.0
2014-03-26      46.0
2014-03-27      57.0
2014-03-28      52.0
2014-03-29      61.0
2014-03-30      43.0
2014-03-31      51.0
2014-04-01      60.0
2014-04-02      52.0
2014-04-03     107.0
2014-04-04      34.0
2014-04-05      47.0
2014-04-06      34.0
2014-04-07      69.0
2014-04-08      57.0
2014-04-09    3614.0
2014-04-10      83.0
2014-04-11      48.0
2014-04-12     109.0
2014-04-13     119.0
2014-04-14     122.0
2014-04-15      54.0
2014-04-16      45.0
2014-04-17     189.0
2014-04-18      68.0
2014-04-19      47.0
2014-04-20      36.0
2014-04-21      31.0
2014-04-22      47.0
2014-04-23      51.0
2014-04-24     547.0
2014-04-25      52.0
2014-04-26      29.0
2014-04-27      34.0
2014-04-28      45.0
2014-04-29      39.0
2014-04-30      38.0
2014-05-01      57.0
2014-05-02      46.0
2014-05-03      37.0
2014-05-04      34.0
2014-05-05      22.0
Name: value, dtype: float64
time
2014-04-01    265.0
2014-04-02     83.0
2014-04-03    113.0
2014-04-04     58.0
2014-04-05    131.0
2014-04-06     70.0
2014-04-07     52.0
2014-04-08     66.0
2014-04-09     26.0
2014-04-10     84.0
2014-04-11     98.0
2014-04-12     50.0
2014-04-13     83.0
2014-04-14     54.0
2014-04-15    127.0
2014-04-16     48.0
2014-04-17     17.0
2014-04-18    130.0
2014-04-20      6.0
2014-04-21     45.0
2014-04-23    288.0
2014-04-24     26.0
2014-04-25    236.0
2014-04-27     17.0
2014-04-28     32.0
2014-04-29    103.0
2014-04-30     43.0
2014-05-01     41.0
2014-05-02     40.0
2014-05-03     16.0
2014-05-04    166.0
2014-05-05     35.0
2014-05-06     70.0
2014-05-07     46.0
2014-05-08     66.0
2014-05-09     32.0
2014-05-10     53.0
2014-05-11    222.0
2014-05-12     20.0
Name: value, dtype: float64
time
2014-03-14     358.0
2014-03-15     175.0
2014-03-16      89.0
2014-03-17     148.0
2014-03-18      67.0
2014-03-19     122.0
2014-03-20     157.0
2014-03-21      54.0
2014-03-22     118.0
2014-03-23      91.0
2014-03-24     124.0
2014-03-25     254.0
2014-03-26      94.0
2014-03-27     107.0
2014-03-28     112.0
2014-03-29      91.0
2014-03-30     126.0
2014-03-31     122.0
2014-04-01      69.0
2014-04-02     113.0
2014-04-03      87.0
2014-04-04     246.0
2014-04-05     458.0
2014-04-06      66.0
2014-04-07      78.0
2014-04-08     653.0
2014-04-09     144.0
2014-04-10    1896.0
2014-04-11     101.0
2014-04-12     103.0
2014-04-13     142.0
2014-04-14     149.0
2014-04-15     595.0
2014-04-16     126.0
2014-04-17      87.0
2014-04-18     270.0
2014-04-19     113.0
2014-04-20      46.0
2014-04-21      63.0
2014-04-22     152.0
2014-04-23      73.0
2014-04-24      58.0
2014-04-25      66.0
2014-04-26     147.0
2014-04-27     218.0
2014-04-28      56.0
2014-04-29     141.0
2014-04-30      64.0
2014-05-01     139.0
2014-05-02     450.0
2014-05-03      59.0
2014-05-04     104.0
2014-05-05      10.0
Name: value, dtype: float64
time
2014-03-21    217.0
2014-03-22    147.0
2014-03-23     68.0
2014-03-24     84.0
2014-03-25     72.0
2014-03-26     47.0
2014-03-27     97.0
2014-03-28    246.0
2014-03-29     64.0
2014-03-30     42.0
2014-03-31     50.0
2014-04-01     64.0
2014-04-02     78.0
2014-04-03     91.0
2014-04-04     61.0
2014-04-05     77.0
2014-04-06     53.0
2014-04-07     64.0
2014-04-08     66.0
2014-04-09     29.0
2014-04-10     19.0
2014-04-11     19.0
2014-04-12     53.0
2014-04-13     15.0
2014-04-14     25.0
2014-04-15     11.0
2014-04-16     30.0
2014-04-17     32.0
2014-04-18     12.0
2014-04-19     21.0
2014-04-21     16.0
2014-04-23     24.0
2014-04-24      7.0
2014-04-25     26.0
2014-04-26     39.0
Name: value, dtype: float64
time
2014-03-22     295.0
2014-03-23      67.0
2014-03-24     444.0
2014-03-25     307.0
2014-03-26     841.0
2014-03-27      93.0
2014-03-28      52.0
2014-03-29     123.0
2014-03-30     210.0
2014-03-31      97.0
2014-04-01      36.0
2014-04-02      90.0
2014-04-03      70.0
2014-04-04       9.0
2014-04-05     170.0
2014-04-06      72.0
2014-04-07      51.0
2014-04-08     104.0
2014-04-09     100.0
2014-04-10     200.0
2014-04-11     147.0
2014-04-12     167.0
2014-04-13     145.0
2014-04-15     471.0
2014-04-16     144.0
2014-04-17     511.0
2014-04-18     170.0
2014-04-19     134.0
2014-04-20     341.0
2014-04-21     187.0
2014-04-22     142.0
2014-04-23     698.0
2014-04-24     376.0
2014-04-25      96.0
2014-04-26      31.0
2014-04-27     564.0
2014-04-28    2186.0
2014-04-29     115.0
2014-04-30      19.0
2014-05-01       4.0
Name: value, dtype: float64

time
2014-03-14    29.0
2014-03-15    10.0
2014-03-16    38.0
2014-03-17    15.0
2014-03-18    11.0
2014-03-19    22.0
2014-03-20    10.0
2014-03-22    10.0
2014-03-23    23.0
2014-03-24    10.0
2014-03-25    21.0
2014-03-29     8.0
2014-03-30    17.0
2014-03-31     8.0
2014-04-03    17.0
2014-04-04    27.0
2014-04-05    15.0
2014-04-06     8.0
2014-04-10    15.0
2014-04-11     5.0
2014-04-13     6.0
2014-04-16    12.0
2014-04-17    13.0
2014-04-21    14.0
2014-04-23     9.0
2014-04-26     5.0
2014-04-29     7.0
2014-04-30     5.0
2014-05-04    15.0
Name: value, dtype: float64

In [40]:
# calculate social app time per day by each user
for id_val in ids:
    filtered_df = df[(df['id'] == id_val) & (df['variable'] == 'appCat.social')]

    # # Group by 'time' and calculate the average of 'value'
    average_df = round(df.groupby(filtered_df['time'].dt.date)['value'].sum())
    print(average_df)

time
2014-03-21        5.0
2014-03-22       72.0
2014-03-23       68.0
2014-03-26      140.0
2014-03-27      190.0
2014-03-28       26.0
2014-04-02       48.0
2014-04-04      219.0
2014-04-05       53.0
2014-04-07      215.0
2014-04-10       68.0
2014-04-11       61.0
2014-04-12      389.0
2014-04-13      227.0
2014-04-14      209.0
2014-04-15       19.0
2014-04-16      355.0
2014-04-17       98.0
2014-04-19      324.0
2014-04-20       76.0
2014-04-21    30073.0
2014-04-22       25.0
2014-04-23      193.0
2014-04-25      259.0
2014-04-27      396.0
2014-04-28      599.0
2014-04-29      173.0
2014-04-30      371.0
2014-05-01      335.0
2014-05-03        9.0
2014-05-04      478.0
Name: value, dtype: float64
time
2014-04-08    1090.0
2014-04-09    2131.0
2014-04-10    2081.0
2014-04-11    3992.0
2014-04-12     863.0
2014-04-13     646.0
2014-04-14     888.0
2014-04-15     249.0
2014-04-16     519.0
2014-04-17    5640.0
2014-04-18     606.0
2014-04-19    1435.0
2014-04-20     245.0
2014-04-21    2953.0
2014-04-22     278.0
2014-04-23    1772.0
2014-04-24     665.0
2014-04-25      86.0
2014-04-26    2553.0
2014-04-28       4.0
2014-04-29     626.0
2014-05-01    2178.0
2014-05-02     263.0
2014-05-03    2121.0
2014-05-05     142.0
2014-05-06    1093.0
2014-05-08     518.0
Name: value, dtype: float64
time
2014-04-15     592.0
2014-04-16     155.0
2014-04-17     701.0
2014-04-18     764.0
2014-04-19    1229.0
2014-04-20     239.0
2014-04-21    1098.0
2014-04-22     236.0
2014-04-23     247.0
2014-04-24     347.0
2014-04-25     112.0
2014-04-26      21.0
2014-04-27     106.0
2014-04-28     333.0
2014-04-29      64.0
2014-04-30     231.0
2014-05-01     386.0
2014-05-02     560.0
2014-05-04      22.0
2014-05-05     325.0
2014-05-06     127.0
2014-05-07     129.0
2014-05-08     171.0
2014-05-10     973.0
2014-05-11      23.0
2014-05-12     600.0
2014-05-13      94.0
2014-05-14     513.0
2014-05-15     217.0
2014-05-16     576.0
2014-05-17     252.0
2014-05-18     223.0
2014-05-19     391.0
2014-05-20     395.0
2014-05-21      51.0
2014-05-22      36.0
2014-05-23     660.0
2014-05-24     142.0
2014-05-25      19.0
2014-05-26     138.0
2014-05-27     201.0
2014-05-28     127.0
2014-05-29     197.0
2014-05-30     252.0
2014-06-01     760.0
2014-06-02     796.0
2014-06-03      75.0
2014-06-04      69.0
2014-06-05     172.0
2014-06-07     107.0
2014-06-08     191.0
Name: value, dtype: float64
time
2014-04-01     49.0
2014-04-02    289.0
2014-04-03     76.0
2014-04-04    214.0
2014-04-06     17.0
2014-04-07     60.0
2014-04-08    309.0
2014-04-09    230.0
2014-04-10    305.0
2014-04-11    321.0
2014-04-12     21.0
2014-04-13     30.0
2014-04-14    501.0
2014-04-16     44.0
2014-04-17     77.0
2014-04-18    225.0
2014-04-19      8.0
2014-04-20    146.0
2014-04-21    187.0
2014-04-22    336.0
2014-04-23     37.0
2014-04-24     20.0
2014-04-25     68.0
2014-04-26    105.0
2014-04-27    254.0
2014-04-28     25.0
2014-04-29    195.0
2014-04-30    136.0
2014-05-01     16.0
2014-05-02    754.0
2014-05-03     53.0
Name: value, dtype: float64
time
2014-03-13     174.0
2014-03-14     939.0
2014-03-15     565.0
2014-03-16     571.0
2014-03-17     427.0
2014-03-18     417.0
2014-03-19     295.0
2014-03-20     498.0
2014-03-21     163.0
2014-03-22     655.0
2014-03-23     249.0
2014-03-24     186.0
2014-03-25     381.0
2014-03-26     244.0
2014-03-27     353.0
2014-03-28    2989.0
2014-03-29     650.0
2014-03-30      95.0
2014-03-31     727.0
2014-04-01    4125.0
2014-04-02     831.0
2014-04-03      36.0
2014-04-04     398.0
2014-04-05      83.0
2014-04-06     526.0
2014-04-07     917.0
2014-04-08     158.0
2014-04-09     210.0
2014-04-10     103.0
2014-04-11     375.0
2014-04-12     342.0
2014-04-13     157.0
2014-04-14     214.0
2014-04-15     179.0
2014-04-16     278.0
2014-04-17     320.0
2014-04-18      67.0
2014-04-19     193.0
2014-04-20     176.0
2014-04-21     140.0
2014-04-22     495.0
2014-04-23     613.0
2014-04-24     494.0
2014-04-25    1676.0
2014-04-26     417.0
2014-04-27     820.0
2014-04-28     545.0
2014-04-29     186.0
2014-04-30     672.0
2014-05-01     419.0
2014-05-02     503.0
2014-05-03      69.0
Name: value, dtype: float64
time
2014-04-13    4759.0
2014-04-14    3623.0
2014-04-15    5401.0
2014-04-16    2437.0
2014-04-17    2635.0
2014-04-18    6203.0
2014-04-19    1653.0
2014-04-20    5737.0
2014-04-21    4547.0
2014-04-22    2340.0
2014-04-23    3510.0
2014-04-24    2455.0
2014-04-25    3818.0
2014-04-26    1712.0
2014-04-27     874.0
2014-04-28    2122.0
2014-04-29    2278.0
2014-04-30    2244.0
2014-05-01    1768.0
2014-05-02    2182.0
2014-05-03    3491.0
2014-05-04    3486.0
2014-05-05    2501.0
2014-05-06    5256.0
2014-05-07    1409.0
2014-05-08    1608.0
2014-05-09    3528.0
2014-05-10    3441.0
2014-05-11    1262.0
2014-05-12    2869.0
2014-05-13    2278.0
2014-05-14    1155.0
2014-05-15    2429.0
2014-05-16    2874.0
2014-05-17    2181.0
2014-05-18    3086.0
2014-05-19    3481.0
2014-05-20    6977.0
2014-05-21    1774.0
2014-05-22    2650.0
2014-05-23    1302.0
2014-05-24    2794.0
2014-05-25    2637.0
2014-05-26    3128.0
2014-05-27    3956.0
2014-05-28    5195.0
Name: value, dtype: float64
time
2014-03-31     691.0
2014-04-01    2115.0
2014-04-02    3622.0
2014-04-03    2341.0
2014-04-04    2741.0
2014-04-05    2145.0
2014-04-06    2795.0
2014-04-07    3634.0
2014-04-08    1976.0
2014-04-09    1668.0
2014-04-10    1480.0
2014-04-11    1603.0
2014-04-12    3307.0
2014-04-13    2498.0
2014-04-14    1918.0
2014-04-15    3156.0
2014-04-16    3583.0
2014-04-17    3299.0
2014-04-18    1593.0
2014-04-19    2020.0
2014-04-20    1985.0
2014-04-21    1363.0
2014-04-22    2267.0
2014-04-23    2385.0
2014-04-24    2901.0
2014-04-25    1666.0
2014-04-26    1834.0
2014-04-27    1685.0
2014-04-28     291.0
2014-04-30     792.0
2014-05-01    2350.0
2014-05-02    2817.0
2014-05-03    1905.0
2014-05-04    1542.0
2014-05-05    1655.0
2014-05-06    1780.0
2014-05-07    2172.0
2014-05-08    1241.0
Name: value, dtype: float64
time
2014-04-02    2183.0
2014-04-03    1492.0
2014-04-04    1984.0
2014-04-05    2763.0
2014-04-06    7124.0
2014-04-07    7327.0
2014-04-08    6851.0
2014-04-09    3194.0
2014-04-10    3480.0
2014-04-11    3173.0
2014-04-12     150.0
2014-04-13    3855.0
2014-04-14    5301.0
2014-04-15    3903.0
2014-04-16    5169.0
2014-04-17    2655.0
2014-04-18    4634.0
2014-04-19    4295.0
2014-04-20    1608.0
2014-04-21    2052.0
2014-04-22    3922.0
2014-04-23    4083.0
2014-04-24    3170.0
2014-04-25     129.0
2014-04-26    5209.0
2014-04-27    4956.0
2014-04-28    2525.0
2014-04-29    3099.0
2014-04-30    4139.0
2014-05-01    1089.0
2014-05-02     302.0
2014-05-03     120.0
2014-05-04     902.0
2014-05-05    2064.0
2014-05-06    3593.0
2014-05-07    1124.0
2014-05-08    3146.0
2014-05-09    4079.0
2014-05-10    7162.0
2014-05-11    5470.0
2014-05-12    5361.0
2014-05-13    7133.0
2014-05-14     135.0
Name: value, dtype: float64
time
2014-03-20      48.0
2014-03-22       3.0
2014-03-24     228.0
2014-03-25     523.0
2014-03-26     347.0
2014-03-27     251.0
2014-03-30     327.0
2014-04-02     789.0
2014-04-04     364.0
2014-04-06     437.0
2014-04-07     575.0
2014-04-08       4.0
2014-04-09    1008.0
2014-04-10     331.0
2014-04-12     105.0
2014-04-15     136.0
2014-04-17     320.0
2014-04-18      15.0
2014-04-19      35.0
2014-04-20      13.0
2014-04-21    1074.0
2014-04-23      83.0
2014-04-24      83.0
2014-04-25      60.0
2014-04-26     460.0
2014-04-27     933.0
2014-04-28     399.0
2014-04-29     132.0
Name: value, dtype: float64
time
2014-04-02     129.0
2014-04-03    1084.0
2014-04-04     828.0
2014-04-05    2323.0
2014-04-06    1004.0
2014-04-07     657.0
2014-04-08     756.0
2014-04-09     922.0
2014-04-10     770.0
2014-04-11    1187.0
2014-04-12    1256.0
2014-04-13     762.0
2014-04-14      39.0
2014-04-15    1090.0
2014-04-16     850.0
2014-04-17     948.0
2014-04-18     558.0
2014-04-19    1525.0
2014-04-20    1124.0
2014-04-21     844.0
2014-04-22     750.0
2014-04-23     811.0
2014-04-24     642.0
2014-04-25     584.0
2014-04-26     481.0
2014-04-27    2417.0
2014-04-28    1771.0
2014-04-29    1748.0
2014-04-30    2421.0
2014-05-01     744.0
2014-05-02     535.0
2014-05-03     485.0
2014-05-04    2223.0
2014-05-05    1162.0
2014-05-06     378.0
2014-05-07     128.0
2014-05-08     533.0
2014-05-09    1155.0
2014-05-10     837.0
2014-05-11     946.0
2014-05-12     741.0
2014-05-13     845.0
2014-05-14     465.0
Name: value, dtype: float64
time
2014-03-20     808.0
2014-03-21    4508.0
2014-03-22     440.0
2014-03-23     901.0
2014-03-24    3224.0
2014-03-25    1919.0
2014-03-26    4592.0
2014-03-27     935.0
2014-03-28     513.0
2014-03-29     473.0
2014-03-30     168.0
2014-03-31    1351.0
2014-04-01    5040.0
2014-04-02    3429.0
2014-04-03    3154.0
2014-04-04    2086.0
2014-04-05     363.0
2014-04-06     321.0
2014-04-07    1475.0
2014-04-08    2655.0
2014-04-09    2826.0
2014-04-10    1175.0
2014-04-11     597.0
2014-04-12     264.0
2014-04-13      35.0
2014-04-14    2922.0
2014-04-15    4428.0
2014-04-16    1913.0
2014-04-17    2107.0
2014-04-18    1994.0
2014-04-19     397.0
2014-04-20    2238.0
2014-04-21     429.0
2014-04-22    1423.0
2014-04-23     527.0
2014-04-24    2689.0
2014-04-25    2228.0
2014-04-26    2368.0
2014-04-27      27.0
2014-04-28    2424.0
2014-04-29     411.0
2014-04-30      89.0
2014-05-01    4919.0
2014-05-02     771.0
2014-05-03     206.0
2014-05-04     495.0
2014-05-05      25.0
Name: value, dtype: float64
time
2014-04-16    4202.0
2014-04-17    6420.0
2014-04-18    6282.0
2014-04-19    3960.0
2014-04-20    7490.0
2014-04-21    9143.0
2014-04-22    7712.0
2014-04-23    4779.0
2014-04-24    3688.0
2014-04-25    2758.0
2014-04-26    3123.0
2014-04-27    8265.0
2014-04-28    7013.0
2014-04-29    6191.0
2014-04-30    4924.0
2014-05-01    4261.0
2014-05-03     510.0
2014-05-04    2000.0
2014-05-05    5646.0
2014-05-06    6230.0
2014-05-07    2265.0
2014-05-08    6022.0
2014-05-09    7554.0
2014-05-10    2596.0
2014-05-11    4155.0
2014-05-12    4038.0
2014-05-13    3313.0
2014-05-14    3755.0
2014-05-15    7101.0
2014-05-16    2754.0
2014-05-17    3827.0
2014-05-18    8659.0
2014-05-19    3251.0
2014-05-20    5741.0
2014-05-21    6093.0
2014-05-22    1932.0
2014-05-23    6441.0
2014-05-24    5702.0
2014-05-25    2869.0
2014-05-26    5441.0
2014-05-27    2010.0
2014-05-28    5361.0
2014-05-29    1790.0
2014-05-30    3166.0
Name: value, dtype: float64

time
2014-03-24     292.0
2014-03-25     875.0
2014-03-26    3144.0
2014-03-27    1082.0
2014-03-28    3417.0
2014-03-29    1258.0
2014-03-30    2072.0
2014-03-31    2700.0
2014-04-01    2224.0
2014-04-02    2846.0
2014-04-03    1876.0
2014-04-04    2963.0
2014-04-05    2637.0
2014-04-06    3043.0
2014-04-07    2275.0
2014-04-08    1513.0
2014-04-09    3642.0
2014-04-10    3132.0
2014-04-11    3226.0
2014-04-12    1145.0
2014-04-13    2150.0
2014-04-14     701.0
2014-04-15    2801.0
2014-04-16    3612.0
2014-04-17    2762.0
2014-04-18     913.0
2014-04-19     189.0
2014-04-20    2966.0
2014-04-21    2282.0
2014-04-22    1463.0
2014-04-23    2549.0
2014-04-24     958.0
2014-04-25    3204.0
2014-04-26     712.0
2014-04-27     708.0
2014-04-28    1574.0
2014-04-29    4444.0
2014-04-30    1605.0
2014-05-01    1207.0
2014-05-02    2691.0
2014-05-03     495.0
2014-05-04    1431.0
2014-05-05    2003.0
2014-05-06    3126.0
2014-05-07    2162.0
2014-05-08      64.0
Name: value, dtype: float64
time
2014-03-21    1412.0
2014-03-22    1862.0
2014-03-23    1349.0
2014-03-24     951.0
2014-03-25    1173.0
2014-03-26    1056.0
2014-03-27    1624.0
2014-03-28    1189.0
2014-03-29     821.0
2014-04-01      32.0
2014-04-02      72.0
2014-04-03      47.0
2014-04-05      79.0
2014-04-06     110.0
2014-04-07     134.0
2014-04-09      13.0
2014-04-10      29.0
2014-04-11      66.0
2014-04-15      15.0
2014-04-17      18.0
2014-04-21      18.0
2014-04-22     199.0
2014-04-23      14.0
2014-05-01     180.0
2014-05-03      21.0
2014-05-04      31.0
Name: value, dtype: float64
time
2014-03-29     50.0
2014-03-30    156.0
2014-04-02     14.0
2014-04-04    236.0
2014-04-11    428.0
2014-04-14    109.0
2014-04-17     63.0
2014-04-21    171.0
2014-04-24     12.0
2014-05-03     14.0
2014-05-06     55.0
Name: value, dtype: float64
time
2014-03-20     778.0
2014-03-21    1685.0
2014-03-22    1904.0
2014-03-23    3175.0
2014-03-24    3555.0
2014-03-25    2113.0
2014-03-26    3180.0
2014-03-27    3884.0
2014-03-28    2055.0
2014-03-29    1725.0
2014-03-30    2184.0
2014-03-31    1009.0
2014-04-01    1174.0
2014-04-02     708.0
2014-04-03    2945.0
2014-04-04    1456.0
2014-04-05    1252.0
2014-04-06    1087.0
2014-04-07     981.0
2014-04-08    1366.0
2014-04-09    1530.0
2014-04-10    1415.0
2014-04-11    1847.0
2014-04-12    1788.0
2014-04-13    1547.0
2014-04-14    1606.0
2014-04-15    1677.0
2014-04-16    1122.0
2014-04-17    1798.0
2014-04-18    3109.0
2014-04-19    2179.0
2014-04-20    1296.0
2014-04-21    2297.0
2014-04-22    1348.0
2014-04-23    2001.0
2014-04-24    2691.0
2014-04-25    1301.0
2014-04-26    1518.0
2014-04-27     957.0
2014-04-28    2239.0
2014-04-29    1227.0
2014-04-30    1822.0
2014-05-01    1568.0
2014-05-02    1738.0
2014-05-03    1146.0
2014-05-04    1005.0
Name: value, dtype: float64
time
2014-03-27    4394.0
2014-03-28    3569.0
2014-03-29    1167.0
2014-03-30     915.0
2014-03-31     940.0
2014-04-01    3253.0
2014-04-02    2587.0
2014-04-03    4213.0
2014-04-04    2332.0
2014-04-05    2087.0
2014-04-06    1062.0
2014-04-07    2723.0
2014-04-08    3366.0
2014-04-09    3971.0
2014-04-10    4961.0
2014-04-11    2574.0
2014-04-12    2253.0
2014-04-13    4091.0
2014-04-14    3227.0
2014-04-15    3180.0
2014-04-16    1829.0
2014-04-17    3914.0
2014-04-18    3149.0
2014-04-19    2463.0
2014-04-20    4599.0
2014-04-21    1880.0
2014-04-22    5209.0
2014-04-23    3132.0
2014-04-24    3729.0
2014-04-25    1831.0
2014-04-26    1014.0
2014-04-27    1675.0
2014-04-28    1724.0
2014-04-29    3698.0
2014-04-30    2048.0
2014-05-01    3774.0
2014-05-02    5043.0
2014-05-03    2206.0
2014-05-04    4639.0
2014-05-05     518.0
Name: value, dtype: float64
time
2014-04-10    13.0
2014-04-14    41.0
2014-04-26    19.0
2014-04-28     8.0
Name: value, dtype: float64
time
2014-03-20     938.0
2014-03-21    1628.0
2014-03-22    1356.0
2014-03-23    1554.0
2014-03-24    1275.0
2014-03-25    1374.0
2014-03-26    1469.0
2014-03-27    1501.0
2014-03-28    1161.0
2014-03-29    2533.0
2014-03-30     112.0
2014-03-31    2770.0
2014-04-01    1113.0
2014-04-02    1460.0
2014-04-03    1450.0
2014-04-04    1153.0
2014-04-05     399.0
2014-04-06     538.0
2014-04-07    1231.0
2014-04-08    1394.0
2014-04-09     813.0
2014-04-10    1934.0
2014-04-11    1437.0
2014-04-12    1098.0
2014-04-13    2574.0
2014-04-14     320.0
2014-04-15    1506.0
2014-04-16    1023.0
2014-04-17    1492.0
2014-04-18      54.0
2014-04-19     266.0
2014-04-20    2371.0
2014-04-21     390.0
2014-04-22    1562.0
2014-04-23    1198.0
2014-04-24    2005.0
2014-04-25     333.0
2014-04-26     125.0
2014-04-27    2141.0
2014-04-28     770.0
2014-04-29    1063.0
2014-04-30     759.0
2014-05-01      78.0
2014-05-02     715.0
2014-05-03    1463.0
2014-05-04     189.0
2014-05-05     767.0
Name: value, dtype: float64
time
2014-03-14      29.0
2014-03-16     182.0
2014-03-17     103.0
2014-03-18     212.0
2014-03-19      48.0
2014-03-20     132.0
2014-03-21     388.0
2014-03-22     409.0
2014-03-23     172.0
2014-03-24     233.0
2014-03-25     148.0
2014-03-26    1562.0
2014-03-27      81.0
2014-03-28    2717.0
2014-03-29     524.0
2014-03-30     323.0
2014-03-31    2039.0
2014-04-01     191.0
2014-04-02     318.0
2014-04-03     122.0
2014-04-04     141.0
2014-04-05     259.0
2014-04-06     392.0
2014-04-07    2008.0
2014-04-08     636.0
2014-04-09     294.0
2014-04-10     567.0
2014-04-11     320.0
2014-04-12     157.0
2014-04-13     123.0
2014-04-14      57.0
2014-04-15      25.0
2014-04-22     107.0
Name: value, dtype: float64
time
2014-03-18     221.0
2014-03-19     942.0
2014-03-20    1086.0
2014-03-21    1860.0
2014-03-22    1286.0
2014-03-23     767.0
2014-03-24     534.0
2014-03-25    1495.0
2014-03-26     671.0
2014-03-27    2252.0
2014-03-28    1918.0
2014-03-29    1480.0
2014-03-30    1261.0
2014-03-31    2315.0
2014-04-01    1064.0
2014-04-02     947.0
2014-04-03     708.0
2014-04-04    1313.0
2014-04-05    1239.0
2014-04-06    1596.0
2014-04-07    4002.0
2014-04-08     534.0
2014-04-09     638.0
2014-04-10    1690.0
2014-04-11      90.0
2014-04-12    1575.0
2014-04-13    1396.0
2014-04-14     315.0
2014-04-15    1465.0
2014-04-16    1016.0
2014-04-17     963.0
2014-04-18     644.0
2014-04-19     385.0
2014-04-20     850.0
2014-04-21    2632.0
2014-04-22     118.0
2014-04-23    1399.0
2014-04-24     215.0
2014-04-25     868.0
2014-04-26     939.0
2014-04-27    1833.0
2014-04-28    1640.0
2014-04-29     872.0
2014-04-30     419.0
2014-05-01     817.0
2014-05-02     828.0
2014-05-03     872.0
2014-05-04     252.0
Name: value, dtype: float64
time
2014-03-13     201.0
2014-03-14     862.0
2014-03-15     582.0
2014-03-16     469.0
2014-03-17    6974.0
2014-03-18     403.0
2014-03-19     655.0
2014-03-20     669.0
2014-03-21    1085.0
2014-03-22     453.0
2014-03-23    1613.0
2014-03-24    1700.0
2014-03-25     441.0
2014-03-26     414.0
2014-03-27    2145.0
2014-03-28     706.0
2014-03-29     446.0
2014-03-30     507.0
2014-03-31     457.0
2014-04-01     974.0
2014-04-02     208.0
2014-04-03     759.0
2014-04-04    1643.0
2014-04-05     634.0
2014-04-06     533.0
2014-04-07    1248.0
2014-04-08    1079.0
2014-04-09    1991.0
2014-04-10     877.0
2014-04-11     990.0
2014-04-12     519.0
2014-04-13    2874.0
2014-04-14    1122.0
2014-04-15     712.0
2014-04-16     596.0
2014-04-17     676.0
2014-04-18     679.0
2014-04-19    1092.0
2014-04-20    5885.0
2014-04-21     906.0
2014-04-22     843.0
2014-04-23     436.0
2014-04-24     555.0
2014-04-25     813.0
2014-04-26     238.0
2014-04-27     701.0
2014-04-28     462.0
2014-04-29     694.0
2014-04-30     523.0
2014-05-01     443.0
2014-05-02     436.0
2014-05-03     437.0
2014-05-04     681.0
2014-05-05     204.0
Name: value, dtype: float64
time
2014-04-01      13.0
2014-04-04      61.0
2014-04-05     199.0
2014-04-06     189.0
2014-04-08      49.0
2014-04-10     338.0
2014-04-12      92.0
2014-04-13     476.0
2014-04-16     363.0
2014-04-18     160.0
2014-04-19     187.0
2014-04-22     595.0
2014-04-23     106.0
2014-04-24     112.0
2014-04-25     350.0
2014-04-27     403.0
2014-05-04     430.0
2014-05-05     342.0
2014-05-07       1.0
2014-05-10    1881.0
Name: value, dtype: float64
time
2014-03-14     469.0
2014-03-15     684.0
2014-03-28     345.0
2014-04-01     357.0
2014-04-02     309.0
2014-04-03     645.0
2014-04-04     238.0
2014-04-06       6.0
2014-04-09       7.0
2014-04-10     258.0
2014-04-11      73.0
2014-04-12     767.0
2014-04-13     199.0
2014-04-14    1141.0
2014-04-15    1562.0
2014-04-16     463.0
2014-04-17     834.0
2014-04-18     882.0
2014-04-19     904.0
2014-04-20    1471.0
2014-04-21     648.0
2014-04-22    1452.0
2014-04-23     888.0
2014-04-24     544.0
2014-04-25    1262.0
2014-04-26     710.0
2014-04-27     523.0
2014-04-28     573.0
2014-04-29    2347.0
2014-04-30     345.0
2014-05-01     495.0
2014-05-02     893.0
2014-05-03     718.0
2014-05-04      72.0
Name: value, dtype: float64

time
2014-03-22    123.0
2014-03-23     18.0
2014-03-24    903.0
2014-03-25    123.0
2014-03-26    319.0
2014-03-27    502.0
2014-03-28    294.0
2014-03-29    189.0
2014-03-30    492.0
2014-03-31     10.0
2014-04-01    107.0
2014-04-02     34.0
2014-04-03    210.0
2014-04-04    166.0
2014-04-05    109.0
2014-04-06    260.0
2014-04-07    301.0
2014-04-08     34.0
2014-04-09     28.0
2014-04-10    196.0
2014-04-18     38.0
2014-04-19     36.0
2014-04-20    268.0
2014-04-22     26.0
2014-04-23     28.0
2014-04-26      8.0
Name: value, dtype: float64
time
2014-03-22      662.0
2014-03-23    26909.0
2014-03-24     1271.0
2014-03-26      146.0
2014-03-27       15.0
2014-03-29       97.0
2014-03-30      523.0
2014-03-31      278.0
2014-04-01      201.0
2014-04-02       35.0
2014-04-03       51.0
2014-04-04       28.0
2014-04-06      200.0
2014-04-07      258.0
2014-04-08      771.0
2014-04-09       89.0
2014-04-10      669.0
2014-04-11       24.0
2014-04-12      143.0
2014-04-13       11.0
2014-04-14       50.0
2014-04-15       11.0
2014-04-16      528.0
2014-04-17       84.0
2014-04-18      165.0
2014-04-20      598.0
2014-04-21       43.0
2014-04-22       35.0
2014-04-24      995.0
2014-04-25     1297.0
2014-04-26       41.0
2014-04-27      104.0
2014-04-28      489.0
2014-04-29      314.0
2014-04-30     1460.0
2014-05-01      437.0
2014-05-03      128.0
2014-05-04       21.0
Name: value, dtype: float64
time
2014-03-15    103.0
2014-03-17    216.0
2014-03-20     70.0
2014-03-21    125.0
2014-03-22     15.0
2014-03-23    191.0
2014-03-24     82.0
2014-03-25    161.0
2014-03-26    221.0
2014-03-29     94.0
2014-04-01     48.0
2014-04-02      1.0
2014-04-03     41.0
2014-04-04    302.0
2014-04-05     20.0
2014-04-06    124.0
2014-04-07    120.0
2014-04-10    222.0
2014-04-11    110.0
2014-04-13     46.0
2014-04-14      6.0
2014-04-15     35.0
2014-04-16     91.0
2014-04-17     14.0
2014-04-18    187.0
2014-04-21     33.0
2014-04-22    101.0
2014-04-23     18.0
2014-04-25     22.0
2014-04-28    168.0
2014-04-29     64.0
2014-05-02    139.0
2014-05-03    531.0
2014-05-04    177.0
Name: value, dtype: float64

In [41]:
# calculate travel app time per day by each user
for id_val in ids:
    filtered_df = df[(df['id'] == id_val) & (df['variable'] == 'appCat.travel')]

    # # Group by 'time' and calculate the average of 'value'
    average_df = round(df.groupby(filtered_df['time'].dt.date)['value'].sum())
    print(average_df)

time
2014-03-31    238.0
2014-04-27    259.0
2014-04-28     62.0
Name: value, dtype: float64
time
2014-04-08      69.0
2014-04-09     131.0
2014-04-10      94.0
2014-04-15      86.0
2014-04-16      22.0
2014-04-17     185.0
2014-04-18     157.0
2014-04-20      37.0
2014-04-21     710.0
2014-04-22      45.0
2014-04-24     629.0
2014-04-28      45.0
2014-04-29      15.0
2014-04-30     143.0
2014-05-01     208.0
2014-05-02     388.0
2014-05-04    1344.0
2014-05-06     114.0
2014-05-08     104.0
Name: value, dtype: float64
time
2014-04-15     78.0
2014-04-16    114.0
2014-04-25     58.0
2014-04-26    292.0
2014-05-08     34.0
2014-05-14     23.0
2014-05-28    544.0
2014-06-05    226.0
Name: value, dtype: float64
time
2014-04-05     51.0
2014-04-20    143.0
2014-04-24    191.0
2014-04-25    203.0
2014-04-26    183.0
2014-04-30     47.0
2014-05-02     90.0
Name: value, dtype: float64
time
2014-03-14    2862.0
2014-03-17     236.0
2014-03-21      47.0
2014-03-25     551.0
2014-03-27     290.0
2014-03-28     263.0
2014-04-06     283.0
2014-04-19      15.0
2014-04-21      44.0
2014-04-23      71.0
2014-04-26     226.0
2014-04-27     276.0
2014-04-28     166.0
2014-04-29     496.0
2014-04-30     243.0
2014-05-01     269.0
2014-05-02     244.0
Name: value, dtype: float64
time
2014-04-17    108.0
2014-04-25    137.0
2014-04-26    119.0
2014-04-27     97.0
2014-05-02     72.0
2014-05-11     71.0
2014-05-15     70.0
2014-05-17     54.0
2014-05-20    107.0
2014-05-23     54.0
2014-05-24    162.0
2014-05-25     73.0
2014-05-28    137.0
Name: value, dtype: float64
time
2014-04-01     350.0
2014-04-02     160.0
2014-04-03     153.0
2014-04-04     236.0
2014-04-07     305.0
2014-04-08     121.0
2014-04-10     692.0
2014-04-11    1441.0
2014-04-14       7.0
2014-04-18     143.0
2014-04-19     202.0
2014-04-21     172.0
2014-04-22     186.0
2014-04-23     169.0
2014-04-25      90.0
2014-04-26     129.0
2014-04-27     182.0
2014-04-28      82.0
2014-05-01      83.0
2014-05-02      30.0
2014-05-04     119.0
2014-05-05      48.0
2014-05-06      28.0
2014-05-07     160.0
Name: value, dtype: float64
time
2014-04-03     91.0
2014-04-04    778.0
2014-04-05    317.0
2014-04-08    183.0
2014-04-12    138.0
2014-04-13    178.0
2014-04-16    411.0
2014-04-17     69.0
2014-04-18     65.0
2014-04-19     30.0
2014-04-22    676.0
2014-04-23    419.0
2014-04-24    554.0
2014-04-25    221.0
2014-04-26     47.0
2014-04-28    458.0
2014-04-29     36.0
2014-04-30     51.0
2014-05-02    158.0
2014-05-05    333.0
2014-05-11     54.0
2014-05-12     21.0
Name: value, dtype: float64
time
2014-04-02    93.0
Name: value, dtype: float64
time
2014-04-04     106.0
2014-04-06     116.0
2014-04-07      58.0
2014-04-08     181.0
2014-04-09     187.0
2014-04-10     120.0
2014-04-15     294.0
2014-04-16    2054.0
2014-04-17    2644.0
2014-04-18     207.0
2014-04-21     202.0
2014-04-22    1105.0
2014-04-23      80.0
2014-04-24     324.0
2014-04-26     684.0
2014-04-27      80.0
2014-04-28     762.0
2014-05-01     314.0
2014-05-03     214.0
2014-05-10      29.0
Name: value, dtype: float64
time
2014-03-21     915.0
2014-03-22      37.0
2014-03-24     420.0
2014-03-27      47.0
2014-03-28    1133.0
2014-03-29      52.0
2014-03-31     183.0
2014-04-01    1615.0
2014-04-03      19.0
2014-04-04     158.0
2014-04-05     188.0
2014-04-07      60.0
2014-04-11      34.0
2014-04-12       5.0
2014-04-14      29.0
2014-04-15       8.0
2014-04-18      64.0
2014-04-19     129.0
2014-04-21      68.0
2014-04-24      51.0
2014-04-25      63.0
2014-04-26     471.0
2014-04-29      42.0
2014-04-30     273.0
2014-05-03     144.0
Name: value, dtype: float64
time
2014-04-21       3.0
2014-04-22      52.0
2014-04-24      51.0
2014-04-25      36.0
2014-04-29     144.0
2014-04-30     219.0
2014-05-01     205.0
2014-05-04     130.0
2014-05-05      75.0
2014-05-06     185.0
2014-05-07       2.0
2014-05-08     359.0
2014-05-09       0.0
2014-05-10      39.0
2014-05-11       4.0
2014-05-13       6.0
2014-05-15     228.0
2014-05-29       1.0
2014-05-30    1053.0
Name: value, dtype: float64
time
2014-03-26    564.0
2014-03-28     80.0
2014-04-02     22.0
2014-04-03    168.0
2014-04-04    550.0
2014-04-05    120.0
2014-04-07     37.0
2014-04-08      4.0
2014-04-09    248.0
2014-04-10    891.0
2014-04-11    101.0
2014-04-12     71.0
2014-04-13    405.0
2014-04-15     18.0
2014-04-16     81.0
2014-04-17     37.0
2014-04-18    332.0
2014-04-19    116.0
2014-04-21    143.0
2014-04-22    231.0
2014-04-23    192.0
2014-04-24    208.0
2014-04-25    255.0
2014-04-26    924.0
2014-04-27    167.0
2014-04-30     64.0
2014-05-01    277.0
2014-05-02    263.0
2014-05-04      4.0
2014-05-05     56.0
2014-05-06     41.0
2014-05-07     24.0
Name: value, dtype: float64
time
2014-03-21      64.0
2014-03-24     210.0
2014-03-25    1470.0
2014-03-26     104.0
2014-03-27       1.0
2014-04-23      47.0
2014-04-24      94.0
Name: value, dtype: float64
time
2014-03-18     95.0
2014-03-26     62.0
2014-04-14    195.0
2014-04-18    104.0
2014-05-06     23.0
Name: value, dtype: float64
time
2014-03-28     27.0
2014-03-30    258.0
2014-03-31     51.0
2014-04-01     28.0
2014-04-03      2.0
2014-04-04     74.0
2014-04-07    164.0
2014-04-08      3.0
2014-04-10     78.0
2014-04-15     51.0
2014-04-25    131.0
2014-04-28     77.0
2014-04-29    130.0
2014-04-30    143.0
2014-05-01    240.0
2014-05-02    172.0
Name: value, dtype: float64
time
2014-03-29     101.0
2014-03-31     772.0
2014-04-01      68.0
2014-04-02      26.0
2014-04-03     374.0
2014-04-04    1689.0
2014-04-05     214.0
2014-04-06     346.0
2014-04-07     249.0
2014-04-08     117.0
2014-04-09      66.0
2014-04-11     232.0
2014-04-12     597.0
2014-04-13     156.0
2014-04-16     129.0
2014-04-17     262.0
2014-04-18     476.0
2014-04-19      93.0
2014-04-20     431.0
2014-04-21      83.0
2014-04-22    1367.0
2014-04-23     257.0
2014-04-24     660.0
2014-04-25     782.0
2014-04-26     762.0
2014-04-27    1366.0
2014-04-28     128.0
2014-04-30     476.0
2014-05-01     285.0
2014-05-02     246.0
2014-05-03       1.0
Name: value, dtype: float64
time
2014-03-22    169.0
2014-03-23    275.0
2014-03-26     13.0
2014-04-02     54.0
2014-04-05     20.0
2014-04-19     69.0
2014-04-20     27.0
2014-04-21    167.0
2014-04-27    541.0
2014-05-01    112.0
2014-05-02     50.0
2014-05-03     73.0
2014-05-05    130.0
Name: value, dtype: float64
time
2014-03-22       65.0
2014-03-23      135.0
2014-03-24      690.0
2014-03-27      263.0
2014-03-28      330.0
2014-03-29      195.0
2014-03-30       60.0
2014-03-31     8195.0
2014-04-01      138.0
2014-04-02      151.0
2014-04-03      128.0
2014-04-05       16.0
2014-04-08      283.0
2014-04-09      266.0
2014-04-10      173.0
2014-04-11      141.0
2014-04-13      206.0
2014-04-14      271.0
2014-04-15       83.0
2014-04-16      196.0
2014-04-20      783.0
2014-04-21       19.0
2014-04-22       72.0
2014-04-23      468.0
2014-04-24      289.0
2014-04-25     1116.0
2014-04-27       27.0
2014-04-28      826.0
2014-04-29     1709.0
2014-04-30      392.0
2014-05-02      917.0
2014-05-03    10548.0
2014-05-05      229.0
Name: value, dtype: float64
time
2014-03-15     126.0
2014-03-19     567.0
2014-03-21     442.0
2014-03-22     781.0
2014-03-23    1263.0
2014-03-29     502.0
2014-04-01     345.0
2014-04-03     318.0
2014-04-05     388.0
2014-04-10     525.0
2014-04-11     631.0
2014-04-12     362.0
2014-04-13     160.0
Name: value, dtype: float64
time
2014-03-19    146.0
2014-03-21    165.0
2014-03-22    614.0
2014-03-24     58.0
2014-03-25    131.0
2014-03-26    204.0
2014-03-27     52.0
2014-03-28    647.0
2014-03-29    308.0
2014-03-30    266.0
2014-03-31    208.0
2014-04-02    711.0
2014-04-03    265.0
2014-04-04     51.0
2014-04-05    149.0
2014-04-10     22.0
2014-04-11    255.0
2014-04-12    478.0
2014-04-16     33.0
2014-04-21    735.0
2014-04-23     81.0
2014-04-28      1.0
Name: value, dtype: float64
time
2014-03-14    1277.0
2014-03-22      90.0
2014-03-23     323.0
2014-04-17    1115.0
Name: value, dtype: float64
time
2014-04-03    319.0
2014-04-06    244.0
2014-04-07     90.0
2014-04-09     86.0
2014-04-11    114.0
2014-04-13     33.0
2014-04-14     32.0
2014-04-16    244.0
2014-04-17    149.0
2014-04-18    100.0
2014-04-22    169.0
2014-04-23    179.0
2014-04-24     24.0
2014-04-25    133.0
2014-04-28     70.0
2014-04-30    103.0
2014-05-02     90.0
2014-05-07    114.0
2014-05-09    576.0
2014-05-10    667.0
Name: value, dtype: float64
time
2014-04-21    5.0
Name: value, dtype: float64
time
2014-03-22     193.0
2014-03-23     194.0
2014-03-24     251.0
2014-03-25      32.0
2014-03-27       1.0
2014-03-28     984.0
2014-03-29     158.0
2014-03-31     576.0
2014-04-01     137.0
2014-04-03    1509.0
2014-04-04     275.0
2014-04-07     348.0
2014-04-08     390.0
2014-04-09      26.0
2014-04-11     599.0
2014-04-13     411.0
2014-04-14      78.0
2014-04-17      43.0
2014-04-18      22.0
2014-04-19     475.0
2014-04-20      61.0
2014-04-24       4.0
Name: value, dtype: float64

time
2014-03-24      39.0
2014-03-25     180.0
2014-03-26      22.0
2014-03-27      42.0
2014-03-28       6.0
2014-03-29      56.0
2014-03-31      34.0
2014-04-01     360.0
2014-04-02    1205.0
2014-04-03     153.0
2014-04-04      55.0
2014-04-06      72.0
2014-04-07     668.0
2014-04-08     128.0
2014-04-11     818.0
2014-04-12     136.0
2014-04-14     173.0
2014-04-15     156.0
2014-04-16     313.0
2014-04-17      62.0
2014-04-18       6.0
2014-04-22     126.0
2014-04-23       5.0
2014-04-24      70.0
2014-04-26     123.0
2014-04-27      54.0
2014-04-28      94.0
2014-05-01      92.0
2014-05-02     289.0
Name: value, dtype: float64
time
2014-04-01     41.0
2014-04-04     10.0
2014-05-02    125.0
Name: value, dtype: float64

In [42]:
# calculate unknown app time
for id_val in ids:
    filtered_df = df[(df['id'] == id_val) & (df['variable'] == 'appCat.unknown')]

    # # Group by 'time' and calculate the average of 'value'
    average_df = round(df.groupby(filtered_df['time'].dt.date)['value'].sum())
    print(average_df)

time
2014-03-26     2.0
2014-03-27    67.0
2014-03-28     4.0
2014-04-01     9.0
2014-04-14    42.0
2014-04-15    13.0
2014-04-19     9.0
2014-05-01     3.0
2014-05-02     3.0
Name: value, dtype: float64
time
2014-04-27      50.0
2014-05-06    2403.0
Name: value, dtype: float64
time
2014-04-21     46.0
2014-04-30     24.0
2014-05-02      5.0
2014-05-03    167.0
2014-05-04    570.0
2014-05-05    157.0
2014-05-06    180.0
2014-05-10    339.0
2014-05-11     14.0
2014-05-23     34.0
Name: value, dtype: float64
time
2014-04-26    5.0
Name: value, dtype: float64
time
2014-03-16    142.0
2014-03-23     19.0
2014-04-01     14.0
2014-04-06    211.0
2014-04-14     57.0
2014-04-25    299.0
2014-05-01    143.0
Name: value, dtype: float64
time
2014-04-16    150.0
2014-04-22      2.0
2014-04-24    307.0
2014-05-02    424.0
2014-05-06    115.0
2014-05-07      3.0
2014-05-08    991.0
2014-05-09     98.0
2014-05-12    123.0
2014-05-13      2.0
2014-05-18    879.0
2014-05-20    104.0
2014-05-27     51.0
Name: value, dtype: float64
time
2014-04-04    11.0
2014-04-05     8.0
2014-04-06    21.0
2014-04-08    19.0
2014-04-12    50.0
2014-04-13    30.0
2014-04-17    22.0
2014-04-18     9.0
2014-04-19    18.0
2014-04-21    44.0
2014-04-23    16.0
2014-04-26    40.0
2014-04-27    24.0
2014-04-30    59.0
2014-05-01    38.0
2014-05-02    84.0
2014-05-03    47.0
2014-05-05    84.0
2014-05-06    32.0
2014-05-07    34.0
Name: value, dtype: float64
Series([], Name: value, dtype: float64)
time
2014-03-20     546.0
2014-03-22    1071.0
2014-03-23      22.0
2014-03-24     955.0
2014-03-25     222.0
2014-03-30     821.0
2014-04-17      39.0
2014-04-19       3.0
2014-04-27      60.0
Name: value, dtype: float64
Series([], Name: value, dtype: float64)
time
2014-03-20     45.0
2014-03-25    235.0
2014-03-30     66.0
2014-03-31     29.0
2014-04-26      3.0
2014-05-03     30.0
Name: value, dtype: float64
time
2014-04-16    27.0
2014-04-26     4.0
2014-05-15     2.0
2014-05-20     2.0
2014-05-30     8.0
Name: value, dtype: float64
time
2014-05-04    94.0
Name: value, dtype: float64
time
2014-03-28    14.0
Name: value, dtype: float64
time
2014-04-16    23.0
Name: value, dtype: float64
time
2014-03-20      29.0
2014-03-21      62.0
2014-03-22      72.0
2014-03-23      51.0
2014-03-24      15.0
2014-03-25      29.0
2014-03-26     136.0
2014-03-27     174.0
2014-03-28     286.0
2014-03-30      98.0
2014-03-31     186.0
2014-04-01     169.0
2014-04-02      11.0
2014-04-03     300.0
2014-04-04      71.0
2014-04-05     218.0
2014-04-06       4.0
2014-04-08       2.0
2014-04-09      18.0
2014-04-16     447.0
2014-04-17     120.0
2014-04-18      63.0
2014-04-19     180.0
2014-04-21    1399.0
2014-04-22     504.0
2014-04-25      91.0
2014-04-26     398.0
2014-04-28       7.0
2014-04-29     365.0
2014-04-30     252.0
2014-05-01     110.0
2014-05-02      11.0
Name: value, dtype: float64
time
2014-03-29    60.0
Name: value, dtype: float64
time
2014-03-24      11.0
2014-03-25      47.0
2014-03-26       8.0
2014-03-28      64.0
2014-03-30      35.0
2014-04-03      20.0
2014-04-04     316.0
2014-04-06      23.0
2014-04-07      83.0
2014-04-08      11.0
2014-04-09      50.0
2014-04-10    2240.0
2014-04-11      28.0
2014-04-12      21.0
2014-04-14      11.0
2014-04-15      12.0
2014-04-16      38.0
2014-04-17     101.0
2014-04-18      18.0
2014-04-20     225.0
2014-04-22      23.0
2014-04-23      24.0
2014-04-24      17.0
2014-04-25      55.0
2014-04-27      56.0
2014-04-28      16.0
2014-04-29      13.0
2014-04-30      42.0
2014-05-03      15.0
2014-05-04      41.0
2014-05-05     141.0
2014-05-06      12.0
2014-05-07      37.0
Name: value, dtype: float64
time
2014-04-08    207.0
Name: value, dtype: float64
Series([], Name: value, dtype: float64)
time
2014-03-18     59.0
2014-03-19    255.0
2014-03-22    114.0
2014-03-28    305.0
2014-04-04    151.0
2014-04-08    415.0
2014-04-12     72.0
2014-04-16     22.0
2014-04-20     84.0
2014-04-21     77.0
2014-04-23    413.0
2014-04-26    410.0
2014-04-27     54.0
2014-04-28    287.0
2014-04-29    185.0
2014-04-30    207.0
2014-05-01     99.0
2014-05-02    112.0
Name: value, dtype: float64
time
2014-03-14    180.0
2014-03-27    359.0
2014-03-28    168.0
2014-04-07      7.0
2014-04-19     22.0
2014-04-20     17.0
2014-05-03      6.0
2014-05-04    312.0
Name: value, dtype: float64
Series([], Name: value, dtype: float64)
time
2014-03-15    187.0
2014-03-16     55.0
2014-03-17      7.0
2014-03-18     28.0
2014-03-19     23.0
2014-03-24    100.0
2014-03-25    157.0
2014-03-26    124.0
2014-03-27    138.0
2014-03-29     33.0
2014-03-30     23.0
2014-03-31    256.0
2014-04-01     52.0
2014-04-02    176.0
2014-04-04    241.0
2014-04-05    118.0
2014-04-07     46.0
2014-04-08      7.0
2014-04-09     87.0
2014-04-12    149.0
2014-04-14    246.0
2014-04-15    220.0
2014-04-17     40.0
2014-04-18    193.0
2014-04-19    106.0
2014-04-20    180.0
2014-04-21     55.0
2014-04-22     98.0
2014-04-23    116.0
2014-04-24     49.0
2014-04-25    218.0
2014-04-26     16.0
2014-04-28    174.0
2014-04-29    175.0
2014-04-30    203.0
2014-05-02    120.0
2014-05-03    215.0
2014-05-04    110.0
Name: value, dtype: float64
time
2014-03-24    325.0
2014-03-27    112.0
2014-03-28     17.0
2014-04-01    730.0
2014-04-03     80.0
2014-04-06      4.0
2014-04-10     78.0
2014-04-11    153.0
2014-04-17    152.0
2014-04-21    108.0
2014-04-23     30.0
2014-04-25     71.0
Name: value, dtype: float64
time
2014-03-22    2822.0
2014-03-23     274.0
2014-03-24     281.0
2014-03-25     257.0
2014-03-26      85.0
2014-03-27     954.0
2014-03-29     124.0
2014-03-30     273.0
2014-03-31       7.0
2014-04-01     408.0
2014-04-02      38.0
2014-04-03     139.0
2014-04-05      14.0
2014-04-06      35.0
2014-04-07     136.0
2014-04-08      64.0
2014-04-11      72.0
2014-04-12     300.0
2014-04-13     146.0
2014-04-14     205.0
2014-04-17     156.0
2014-04-18      80.0
2014-04-19     194.0
2014-04-20      42.0
2014-04-21       8.0
2014-04-22       4.0
2014-04-23     877.0
2014-04-24      98.0
2014-04-25     142.0
2014-04-26      63.0
2014-04-27     120.0
2014-04-28      37.0
2014-04-29       0.0
2014-04-30      14.0
2014-05-01     204.0
Name: value, dtype: float64
time
2014-05-04    11.0
Name: value, dtype: float64

In [43]:
# calculate utilities app time
for id_val in ids:
    filtered_df = df[(df['id'] == id_val) & (df['variable'] == 'appCat.utilities')]

    # # Group by 'time' and calculate the average of 'value'
    average_df = round(df.groupby(filtered_df['time'].dt.date)['value'].sum())
    print(average_df)

time
2014-04-08    53.0
2014-04-25     4.0
Name: value, dtype: float64
time
2014-04-09    4.0
Name: value, dtype: float64
time
2014-04-15     7.0
2014-04-17     7.0
2014-04-18     4.0
2014-04-20     4.0
2014-04-21    37.0
2014-04-22    11.0
2014-04-23     4.0
2014-04-24    54.0
2014-04-25    80.0
2014-04-26     6.0
2014-04-28    23.0
2014-04-29    18.0
2014-04-30    12.0
2014-05-07    14.0
2014-05-08     3.0
2014-05-09     3.0
2014-05-10     3.0
2014-05-12    16.0
2014-05-13    22.0
2014-05-14    30.0
2014-05-16     5.0
2014-05-17    21.0
2014-05-21     4.0
2014-05-30     5.0
2014-06-02    33.0
2014-06-03    13.0
2014-06-06     2.0
Name: value, dtype: float64
time
2014-04-01      24.0
2014-04-02     142.0
2014-04-03      60.0
2014-04-04     208.0
2014-04-05     125.0
2014-04-06      40.0
2014-04-08     118.0
2014-04-09      63.0
2014-04-10     399.0
2014-04-11     946.0
2014-04-13     205.0
2014-04-14      21.0
2014-04-15     157.0
2014-04-16     143.0
2014-04-17     129.0
2014-04-18       8.0
2014-04-19      79.0
2014-04-20     249.0
2014-04-21     115.0
2014-04-22    1203.0
2014-04-23    1056.0
2014-04-24     560.0
2014-04-25     213.0
2014-04-26      80.0
2014-04-27     533.0
2014-04-28     257.0
2014-04-29     106.0
2014-04-30    2258.0
2014-05-01     294.0
2014-05-02     429.0
2014-05-03    1390.0
2014-05-17     120.0
Name: value, dtype: float64
time
2014-03-17     13.0
2014-03-25     25.0
2014-03-29     44.0
2014-04-08     25.0
2014-04-09    316.0
2014-04-27     70.0
Name: value, dtype: float64
time
2014-04-20    23.0
2014-04-21    22.0
2014-04-28    26.0
2014-05-09    30.0
2014-05-12    24.0
2014-05-15    24.0
2014-05-16    24.0
2014-05-18    26.0
2014-05-22    24.0
2014-05-24    23.0
2014-05-27    27.0
Name: value, dtype: float64
time
2014-03-31       6.0
2014-04-02     581.0
2014-04-04     164.0
2014-04-05     545.0
2014-04-09       6.0
2014-04-10       3.0
2014-04-11      13.0
2014-04-12     960.0
2014-04-13     154.0
2014-04-14     328.0
2014-04-15       2.0
2014-04-18    1304.0
2014-04-19    1162.0
2014-04-20     782.0
2014-04-21     256.0
2014-04-22      20.0
2014-04-24    1800.0
2014-04-25      10.0
2014-04-27     237.0
2014-04-28       7.0
2014-04-30      12.0
2014-05-02      26.0
2014-05-03     218.0
2014-05-04    1048.0
2014-05-05     454.0
2014-05-06      66.0
Name: value, dtype: float64
time
2014-04-02    14.0
2014-04-06    15.0
2014-04-09     2.0
2014-04-11     4.0
2014-04-17     3.0
2014-04-18     4.0
2014-04-22     8.0
2014-04-23    27.0
2014-04-25     3.0
2014-05-02     2.0
2014-05-10     3.0
2014-05-13    28.0
Name: value, dtype: float64
time
2014-03-25    89.0
Name: value, dtype: float64
time
2014-04-05    19.0
2014-04-10     1.0
2014-04-25     1.0
Name: value, dtype: float64
time
2014-03-20     21.0
2014-03-21    599.0
2014-03-22    118.0
2014-03-23     30.0
2014-03-24    179.0
2014-03-25    223.0
2014-03-26     33.0
2014-03-27    179.0
2014-03-28    302.0
2014-03-29    601.0
2014-03-30     38.0
2014-03-31    210.0
2014-04-01    518.0
2014-04-02    341.0
2014-04-03    183.0
2014-04-04    129.0
2014-04-05    119.0
2014-04-06     46.0
2014-04-07    206.0
2014-04-08     36.0
2014-04-09    577.0
2014-04-10    378.0
2014-04-11    215.0
2014-04-12    352.0
2014-04-14    986.0
2014-04-15    280.0
2014-04-16    224.0
2014-04-17     50.0
2014-04-18     89.0
2014-04-19    306.0
2014-04-20    121.0
2014-04-21    211.0
2014-04-22    423.0
2014-04-23    247.0
2014-04-24    716.0
2014-04-25    348.0
2014-04-26    316.0
2014-04-27     60.0
2014-04-28    380.0
2014-04-29    410.0
2014-04-30    112.0
2014-05-01    270.0
2014-05-02     11.0
2014-05-03    126.0
2014-05-05    264.0
Name: value, dtype: float64
time
2014-04-16    165.0
2014-04-17    283.0
2014-04-18    102.0
2014-04-19     84.0
2014-04-20      3.0
2014-04-21      4.0
2014-04-22     90.0
2014-04-24     91.0
2014-04-26     23.0
2014-04-27      5.0
2014-04-28    337.0
2014-04-29     98.0
2014-05-01    131.0
2014-05-02     80.0
2014-05-04     98.0
2014-05-06     15.0
2014-05-07      3.0
2014-05-08    105.0
2014-05-09     16.0
2014-05-10    175.0
2014-05-13     29.0
2014-05-15     35.0
2014-05-16     29.0
2014-05-18     11.0
2014-05-22      9.0
2014-05-25     97.0
2014-05-27     56.0
2014-05-28     31.0
2014-05-29      3.0
2014-05-30    233.0
Name: value, dtype: float64
Series([], Name: value, dtype: float64)
time
2014-03-22    12.0
Name: value, dtype: float64
time
2014-03-18    17.0
2014-03-28    48.0
Name: value, dtype: float64
time
2014-03-20     31.0
2014-03-21     87.0
2014-03-22     74.0
2014-03-23     76.0
2014-03-24     94.0
2014-03-25     58.0
2014-03-26     58.0
2014-03-27    181.0
2014-03-28     67.0
2014-03-29     63.0
2014-03-30     46.0
2014-03-31     42.0
2014-04-01     30.0
2014-04-02     14.0
2014-04-03     55.0
2014-04-04    122.0
2014-04-05     73.0
2014-04-06      2.0
2014-04-07     32.0
2014-04-08    175.0
2014-04-09     29.0
2014-04-10     68.0
2014-04-11     91.0
2014-04-12      8.0
2014-04-13     44.0
2014-04-14     56.0
2014-04-15     59.0
2014-04-16     27.0
2014-04-17     46.0
2014-04-18     14.0
2014-04-19     44.0
2014-04-20    113.0
2014-04-21     52.0
2014-04-22     96.0
2014-04-23     37.0
2014-04-24      9.0
2014-04-25     77.0
2014-04-27     19.0
2014-04-28     45.0
2014-04-29     88.0
2014-04-30    103.0
2014-05-01     48.0
2014-05-02    124.0
2014-05-03      9.0
Name: value, dtype: float64
time
2014-03-27     5.0
2014-03-28    14.0
2014-03-29     8.0
2014-03-30    15.0
2014-04-07    43.0
2014-04-09    17.0
2014-04-12    12.0
2014-04-13     5.0
2014-04-14    10.0
2014-04-15     5.0
2014-04-17     5.0
2014-04-18     4.0
2014-04-20     7.0
2014-04-21     3.0
2014-04-22     4.0
2014-04-25    36.0
2014-04-30     4.0
2014-05-01     5.0
2014-05-02     4.0
2014-05-03    23.0
Name: value, dtype: float64
time
2014-03-22     4.0
2014-03-24     5.0
2014-03-25    29.0
2014-03-27    17.0
2014-03-28     7.0
2014-03-31     5.0
2014-04-03    29.0
2014-04-11     5.0
2014-04-12     9.0
2014-04-14    17.0
2014-04-16     8.0
2014-04-17    31.0
2014-04-18     8.0
2014-04-21     5.0
2014-04-25    10.0
2014-04-28    13.0
2014-04-30    16.0
2014-05-01    12.0
2014-05-02    29.0
2014-05-03    11.0
2014-05-05     6.0
Name: value, dtype: float64
time
2014-03-22     17.0
2014-03-24     42.0
2014-03-25     10.0
2014-03-26     85.0
2014-03-31    105.0
2014-04-01      9.0
2014-04-02     71.0
2014-04-03     20.0
2014-04-08     16.0
2014-04-09      4.0
2014-04-11     57.0
2014-04-13     20.0
2014-04-16     28.0
2014-04-17      5.0
2014-04-18      5.0
2014-04-21      3.0
2014-04-25      8.0
2014-04-28      3.0
2014-04-30     35.0
2014-05-01     15.0
2014-05-03      9.0
2014-05-05     48.0
Name: value, dtype: float64
time
2014-03-27    67.0
2014-04-10     2.0
2014-04-12     7.0
2014-04-14    84.0
Name: value, dtype: float64
time
2014-03-21     31.0
2014-03-28     14.0
2014-04-04    363.0
2014-04-06      1.0
2014-04-09      6.0
2014-04-24      1.0
2014-04-28      7.0
Name: value, dtype: float64
time
2014-03-13     13.0
2014-03-14     20.0
2014-03-16     11.0
2014-03-19     18.0
2014-03-21     48.0
2014-03-22     16.0
2014-03-23     82.0
2014-03-24     11.0
2014-03-26     11.0
2014-03-27     24.0
2014-03-31     14.0
2014-04-01      3.0
2014-04-02     20.0
2014-04-03     51.0
2014-04-04      9.0
2014-04-05     17.0
2014-04-06     11.0
2014-04-08     31.0
2014-04-09      6.0
2014-04-10     48.0
2014-04-11      3.0
2014-04-13      5.0
2014-04-14     31.0
2014-04-16     33.0
2014-04-17      3.0
2014-04-19      7.0
2014-04-20     15.0
2014-04-21      6.0
2014-05-01    203.0
2014-05-02      3.0
2014-05-03     44.0
Name: value, dtype: float64
time
2014-04-04      5.0
2014-04-06     10.0
2014-04-11     13.0
2014-04-27    447.0
Name: value, dtype: float64
time
2014-03-14     29.0
2014-03-15     41.0
2014-03-16     28.0
2014-03-17     19.0
2014-03-18     58.0
2014-03-19     15.0
2014-03-22      7.0
2014-03-24    154.0
2014-03-25    495.0
2014-03-27     26.0
2014-03-28     17.0
2014-03-29     47.0
2014-03-30     96.0
2014-03-31     67.0
2014-04-01     19.0
2014-04-02     10.0
2014-04-04     23.0
2014-04-06     73.0
2014-04-07     32.0
2014-04-09      4.0
2014-04-10      4.0
2014-04-11      5.0
2014-04-12     38.0
2014-04-14     74.0
2014-04-15     11.0
2014-04-16     23.0
2014-04-17     40.0
2014-04-18      3.0
2014-04-19     14.0
2014-04-20    110.0
2014-04-21    215.0
2014-04-22     12.0
2014-04-24     10.0
2014-04-25     35.0
2014-04-26     72.0
2014-04-27     79.0
2014-04-28      3.0
2014-04-29     10.0
2014-04-30     10.0
2014-05-02     42.0
2014-05-03      9.0
2014-05-04     26.0
Name: value, dtype: float64
time
2014-03-21     2.0
2014-03-22     1.0
2014-03-23     3.0
2014-03-24    21.0
2014-03-25     3.0
2014-03-26    76.0
2014-03-28    71.0
2014-03-29     3.0
2014-03-30     4.0
2014-03-31     4.0
2014-04-01     5.0
2014-04-02    59.0
2014-04-04     3.0
2014-04-05     1.0
2014-04-06    22.0
2014-04-10     2.0
2014-04-12    59.0
2014-04-13     1.0
2014-04-17     5.0
2014-04-18     3.0
2014-04-21     2.0
Name: value, dtype: float64

time
2014-03-23     21.0
2014-03-24      3.0
2014-03-30     48.0
2014-04-01     35.0
2014-04-02     22.0
2014-04-03      4.0
2014-04-08     29.0
2014-04-10      2.0
2014-04-18    167.0
2014-04-19     16.0
2014-04-20      7.0
2014-04-22      8.0
2014-04-25     11.0
2014-04-27     10.0
2014-04-28     11.0
2014-05-01     23.0
Name: value, dtype: float64
time
2014-04-06    19.0
2014-05-04    13.0
Name: value, dtype: float64

In [44]:
# calculate weather app time
for id_val in ids:
    filtered_df = df[(df['id'] == id_val) & (df['variable'] == 'appCat.weather')]

    # # Group by 'time' and calculate the average of 'value'
    average_df = round(df.groupby(filtered_df['time'].dt.date)['value'].sum())
    print(average_df)

Series([], Name: value, dtype: float64)
time
2014-04-08    13.0
2014-04-09    52.0
2014-04-10    21.0
2014-04-13    54.0
2014-04-14     7.0
2014-04-15    33.0
2014-04-16     5.0
2014-04-20    53.0
2014-04-21    52.0
2014-04-23     9.0
2014-04-24    41.0
2014-04-25    89.0
2014-04-28    28.0
2014-04-29    18.0
2014-04-30     5.0
2014-05-01    15.0
2014-05-04    41.0
2014-05-05    16.0
2014-05-06    52.0
2014-05-07     6.0
2014-05-08    13.0
Name: value, dtype: float64
Series([], Name: value, dtype: float64)
Series([], Name: value, dtype: float64)
Series([], Name: value, dtype: float64)
time
2014-04-13      3.0
2014-04-14     50.0
2014-04-22      6.0
2014-04-23     12.0
2014-04-24     37.0
2014-04-25    104.0
2014-04-27     25.0
2014-04-29     59.0
2014-05-02     12.0
2014-05-08     78.0
2014-05-09     27.0
2014-05-10     77.0
2014-05-11     20.0
2014-05-21      8.0
2014-05-22      8.0
2014-05-26     99.0
2014-05-27    131.0
2014-05-28    184.0
Name: value, dtype: float64
time
2014-04-02     45.0
2014-04-03     88.0
2014-04-04     58.0
2014-04-05      5.0
2014-04-07    100.0
2014-04-08     54.0
2014-04-11     10.0
2014-04-12     42.0
2014-04-13    107.0
2014-04-14     66.0
2014-04-15     44.0
2014-04-16     79.0
2014-04-18     71.0
2014-04-19     22.0
2014-04-21     39.0
2014-04-22     45.0
2014-04-23     53.0
2014-04-24    131.0
2014-04-25     63.0
2014-04-26    105.0
2014-04-27    170.0
2014-05-01     40.0
2014-05-03     44.0
2014-05-04     30.0
2014-05-05     53.0
2014-05-06     32.0
2014-05-07      9.0
Name: value, dtype: float64
Series([], Name: value, dtype: float64)
Series([], Name: value, dtype: float64)
time
2014-04-06     25.0
2014-04-14     29.0
2014-04-21     97.0
2014-04-25     31.0
2014-04-26     60.0
2014-05-09     23.0
2014-05-10     78.0
2014-05-11    303.0
2014-05-12     31.0
Name: value, dtype: float64
time
2014-03-23    30.0
Name: value, dtype: float64
Series([], Name: value, dtype: float64)
time
2014-03-30     5.0
2014-04-09     1.0
2014-04-10    26.0
2014-04-12    16.0
2014-04-15    12.0
2014-04-23    27.0
2014-04-24    15.0
2014-05-02     7.0
2014-05-07     8.0
Name: value, dtype: float64
Series([], Name: value, dtype: float64)
Series([], Name: value, dtype: float64)
time
2014-03-23    367.0
2014-03-24     15.0
2014-03-26      6.0
2014-03-30      1.0
2014-04-06     98.0
2014-04-07     75.0
2014-04-11      8.0
2014-04-19      3.0
2014-04-26      7.0
2014-04-27     23.0
Name: value, dtype: float64
time
2014-04-25    44.0
2014-04-26    22.0
2014-04-27    87.0
Name: value, dtype: float64
time
2014-03-23    45.0
2014-03-30    32.0
Name: value, dtype: float64
Series([], Name: value, dtype: float64)
Series([], Name: value, dtype: float64)
Series([], Name: value, dtype: float64)
Series([], Name: value, dtype: float64)
time
2014-04-07    22.0
Name: value, dtype: float64
Series([], Name: value, dtype: float64)
time
2014-03-22     3.0
2014-03-25    17.0
2014-03-27    14.0
2014-03-30    51.0
2014-04-02    33.0
2014-04-06    24.0
2014-04-07    90.0
2014-04-24     5.0
2014-04-25    14.0
2014-04-26    25.0
Name: value, dtype: float64
Series([], Name: value, dtype: float64)
time
2014-04-06    5.0
2014-04-23    4.0
Name: value, dtype: float64